@import 'src/style/colors.scss';

.info {
  background-color: rgb(242, 238, 217);
  padding: 8px 16px;
  border-radius: 8px;
  margin-bottom: 32px;
  .fa-solid {
    margin-right: 8px;
    color: rgb(191, 170, 64);
    font-size: 1.2em;
  }
}

select {
  position: absolute;
  top: 0;
  right: 0;
}

.transferwindow-container {
  --ring-offset-shadow: 0 0 #000;
  --ring-shadow: 0 0 #000;
  --shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06) !important;

  .transferwindow {
    background-color: white;
    flex-wrap: wrap;
    height: 32px;
    align-items: baseline;
    gap: 16px;
    max-width: 90%;
    width: 480px;
    box-shadow: var(--ring-offset-shadow, 0 0 #0000), var(--ring-shadow, 0 0 #0000), var(--shadow) !important;
    border-radius: 6px;
    padding: 6px 18px;
    margin-bottom: 16px;
    overflow: hidden;
    position: relative;
    .state {
      width: 24px;
      text-align: center;
      .coming {
        color: $blue;
      }
      .open {
        color: $green;
      }
      .closed {
        color: $red;
      }
    }
    .index {
      font-size: 1.2rem;
      font-weight: 600;
    }
    .timerange {
      font-variant-numeric: tabular-nums;
    }
    .count {
      position: absolute;
      right: 108px;
      line-height: 32px;
      b {
        margin-right: 4px;
      }
    }
    .actions {
      display: flex;
      flex-direction: row;
      gap: 24px;
      position: absolute;
      top: 0;
      right: 0;

      .button {
        transition: 0.1s;
        font-weight: 500 !important;
        color: white;
        width: 44px;
        height: 44px;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        &.market {
          background-color: $green;
          right: 0;
        }
        &.presentation {
          background-color: darken($blue, 10%);
          right: 0;
        }
        &.list {
          background-color: $blue;
          right: 44px;
        }
        &:hover {
          opacity: 0.9;
        }
      }
    }
  }
}

/*
.transferwindow-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  width: 480px;
  max-width: 90vw;
  margin: 0 auto 0;
  .transferwindow {
    background-color: $white;
    margin-top: 16px;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    line-height: 38px;
    position: relative;
    overflow: hidden;
    &.interactive {
      transition: all 0.2s ease-in-out;
      cursor: pointer;
      &:hover {
        transform: scale(1.02);
      }
    }
    .progressbar {
      left: 0px;
      bottom: 0px;
      position: absolute;
      width: 100%;
      height: 4px;
      background-color: $hover;
      .progress {
        width: 0%;
        height: 100%;
        background-color: $green;
        transition: all 0.2s ease-in-out;
      }
    }
    .date {
      color: $label;
      font-size: 10px;
    }
    .count {
      width: 55px;
      font-weight: 600;
      text-align: right;
      .fas {
        color: $label;
        margin-left: 4px;
      }
    }
    .status-container {
      .status {
        float: left;
        height: 36px;
        line-height: 36px;
        font-weight: 600;
        border: 2px solid;
        padding: 0 8px;
        text-transform: uppercase;
        &.open {
          border-color: $green;
          background-color: $green;
          color: $white;
        }
        &.closed {
          border-color: $red;
          color: $red;
          font-size: 0.75rem;
        }
        &.coming {
          border-color: $blue;
          color: $blue;
        }
      }
    }
  }
}*/

.empty {
  width: 100%;
  display: flex;
  justify-content: center;
  color: $label;
  font-weight: 500;
  font-size: 0.8rem;
  margin-top: 32px;
}

.margin-left {
  margin-left: 8px;
}

.button {
  color: $white;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  justify-content: center;
  font-weight: 600;
  &.blue {
    background-color: $blue;
    &:hover {
      background-color: darken($blue, 10%);
    }
  }
  &.green {
    background-color: $green;
    &:hover {
      background-color: darken($green, 10%);
    }
  }
  &.red {
    background-color: $red;
    &:hover {
      background-color: darken($red, 10%);
    }
  }
}

#sold-players {
  min-width: 50%;
  margin-left: 48px;
  .display-name {
    width: 40%;
  }
  .price {
  }
}

.mobile {
  display: none !important;
}
.desktop {
  display: inline !important;
}

@media only screen and (max-width: 639px) {
  select {
    top: 136px !important;
    right: 16px !important;
  }

  .mobile {
    display: inline !important;
  }
  .desktop {
    display: none !important;
  }

  #view {
    flex-direction: column !important;
    .transferwindow {
      gap: 8px !important;
      padding: 4px 8px !important;
      max-width: calc(100% - 8px) !important;
      .count {
        right: 94px !important;
      }
    }
  }

  .status-container {
    width: 50px;
    .status {
      height: 24px;
      line-height: 24px;
      font-size: 12px;
      padding: 0 4px;
    }
  }
  .date {
    color: $label;
    font-size: 10px;
  }
}
