<div class="flex v">
  <div class="info">
    <i class="fa-solid fa-circle-info"></i>
    Transferphasen schließen immer um 20:00 Uhr des angegebenen Tages
  </div>

  <div id="view" class="flex h">
    <div class="transferwindow-container">
      <h3>Transferphasen</h3>
      <!--<select class="rounded shadow" (ngModelChange)="onSelectSeason($event)" [ngModel]="selected_season_id">
        <option value="{{ i.season_id }}" *ngFor="let i of seasonList" [selected]="i.season_id === selected_season_id">
          {{ i.season_name }}
        </option>
      </select>-->

      <div class="transferwindow flex" *ngFor="let transferwindow of transferwindowList; let i = index">
        <div class="state">
          <i
            class="coming fa-regular fa-hourglass-half"
            *ngIf="getStatusByTransferwindow(transferwindow).class == 'coming'"
            matTooltip="Liegt in der Zukunft"
          ></i>
          <i class="open fa-solid fa-pen-clip" *ngIf="getStatusByTransferwindow(transferwindow).class == 'open'" matTooltip="Geöffnet"></i>
          <i
            class="closed fa-solid fa-lock"
            *ngIf="getStatusByTransferwindow(transferwindow).class == 'closed'"
            matTooltip="Geschlossen"
          ></i>
        </div>
        <span class="index">#{{ transferwindowList.length - i }}</span>
        <span class="timerange"
          >{{ transferwindow.start_date | date : 'dd.MM.' }} - {{ transferwindow.end_date | date : 'dd.MM. HH:mm' }} Uhr</span
        >
        <div class="spacer"></div>
        <div class="count" *ngIf="getStatusByTransferwindow(transferwindow).class == 'closed'">
          <b>{{ transferwindow.count }}</b>
          <span class="desktop">Gebote</span>
          <i class="mobile fas fa-hand-holding-usd"></i>
        </div>
        <div class="actions">
          <div
            class="button market"
            *ngIf="getStatusByTransferwindow(transferwindow).class == 'open'"
            (click)="onOpenMarket()"
            matTooltip="Spielermarkt öffnen"
          >
            <i class="fa-solid fa-store"></i>
          </div>
          <div
            class="button list"
            *ngIf="getStatusByTransferwindow(transferwindow).class == 'closed'"
            (click)="onOpenList(transferwindow)"
            matTooltip="Gesamte Liste anzeigen"
          >
            <i class="fa-solid fa-list"></i>
          </div>
          <div
            class="button presentation"
            *ngIf="getStatusByTransferwindow(transferwindow).class == 'closed'"
            (click)="onOpenPresentation(transferwindow)"
            matTooltip="Präsentation anzeigen"
          >
            <i class="fa-regular fa-face-surprise"></i>
          </div>
        </div>
      </div>
    </div>

    <ng-container *ngIf="transferwindowList">
      <div class="empty" *ngIf="transferwindowList.length === 0 && !is_loading">Keine Transferfenster für ausgewähltes Jahr vorhanden</div>
    </ng-container>

    <div id="sold-players" *ngIf="sold_players.length > 0">
      <h3>Verkaufte Spieler</h3>
      <div class="table">
        <div class="table-body rounded shadow">
          <a class="table-row animated" *ngFor="let player of sold_players" [routerLink]="['/spieler/details', player.displayname]">
            <div class="item left big">
              <div class="position {{ player.position }}" matTooltip="{{ getPositionName(player.position) }}"></div>
              <img
                class="photo"
                src="{{ 'http://img.die-bestesten.de/img/player/' + player.season_id + '/' + player.player_id + '.png' }}"
                onerror="this.src='./../.././../assets/img/icon/32/player.png'"
              />
              <img
                class="team-badge"
                src="{{ 'http://img.die-bestesten.de/img/club/' + player.club_id + '.png' }}"
                onerror="this.src='./../.././../assets/img/placeholder.png'"
              />

              <span class="display-name">{{ player.displayname }}</span>
            </div>

            <div class="spacer"></div>
            <span class="item right price">{{ player.price | number }} <i class="fa-solid fa-peseta-sign"></i></span>
            <div class="item right">
              von:
              <div class="team-container margin-left">
                <img
                  class="club-badge"
                  src="{{ 'http://img.die-bestesten.de/img/team/' + player.season_id + '/' + player.team_id + '.png' }}"
                />
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
