<div class="container">
  <div class="column main" *ngIf="team">
    <h3>Kader</h3>
    <div class="table">
      <div class="table-header">
        <div class="item tiny sortable" (click)="sortBy('position')" [class.active]="orderBy === 'position'">
          <i class="fa-solid fa-sort" *ngIf="orderBy !== 'position'"></i>
          <i class="fa-solid fa-sort-up" *ngIf="orderBy === 'position' && orderDirection === 'ASC'"></i>
          <i class="fa-solid fa-sort-down" *ngIf="orderBy === 'position' && orderDirection === 'DESC'"></i>
          Pos.
        </div>
        <div class="item tiny sortable" (click)="sortBy('name')" [class.active]="orderBy === 'name'">
          <i class="fa-solid fa-sort" *ngIf="orderBy !== 'name'"></i>
          <i class="fa-solid fa-sort-up" *ngIf="orderBy === 'name' && orderDirection === 'ASC'"></i>
          <i class="fa-solid fa-sort-down" *ngIf="orderBy === 'name' && orderDirection === 'DESC'"></i>
          Name
        </div>
        <div class="spacer"></div>
        <div class="item sortable right" (click)="sortBy('price')" [class.active]="orderBy === 'price'">
          <i class="fa-solid fa-sort" *ngIf="orderBy !== 'price'"></i>
          <i class="fa-solid fa-sort-up" *ngIf="orderBy === 'price' && orderDirection === 'ASC'"></i>
          <i class="fa-solid fa-sort-down" *ngIf="orderBy === 'price' && orderDirection === 'DESC'"></i>
          Marktwert
        </div>
        <div class="item sortable right" (click)="sortBy('points')" [class.active]="orderBy === 'points'">
          <i class="fa-solid fa-sort" *ngIf="orderBy !== 'points'"></i>
          <i class="fa-solid fa-sort-up" *ngIf="orderBy === 'points' && orderDirection === 'ASC'"></i>
          <i class="fa-solid fa-sort-down" *ngIf="orderBy === 'points' && orderDirection === 'DESC'"></i>
          Punkte
        </div>
      </div>
      <div class="table-body shadow rounded">
        <a
          class="table-row animated"
          *ngFor="let player of currentSquad; let i = index"
          [routerLink]="['/spieler/details', player.displayname]"
        >
          <div class="item left position-bar {{ player.position }}">
            <img class="tiny" src="./../../../../../assets/img/flags/{{ player.country_code }}.svg" />
            <img class="small" src="{{ 'http://img.die-bestesten.de/img/club/' + player.club_id + '.png' }}" />

            <img
              class="photo circle"
              src="{{ 'http://img.die-bestesten.de/img/player/' + team.seasonId + '/' + player.player_id + '.png' }}"
              *ngIf="player.has_photo == '1'"
            />
            <img class="photo circle" src="./../.././../assets/img/icon/64/player.png" *ngIf="player.has_photo == '0'" />
          </div>

          <div class="item left name">
            <ng-container *ngIf="player.lastname === player.displayname">
              <span class="firstname">{{ player.firstname }}</span>
              <span class="lastname">{{ player.lastname }}</span>
            </ng-container>
            <ng-container *ngIf="player.lastname !== player.displayname">
              <span class="lastname">{{ player.displayname }}</span>
            </ng-container>
            <div class="captain" *ngIf="player.is_captain" [matTooltip]="'Mannschaftskapitän'">K</div>
          </div>
          <div class="spacer"></div>
          <div class="item right">{{ player.price | number }} <i class="fa-solid fa-peseta-sign"></i></div>
          <div class="item right points">
            <ng-container *ngIf="player.points">{{ player.points }}</ng-container>
            <ng-container *ngIf="!player.points">-</ng-container>
          </div>
        </a>
      </div>
    </div>

    <db-loading class="loading" *ngIf="currentSquad.length === 0 && loading"></db-loading>
    <div class="empty" *ngIf="currentSquad.length === 0 && !loading">Der Kader ist leer.</div>

    <h3>Ehemalige Spieler</h3>
    <div class="table">
      <div class="table-body shadow rounded">
        <a
          class="table-row animated"
          *ngFor="let player of formerSquad; let i = index"
          [routerLink]="['/spieler/details', player.displayname]"
        >
          <div class="item left position-bar {{ player.position }}">
            <img class="tiny" src="./../../../../../assets/img/flags/{{ player.country_code }}.svg" />
            <img
              class="small"
              src="{{ 'http://img.die-bestesten.de/img/club/' + player.club_id + '.png' }}"
              onerror="this.src='./../.././../assets/img/placeholder.png'"
            />

            <img
              class="photo circle"
              src="{{ 'http://img.die-bestesten.de/img/player/' + team.seasonId + '/' + player.player_id + '.png' }}"
              onerror="this.src='./../.././../assets/img/icon/64/player.png'"
            />
          </div>

          <div class="item left name">
            <ng-container *ngIf="player.lastname === player.displayname">
              <span class="firstname">{{ player.firstname }}</span>
              <span class="lastname">{{ player.lastname }}</span>
            </ng-container>
            <ng-container *ngIf="player.lastname !== player.displayname">
              <span class="lastname">{{ player.displayname }}</span>
            </ng-container>
          </div>
          <div class="spacer"></div>
          <div class="item right">{{ player.price | number }} <i class="fa-solid fa-peseta-sign"></i></div>
          <div class="item right points">
            <ng-container *ngIf="player.points">{{ player.points }}</ng-container>
            <ng-container *ngIf="!player.points">-</ng-container>
          </div>
        </a>
      </div>
    </div>

    <div class="empty" *ngIf="formerSquad.length === 0 && !loading">Keine ehemaligen Spieler.</div>
  </div>

  <div class="column side">
    <h3>Status</h3>

    <div class="box rounded shadow center">
      <ng-container *ngIf="isValidSquad"><i class="square fas fa-check-square positive"></i> Kader ist gültig</ng-container>
      <ng-container *ngIf="!isValidSquad"><i class="square fas fa-minus-square negative"></i> Kader ist ungültig</ng-container>
    </div>

    <div class="details">
      <div class="row values">
        <div class="condition header min">MIN</div>
        <div class="team header"></div>
        <div class="condition header max">MAX</div>
      </div>

      <ng-container *ngFor="let condition of conditionList">
        <div class="row position">{{ condition.position }}</div>
        <div class="row values">
          <div class="condition min">{{ condition.min }}</div>
          <div
            class="team"
            [class.positive]="
              getPlayerCountAtPosition(condition.positionValue) >= condition.min &&
              getPlayerCountAtPosition(condition.positionValue) <= condition.max
            "
          >
            {{ getPlayerCountAtPosition(condition.positionValue) }}
          </div>
          <div class="condition max">{{ condition.max }}</div>
        </div>
      </ng-container>
    </div>

    <div class="margin"></div>

    <h3>Spotlight</h3>

    <ng-container *ngIf="topPlayerPoints">
      <h4>Bester Spieler</h4>
      <a [routerLink]="['/spieler/details', topPlayerPoints.displayname]" class="box shadow rounded">
        <img
          class="photo"
          *ngIf="topPlayerPoints.has_photo == '1'"
          src="{{ 'http://img.die-bestesten.de/img/player/' + team.seasonId + '/' + topPlayerPoints.player_id + '.png' }}"
        />
        <img class="photo" src="./../.././../assets/img/icon/128/player.png" *ngIf="topPlayerPoints.has_photo == '0'" />
        <div class="name">
          <ng-container *ngIf="topPlayerPoints.lastname === topPlayerPoints.displayname">
            <span class="firstname">{{ topPlayerPoints.firstname }}</span>
            <span class="lastname">{{ topPlayerPoints.lastname }}</span>
          </ng-container>
          <ng-container *ngIf="topPlayerPoints.lastname !== topPlayerPoints.displayname">
            <span class="lastname">{{ topPlayerPoints.displayname }}</span>
          </ng-container>
        </div>

        <div class="spacer"></div>
        <div class="points">
          <div class="value">{{ topPlayerPoints.points }}</div>
          <div class="key">Punkte</div>
        </div>
        <img class="badge" src="{{ 'http://img.die-bestesten.de/img/club/' + topPlayerPoints.club_id + '.png' }}" />
      </a>
    </ng-container>

    <ng-container *ngIf="topPlayerPrice">
      <h4>Teuerster Spieler</h4>
      <a [routerLink]="['/spieler/details', topPlayerPrice.displayname]" class="box shadow rounded">
        <img
          class="photo"
          *ngIf="topPlayerPrice.has_photo == '1'"
          src="{{ 'http://img.die-bestesten.de/img/player/' + team.seasonId + '/' + topPlayerPrice.player_id + '.png' }}"
        />
        <img class="photo" src="./../.././../assets/img/icon/128/player.png" *ngIf="topPlayerPrice.has_photo == '0'" />
        <div class="name">
          <ng-container *ngIf="topPlayerPrice.lastname === topPlayerPrice.displayname">
            <span class="firstname">{{ topPlayerPrice.firstname }}</span>
            <span class="lastname">{{ topPlayerPrice.lastname }}</span>
          </ng-container>
          <ng-container *ngIf="topPlayerPrice.lastname !== topPlayerPrice.displayname">
            <span class="lastname">{{ topPlayerPrice.displayname }}</span>
          </ng-container>
        </div>

        <div class="spacer"></div>
        <div class="points">
          <div class="value">
            {{ topPlayerPrice.price / 1000000 | number : '1.0' }} <span class="unit">Mio. <i class="fa-solid fa-peseta-sign"></i></span>
          </div>
          <div class="key">Marktwert</div>
        </div>
        <img class="badge" src="{{ 'http://img.die-bestesten.de/img/club/' + topPlayerPrice.club_id + '.png' }}" />
      </a>
    </ng-container>

    <div class="margin"></div>

    <h3>Statistik</h3>

    <div class="box shadow rounded">
      <div class="points">
        <div class="value">{{ currentSquad.length }}</div>
        <div class="key">Kadergröße</div>
      </div>
      <div class="spacer"></div>
      <div class="points">
        <div class="value">{{ currentSquad.length + formerSquad.length }}</div>
        <div class="key">Insgesamt</div>
      </div>
    </div>

    <div class="box shadow rounded center">
      <div class="points">
        <div class="value">
          {{ getTotalPrice() | number : '1.0' }} <span class="unit"><i class="fa-solid fa-peseta-sign"></i></span>
        </div>
        <div class="key">Marktwert</div>
      </div>
    </div>
  </div>
</div>
