@import 'src/style/colors.scss';

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  .column {
    &.main {
      flex-grow: 3;
      flex-shrink: 0;
      flex-basis: 240px;
    }
    &.side {
      flex-grow: 1;
      flex-basis: 240px;
      position: sticky;
      top: 0;
      overflow-y: auto;
      overflow-x: hidden;
      margin-bottom: 24px;
      .margin {
        width: 100%;
        height: 12px;
      }
    }
    @media only screen and (max-width: 639px) {
      &.side {
        position: inherit;
      }
    }
  }
}

.table-row {
  .name {
    align-items: baseline;
    span {
      padding: 0 2px;
    }
    .firstname {
      color: $label;
      font-size: 0.8rem;
    }
    .lastname {
      font-weight: 600;
    }
    .captain {
      background-color: #c23616;
      color: #eee;
      font-weight: 600;
      height: 18px;
      width: 18px;
      border-radius: 10px;
      font-size: 11px;
      margin-left: 4px;
      transform: translateY(-2px);
      line-height: 18px;
      text-align: center;
    }
  }
}

.box {
  color: inherit;
  position: relative;
  .photo {
    height: 100px;
    width: 100px;
    transform: translateY(10px);
    margin-top: -16px;
    border-radius: 50%;
    object-fit: cover;
  }
  .name {
    display: flex;
    flex-direction: column;
    line-height: 16px;
    .firstname {
      color: $label;
      font-size: 0.8rem;
    }
    .lastname {
      font-weight: 600;
      font-size: 1.2rem;
    }
  }
  .points {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
    z-index: 2;
    .key {
      color: $label;
      font-size: 0.8rem;
    }
    .value {
      font-weight: 600;
      font-size: 1.8rem;
      .unit {
        font-size: 1rem;
      }
    }
  }
  .badge {
    position: absolute;
    right: -16px;
    bottom: -16px;
    opacity: 0.3;
    height: 84px;
    width: 84px;
    z-index: 1;
  }
}

.details {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-left: 20%;
  .row {
    display: flex;
    justify-content: center;
    font-size: 10px;
    height: 24px;
    line-height: 24px;
    &.position {
      padding-top: 2px;
      border-top: 1px solid $hover;
    }
    &.values {
      margin-bottom: 2px;
    }
    .condition {
      font-size: 12px;
      flex-grow: 1;
      &.header {
        font-size: 10px;
      }
      &.min {
        text-align: right;
      }
      &.max {
        text-align: left;
      }
    }
    .team {
      flex-grow: 2;
      font-size: 18px;
      font-weight: 600;
      text-align: center;
      color: $red;
      &.positive {
        color: $green;
      }
    }
  }
}

.loading {
  height: 500px;
  width: 100%;
}

.empty {
  width: 100%;
  text-align: center;
  margin-bottom: 36px;
  font-style: italic;
  color: $label;
}

.square {
  margin-right: 8px;
  font-size: 22px;
  &.positive {
    color: $green;
  }
  &.negative {
    color: $darkRed;
  }
}

@media only screen and (max-width: 639px) {
  .table-row {
    .tiny {
      display: none;
    }
    .firstname {
      display: none;
    }
  }
}
