@import 'src/style/colors.scss';

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  .column {
    &.main {
      flex-grow: 3;
      flex-shrink: 0;
      flex-basis: 240px;
    }
    &.side {
      flex-grow: 1;
      flex-basis: 240px;
      position: sticky;
      top: 0;
      overflow-y: auto;
      overflow-x: hidden;
      margin-bottom: 24px;
      select {
        width: 100%;
        height: 40px;
        text-align-last: center;
        cursor: pointer;
        padding-left: 12px;
        margin-bottom: 16px;
        outline: none;
        background-color: $white;
      }
      .formation-group {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .option {
          background-color: $white;
          text-align: center;
          margin: 0 8px 8px 8px;
          height: 36px;
          line-height: 36px;
          border-radius: 4px;
          padding: 0 8px;
          cursor: pointer;
          transition: all 0.2s ease-in-out;
          flex-grow: 1;
          flex-shrink: 1;
          justify-content: center;
          font-weight: 600;
          &:hover {
            background-color: $red;
            color: $white;
          }
          &.selected {
            background-color: $darkRed;
            color: $white;
          }
          &.disabled {
            pointer-events: none;
            opacity: 0.5;
          }
        }
        :first-child {
          margin-left: 0px;
        }
        :last-child {
          margin-right: 0px;
        }
      }
    }
    @media only screen and (max-width: 639px) {
      &.side {
        position: inherit;
      }
    }
  }
}

.status {
  font-size: 0.8rem;
  float: right;
  line-height: 26px;
  margin-right: 8px;
  transform: translateY(5px);
  &.isModified {
    color: $red;
  }
  &.isSaving {
    color: $blue;
    .icon {
      animation: rotate 1.8s linear infinite;
    }
  }
  &.saved {
    color: $green;
  }
  &.error {
    color: $red;
  }
}

.field-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
  .field {
    width: 100%;
    max-width: 638px;
    height: 100%;
    max-height: 492px;
    background-size: cover;
    position: relative;
    background-color: #0dc56f;
    .no-lineup-container {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      background: rgba(0, 0, 0, 0.3);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: $white;
      .message {
        text-align: center;
        font-weight: 600;
      }
      .formation {
        width: 30%;
        text-align: center;
        background-color: $red;
        color: $white;
        cursor: pointer;
        font-weight: 600;
        margin: 10px;
        padding: 10px;
        transition: all 0.2s ease-in-out;
        &:hover {
          background-color: lighten($red, 5%);
        }
      }
      .icon {
        width: 50%;
        max-width: 128px;
        margin: 32px;
      }
    }
    .lineup-player {
      width: 20%;
      margin: 4px;
    }
    .part {
      position: absolute;
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      &.goalkeeper {
        bottom: -8%;
        z-index: 3;
      }
      &.defender {
        bottom: 20%;
        z-index: 3;
      }
      &.midfielder {
        bottom: 48%;
        z-index: 2;
      }
      &.forward {
        bottom: 76%;
        z-index: 1;
      }
    }
    #field-background {
      height: 100%;
      width: 100%;
    }
  }
}

.substitution {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.row-container {
  margin-bottom: 24px;
  .row {
    &.current {
      height: 48px !important;
      line-height: 48px !important;
    }
    .position {
      height: 100%;
      width: 6px;
      transform: translateX(-12px);
      &.GOALKEEPER {
        background-color: $green;
      }
      &.DEFENDER {
        background-color: $yellow;
      }
      &.MIDFIELDER {
        background-color: $blue;
      }
      &.FORWARD {
        background-color: $red;
      }
    }
    .photo {
      height: 48px;
      width: 48px;
      margin: 0px 2px;
    }
    .name {
      margin-left: 4px;
      flex-shrink: 1;
      overflow: hidden;
      direction: rtl;
      span {
        padding: 0 2px;
      }
      .firstname {
        color: $label;
        font-size: 0.8rem;
      }
      .lastname {
        font-weight: 600;
      }
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
