<div class="container">
  <div class="column main">
    <h3>
      Startelf
      <span class="status {{ status }}" *ngIf="status">
        <span *ngIf="status === 'isModified'"><i class="fas fa-exclamation-triangle"></i> Ungespeichertee Änderungen</span>
        <span *ngIf="status === 'isSaving'"><i class="fas fa-circle-notch icon"></i> Änderungen werden gespeichert</span>
        <span *ngIf="status === 'saved'"><i class="fas fa-check"></i> Änderungen erfolgreich gespeichert</span>
        <span *ngIf="status === 'error'"><i class="fas fa-times"></i> Fehler beim Speichern</span>
      </span>
    </h3>
    <div class="field-container">
      <div class="field">
        <ng-container *ngIf="isValidLineup && isValidSquad">
          <div class="part goalkeeper">
            <app-lineup-player
              class="lineup-player"
              [team]="team"
              [player]="getPlayerByPosition('GOALKEEPER')[0]"
              [isInteractable]="isTeamOwner && isBeforeDeadline && !transferwindow"
              (removePlayer)="onRemovePlayer($event)"
            ></app-lineup-player>
          </div>

          <div class="part defender">
            <app-lineup-player
              class="lineup-player"
              [class.three]="formation[1] === 3"
              [class.four]="formation[1] === 4"
              [team]="team"
              [player]="player"
              [isInteractable]="isTeamOwner && isBeforeDeadline && !transferwindow"
              (removePlayer)="onRemovePlayer($event)"
              *ngFor="let player of getPlayerByPosition('DEFENDER')"
            ></app-lineup-player>
          </div>

          <div class="part midfielder">
            <app-lineup-player
              class="lineup-player"
              [class.three]="formation[2] === 3"
              [class.four]="formation[2] === 4"
              [class.five]="formation[2] === 5"
              [team]="team"
              [player]="player"
              [isInteractable]="isTeamOwner && isBeforeDeadline && !transferwindow"
              (removePlayer)="onRemovePlayer($event)"
              *ngFor="let player of getPlayerByPosition('MIDFIELDER')"
            ></app-lineup-player>
          </div>

          <div class="part forward">
            <app-lineup-player
              class="lineup-player"
              [class.one]="formation[3] === 1"
              [class.two]="formation[3] === 2"
              [class.three]="formation[3] === 3"
              [team]="team"
              [player]="player"
              [isInteractable]="isTeamOwner && isBeforeDeadline && !transferwindow"
              (removePlayer)="onRemovePlayer($event)"
              *ngFor="let player of getPlayerByPosition('FORWARD')"
            ></app-lineup-player>
          </div>
        </ng-container>

        <ng-container *ngIf="!isValidLineup && lineup && isValidSquad && isTeamOwner">
          <div class="no-lineup-container" *ngIf="isBeforeDeadline">
            <div class="message">
              Keine gültige Aufstellung. <br />
              Wähle zuerst eine Formation aus: <br />
            </div>
            <div class="formation" (click)="onSelectFormation(451, true)">4 5 1</div>
            <div class="formation" (click)="onSelectFormation(442, true)">4 4 2</div>
            <div class="formation" (click)="onSelectFormation(433, true)">4 3 3</div>
            <div class="formation" (click)="onSelectFormation(352, true)">3 5 2</div>
            <div class="formation" (click)="onSelectFormation(343, true)">3 4 3</div>
          </div>

          <div class="no-lineup-container" *ngIf="!isBeforeDeadline">
            <div class="message">Ungültige Aufstellung (nach Start des Spieltags)</div>
            <img class="icon" src="./../../../../../assets/img/dead.png" />
          </div>
        </ng-container>

        <ng-container *ngIf="!isValidSquad && phase === 'lineup_phase'">
          <div class="no-lineup-container">
            <div class="message">Ungültiger Kader</div>
            <img class="icon" src="./../../../../../assets/img/icon/128/box.png" />
          </div>
        </ng-container>

        <ng-container *ngIf="!isValidSquad && phase === 'transfer_phase'">
          <div class="no-lineup-container">
            <div class="message">
              Transfermarkt offen und dein Kader hat sich verändert <br />
              Warte bis zum Ende der letzten Transferphase
            </div>
            <img class="icon" src="./../../../../../assets/img/icon/128/box.png" />
          </div>
        </ng-container>

        <img id="field-background" src="./../../../../../assets/img/field.png" />
      </div>
    </div>

    <h3>Ersatzbank</h3>
    <div class="substitution">
      <app-substitution-player
        [team]="team"
        [player]="player"
        [isInteractable]="isTeamOwner && isBeforeDeadline"
        [isAddable]="hasPositionEmptySlots(player.position)"
        (addPlayer)="onAddPlayer($event)"
        *ngFor="let player of getSubstitution()"
      ></app-substitution-player>
    </div>
  </div>

  <div class="column side">
    <h3>Spieltagsauswahl</h3>
    <select id="matchdays" class="rounded shadow" (change)="onSelectMatchday($event.target)">
      <option value="{{ i }}" *ngFor="let i of matchdayList" [selected]="i === matchdayNumber">{{ i }}</option>
    </select>

    <ng-container *ngIf="isTeamOwner && isBeforeDeadline && isValidSquad && !transferwindow">
      <h3>Formation</h3>
      <div class="formation-group">
        <div
          class="option box shadow center rounded"
          value="343"
          (click)="onSelectFormation(343)"
          [class.selected]="getFormationString(formation) === '343'"
        >
          3 4 3
        </div>
        <div
          class="option box shadow center rounded"
          value="352"
          (click)="onSelectFormation(352)"
          [class.selected]="getFormationString(formation) === '352'"
        >
          3 5 2
        </div>
      </div>

      <div class="formation-group">
        <div
          class="option box shadow center rounded"
          value="433"
          (click)="onSelectFormation(433)"
          [class.selected]="getFormationString(formation) === '433'"
        >
          4 3 3
        </div>
        <div
          class="option box shadow center rounded"
          value="442"
          (click)="onSelectFormation(442)"
          [class.selected]="getFormationString(formation) === '442'"
        >
          4 4 2
        </div>
        <div
          class="option box shadow center rounded"
          value="451"
          (click)="onSelectFormation(451)"
          [class.selected]="getFormationString(formation) === '451'"
        >
          4 5 1
        </div>
      </div>
      <div class="formation-group">
        <div
          class="option box shadow center rounded"
          value="532"
          (click)="onSelectFormation(532)"
          [class.selected]="getFormationString(formation) === '532'"
        >
          5 3 2
        </div>
        <div
          class="option box shadow center rounded"
          value="541"
          (click)="onSelectFormation(541)"
          [class.selected]="getFormationString(formation) === '541'"
        >
          5 4 1
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="!isTeamOwner || !isBeforeDeadline">
      <h3>Formation</h3>
      <div class="box rounded shadow center" *ngIf="formation">{{ getFormationString(formation) }}</div>
      <div class="box rounded shadow center" *ngIf="!formation">Ungültig</div>
    </ng-container>

    <h3>Ergebnis</h3>
    <div class="box shadow center rounded">{{ getPoints() }}</div>
  </div>
</div>
