@import './../../../../../colors.scss';

#container {
  width: 100%;
  mat-form-field {
    width: 100%;
    .error {
      font-size: 10px;
      color: $red;
      animation: popup 0.5s ease-in-out;
      position: absolute;
      transform: translate(0px, 10px);
    }
  }

  #finish {
    display: flex;
    .button {
      text-align: center;
      cursor: pointer;
      font-weight: bold;
      transition: all 0.2s ease-in-out;
      border-radius: 3px;
      border-bottom: transparent;
      flex-grow: 1;
      &.cancel {
        background-color: transparent;
        color: $darkgray;
        margin-right: 12px;
      }
      &.cancel:hover {
        color: $blue;
      }
      &.disabled {
        pointer-events: none;
        background-color: transparent;
        color: $gray;
        cursor: default;
        border-color: transparent;
      }
    }
  }
}
