<form id="container">
  <mat-form-field>
    <mat-label>Kicker ID</mat-label>
    <input matInput type="number" name="kickerId" [(ngModel)]="editPlayer.kickerId" (ngModelChange)="onValidateInput('kickerId')" />
    <div class="error" *ngIf="error.kickerId.duplicate">Kicker ID ist bereits vergeben</div>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Ligainsider ID</mat-label>
    <input
      matInput
      type="number"
      name="ligainsiderId"
      [(ngModel)]="editPlayer.ligainsiderId"
      (ngModelChange)="onValidateInput('ligainsiderId')"
    />
    <div class="error" *ngIf="error.ligainsiderId.duplicate">Ligainsider ID ist bereits vergeben</div>
  </mat-form-field>

  <div id="finish">
    <button type="submit" class="button cancel" (click)="onCancel()">Abbrechen</button>
    <button type="submit" class="button save" (click)="onSave()" [class.disabled]="dataIsInvalid()" [disabled]="dataIsInvalid()">
      Speichern
    </button>
  </div>
</form>
