header {
  height: 48px;
  width: 100vw;
  background-color: white;
  border-bottom: 1px solid #e4e9f6;
  position: absolute;
  z-index: 3;
  display: none;
  top: 0;
  left: 0;
  position: fixed;
  align-items: center;
  button {
    border: none;
    height: 48px;
    width: 48px;
    line-height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    background-color: transparent;
    .icon {
      transform: translateY(4px);
    }
  }

  .photo {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    margin-right: 12px;
    border: 1px solid var(--border-color);
    transform: translateY(1px);
  }
}

@media only screen and (max-width: 639px) {
  header {
    display: flex;
  }
}
