<header *ngIf="auth_service.isLoggedIn()">
  <button (click)="onToggleMenu()"><i class="icon fi fi-br-menu-burger"></i></button>
  <div class="spacer"></div>
  <a [routerLink]="['manager', api_service.status.manager.manager_name]"
    ><img class="photo" src="{{ 'http://img.die-bestesten.de/img/manager/' + api_service.status.manager.manager_id + '.jpg' }}"
  /></a>
</header>
