<div class="container">
  <div class="column selection">
    <div class="matchdays" *ngIf="apiService.status">
      <div class="prev step" (click)="onSelectMatchday(+selectedMatchday - 1)" [class.disabled]="selectedMatchday === 1">
        <i class="fas fa-chevron-left"></i>
      </div>
      <div class="current">{{ selectedMatchday }}. Spieltag</div>
      <div
        class="next step"
        (click)="onSelectMatchday(+selectedMatchday + 1)"
        [class.disabled]="selectedMatchday === apiService.status.matchday.number"
      >
        <i class="fas fa-chevron-right"></i>
      </div>
    </div>
    <div class="clubs">
      <ng-container *ngFor="let club of clubList">
        <div class="club" [class.selected]="club === selectedClub">
          <img class="logo" src="./../../../../assets/img/club/{{ club.clubId }}.png" (click)="onSelectClub(club)" />
          <div class="background" [class.selected]="club === selectedClub"></div>
        </div>
      </ng-container>
    </div>
  </div>
  <ng-container *ngIf="selectedClub">
    <div class="column team">
      <div class="info" *ngIf="!isEditable"><i class="icon fas fa-info-circle"></i> Dieser Spieltag liegt in der Vergangenheit</div>
      <i class="fas fa-circle-notch loading" *ngIf="clubIsLoading"></i>

      <ng-container *ngIf="!clubIsLoading && isMatchdayWithoutRating">
        <div class="info"><i class="icon fas fa-info-circle"></i> Für diesen Spieltag wurde noch keine Aufstellung eingetragen</div>

        <div class="button" (click)="onAddPlayerRating()">Aufstellung eintragen!</div>
      </ng-container>

      <ng-container *ngIf="playerList && !clubIsLoading && !isMatchdayWithoutRating">
        <div class="teamname">{{ selectedClub.name }}</div>

        <div class="playerList">
          <div class="title">
            Startelf <span [class.positive]="getStartLineup().length == 11">({{ getStartLineup().length }})</span>
          </div>
          <div class="lineup" *ngIf="getStartLineup().length > 0">
            <app-player-rating-row
              [player]="player"
              [isEditable]="isEditable"
              (editRating)="onEditRating($event)"
              *ngFor="let player of playerList | playerRatingFilter : 'startLineup'"
            ></app-player-rating-row>
          </div>
          <div class="empty" *ngIf="getStartLineup().length === 0">Kein Spieler zur Startelf hinzugefügt</div>
        </div>

        <div class="playerList">
          <div class="title">Ersatzbank ({{ getSubstitution().length }})</div>
          <div class="lineup" *ngIf="getSubstitution().length > 0">
            <app-player-rating-row
              [player]="player"
              [isEditable]="isEditable"
              (editRating)="onEditRating($event)"
              *ngFor="let player of playerList | playerRatingFilter : 'substitution'"
            ></app-player-rating-row>
          </div>
          <div class="empty" *ngIf="getSubstitution().length === 0">Kein Spieler zur Ersatzbank hinzugefügt</div>
        </div>

        <div class="playerList">
          <div class="title">Restlicher Kader</div>
          <div class="lineup">
            <app-player-rating-row
              [player]="player"
              [isEditable]="isEditable"
              (editRating)="onEditRating($event)"
              *ngFor="let player of playerList | playerRatingFilter : 'rest'"
            >
            </app-player-rating-row>
          </div>
        </div>
      </ng-container>
    </div>
  </ng-container>
  <ng-container *ngIf="!selectedClub">
    <div class="column unselect">
      <i class="icon fas fa-shield-alt"></i>
      <div class="title">Club auswählen</div>
    </div>
  </ng-container>
</div>
