@import './../../../../colors.scss';

.container {
  display: flex;
  flex-wrap: wrap;
  .column {
    margin: 20px;
    &.selection {
      flex-basis: 180px;
      flex-grow: 1;
      .matchdays {
        display: flex;
        height: 48px;
        text-align: center;
        align-items: center;
        height: 32px;
        line-height: 32px;
        margin-bottom: 20px;
        .step {
          width: 32px;
          cursor: pointer;
          transition: all 0.2s ease-in-out;
          &.disabled {
            color: $mediumgray;
            pointer-events: none;
            cursor: default;
            background-color: transparent;
          }
          &:hover:not(.disabled) {
            color: $blue;
          }
        }
        .current {
          flex-grow: 1;
          font-weight: bold;
          border-radius: 4;
          background-color: $white;
          border-bottom: 2px solid $mediumgray;
        }
      }
      .clubs {
        display: flex;
        flex-wrap: wrap;
        .club {
          height: 40px;
          width: 40px;
          padding: 10px;
          transform: scale(0.8);
          transition: all 0.2s ease-in-out;
          cursor: pointer;
          position: relative;
          .logo {
            height: 100%;
            width: 100%;
            z-index: 2;
            position: relative;
          }
          .background {
            height: 100%;
            width: 100%;
            border-radius: 40px;
            background-color: $white;
            position: absolute;
            top: 0px;
            left: 0px;
            z-index: 1;
            transform: scale(0);
            transition: all 0.2s ease-in-out;
            &.selected {
              transform: scale(1);
            }
          }
          &.selected {
            transform: scale(1);
          }
          &:hover {
            transform: scale(1);
          }
        }
      }
    }
    &.team {
      min-width: calc(100% - 260px);
      flex-grow: 1;
      position: relative;
      .loading {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -100%);
        font-size: 32px;
        animation: rotating 1.5s infinite linear;
      }
      .info {
        width: 100%;
        height: 32px;
        line-height: 32px;
        text-align: center;
        border-bottom: 2px solid $mediumgray;
        background-color: $white;
        margin-bottom: 20px;
        .icon {
          color: $darkgray;
          margin-right: 4px;
        }
      }
      .teamname {
        font-size: 18px;
        font-weight: bold;
      }
      .playerList {
        border-radius: 4px;
        .title {
          font-size: 14px;
          font-weight: bold;
          margin: 16px 0 8px;
        }
        .lineup {
          border-radius: 6px;
          border-bottom: 1px solid $mediumgray;
          overflow: hidden;
        }
        .empty {
          color: $darkgray;
          height: 31px;
          line-height: 31px;
          font-style: italic;
        }
      }
    }
    &.unselect {
      min-width: calc(100% - 260px);
      height: 400px;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .icon {
        font-size: 3em;
        color: $mediumgray;
        margin: 32px;
      }
      .title {
        font-size: 24px;
        letter-spacing: 2px;
      }
    }
  }
}

.button {
  font-size: 0.6rem;
  letter-spacing: 1px;
}

@keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
