<ng-container *ngFor="let notification of notificationService.notificationStack.reverse(); let i = index">
  <div class="notification {{ notification.type }}" [ngStyle]="{ 'bottom.px': 20 + 62 * i }">
    {{ notification.message }}
  </div>
</ng-container>
