@import './../../../../colors.scss';

.notification {
  padding: 0 25px;
  position: fixed;
  height: 46px;
  line-height: 48px;
  right: 20px;
  border-radius: 4px;
  color: $light;
  transition: all 0.3s ease-in-out;
  z-index: 2000;
  &.positive {
    background-color: $green;
    border-bottom: solid 2px darken($green, 10%);
  }
  &.negative {
    background-color: $red;
    border-bottom: solid 2px darken($red, 10%);
  }
}
