@import './../../../../../colors.scss';

#container {
  width: 100%;
  mat-form-field {
    width: 100%;
  }
  mat-checkbox {
    width: 100%;
    margin: 4px 0 8px;
  }

  .date {
    width: 100%;
    display: flex;
    .small {
      width: 20%;
    }
    .middle {
      width: 40%;
    }
    .seperator {
      width: 5%;
    }
    .validator {
      width: 10%;
      line-height: 60px;
      text-align: center;
      color: $green;
    }
  }

  #finish {
    display: flex;
    .button {
      text-align: center;
      cursor: pointer;
      font-weight: bold;
      transition: all 0.2s ease-in-out;
      border-radius: 3px;
      border-bottom: transparent;
      flex-grow: 1;
      &.cancel {
        background-color: transparent;
        color: $darkgray;
        margin-right: 12px;
      }
      &.cancel:hover {
        color: $blue;
      }
      &.disabled {
        pointer-events: none;
        background-color: transparent;
        color: $gray;
        cursor: default;
        border-color: transparent;
      }
    }
  }
}
