<div id="container">
  <div id="content" *ngIf="player">
    <div class="box third">
      <div class="title">Allgemeine Daten</div>
      <div class="edit" (click)="onOpenEditGeneralDialog()"><i class="fas fa-edit"></i></div>
      <div class="item">
        <div class="key">Vorname</div>
        <div class="value copy" (click)="copyToClipboard(player.firstname)">{{ player.firstname }}</div>
      </div>
      <div class="item">
        <div class="key">Nachname</div>
        <div class="value copy" (click)="copyToClipboard(player.lastname)">{{ player.lastname }}</div>
      </div>
      <div class="item">
        <div class="key">Anzeigename</div>
        <div class="value copy" (click)="copyToClipboard(player.displayname)">{{ player.displayname }}</div>
      </div>
      <div class="item">
        <div class="key"><i class="fas fa-globe-europe"></i> Nation</div>
        <div class="value copy" *ngIf="player.countryCode" (click)="copyToClipboard(player.countryName)">
          {{ player.countryName }}
          <img class="flag" src="./../../../../../assets/img/flags/{{ player.countryCode }}.svg" />
        </div>
        <div class="value missing" *ngIf="!player.countryCode">Unbekannt</div>
      </div>
      <div class="item">
        <div class="key"><i class="fas fa-home"></i> Geburtsort</div>
        <div class="value copy" *ngIf="player.city" (click)="copyToClipboard(player.city)">
          <span *ngIf="!isForeignCity(player.city)"> {{ player.city }}</span>
          <span *ngIf="isForeignCity(player.city)"> {{ player.city.substr(0, player.city.length - 5) }}</span>
          <img
            class="flag"
            src="./../../../../../assets/img/flags/{{ isForeignCity(player.city) }}.svg"
            *ngIf="isForeignCity(player.city)"
          />
        </div>
        <div class="value missing" *ngIf="!player.city">Unbekannt</div>
      </div>
      <div class="item">
        <div class="key"><i class="fas fa-calendar-alt"></i> Geboren am</div>
        <div class="value" *ngIf="player.dateOfBirth">
          {{ player.dateOfBirth | date : 'dd.MM.yyyy' }}
        </div>
        <div class="value missing" *ngIf="!player.dateOfBirth">Unbekannt</div>
      </div>
      <div class="item" *ngIf="player.dateOfBirth">
        <div class="key"><i class="fas fa-birthday-cake"></i> Alter</div>
        <div class="value copy" (click)="copyToClipboard(player.getAge().toString())">{{ player.getAge() }}</div>
      </div>
      <div class="item">
        <div class="key"><i class="fas fa-ruler-vertical"></i> Größe</div>
        <div class="value copy" *ngIf="player.height" (click)="copyToClipboard((player.height / 100).toFixed(2) + ' m')">
          {{ (player.height / 100).toFixed(2) }} m
        </div>
        <div class="value missing" *ngIf="!player.height">Unbekannt</div>
      </div>
      <div class="item">
        <div class="key"><i class="fas fa-weight-hanging"></i> Gewicht</div>
        <div class="value copy" *ngIf="player.weight" (click)="copyToClipboard(player.weight + ' kg')">{{ player.weight }} kg</div>
        <div class="value missing" *ngIf="!player.weight">Unbekannt</div>
      </div>
    </div>

    <div class="box third no-overflow">
      <div class="title">Aktuelle Saison</div>
      <div class="edit" (click)="onOpenEditPlayerInSeasonDialog(apiService.status.season.season_id)"><i class="fas fa-edit"></i></div>
      <div id="currentSeasonContent">
        <ng-container *ngIf="player.getSeason(apiService.status.season.season_id).hasPhoto">
          <img
            class="photo"
            src="{{ 'http://img.die-bestesten.de/img/player/' + apiService.status.season.season_id + '/' + player.playerId + '.png' }}"
          />
        </ng-container>
        <ng-container *ngIf="!player.getSeason(apiService.status.season.season_id).hasPhoto">
          <div class="photo missing"></div>
        </ng-container>

        <div
          class="position {{ player.getSeason(apiService.status.season.season_id).position }}"
          *ngIf="player.getSeason(apiService.status.season.season_id).position"
        >
          {{ player.getSeason(apiService.status.season.season_id).getPositionString() }}
        </div>
        <div class="position missing" *ngIf="!player.getSeason(apiService.status.season.season_id).position">OFFEN</div>

        <div class="price" *ngIf="player.getSeason(apiService.status.season.season_id).price">
          {{ player.getSeason(apiService.status.season.season_id).getPriceString() }} Mio.
        </div>
        <div class="price missing" *ngIf="!player.getSeason(apiService.status.season.season_id).price">Kein Marktwert</div>
        <img
          class="club"
          *ngIf="player.getCurrentClub()"
          src="./../../../../../assets/img/club/{{ player.getCurrentClub()['clubId'] }}.png"
        />
      </div>
    </div>

    <div class="box third">
      <div class="title">Technische Daten</div>
      <div class="edit" (click)="onOpenEditTechnicalDialog()"><i class="fas fa-edit"></i></div>
      <div class="item">
        <div class="key">ID</div>
        <div class="value id copy" (click)="copyToClipboard(player.playerId)">{{ player.playerId }}</div>
      </div>
      <div class="item">
        <div class="key">Kicker-ID</div>
        <a
          class="external_link"
          href="https://www.kicker.de/{{ player.firstname | lowercase }}-{{ player.lastname | lowercase }}/spieler"
          target="_blank"
          *ngIf="player.kickerId"
          ><i class="fas fa-external-link-alt"></i
        ></a>
        <div class="value copy" (click)="copyToClipboard(player.kickerId.toString())" *ngIf="player.kickerId">{{ player.kickerId }}</div>
        <div class="value missing" *ngIf="!player.kickerId">Unbekannt</div>
      </div>
      <div class="item">
        <div class="key">Ligainsider-ID</div>
        <a
          class="external_link"
          href="https://www.ligainsider.de/x_{{ player.ligainsiderId }}/"
          target="_blank"
          *ngIf="player.ligainsiderId"
          ><i class="fas fa-external-link-alt"></i
        ></a>
        <div class="value copy" (click)="copyToClipboard(player.playerId.toString())" *ngIf="player.ligainsiderId">
          {{ player.ligainsiderId }}
        </div>
        <div class="value missing" *ngIf="!player.ligainsiderId">Unbekannt</div>
      </div>
      <div class="delete" (click)="onOpenDeletePlayerDialog(player)">{{ player.displayname }} löschen</div>
    </div>

    <div class="box half">
      <div class="title">Saisonübersicht</div>
      <div class="season" *ngFor="let season of player.seasonList">
        <ng-container *ngIf="season.hasPhoto">
          <img class="photo" src="{{ 'http://img.die-bestesten.de/img/player/' + season.seasonId + '/' + player.playerId + '.png' }}" />
        </ng-container>
        <ng-container *ngIf="!season.hasPhoto">
          <div class="photo missing"></div>
        </ng-container>

        <div class="name">{{ season.seasonName }}</div>
        <div class="position {{ season.position }}">{{ season.getPositionString() }}</div>
        <div class="captain"><div class="badge" *ngIf="season.is_captain">C</div></div>
        <div class="price">{{ season.getPriceString() }} Mio.</div>

        <div class="edit-row" (click)="onOpenEditPlayerInSeasonDialog(season.seasonId)"><i class="fas fa-pen"></i></div>
      </div>
    </div>
    <div class="box half">
      <div class="title">Clubzugehörigkeit</div>
      <div class="add" (click)="onOpenAddClubDialog()"><i class="fas fa-plus"></i></div>
      <div class="club" *ngFor="let club of player.clubList">
        <img class="logo" src="./../../../../../assets/img/club/{{ club.clubId }}.png" />
        <div class="loan" *ngIf="club.isLoan">L</div>
        <div class="name">{{ club.clubName }}</div>

        <div class="edit-row" (click)="onOpenEditPlayerInClubDialog(club)"><i class="fas fa-pen"></i></div>
        <div class="to" *ngIf="club.toDate">{{ club.toDate | date : 'dd.MM.yyyy' }}</div>
        <div class="to bold" *ngIf="!club.toDate">Heute</div>
        <i class="arrow fas fa-long-arrow-alt-right"></i>
        <div class="from">{{ club.fromDate | date : 'dd.MM.yyyy' }}</div>
      </div>
    </div>

    <div id="activityList" class="box">
      <div class="title">Aktivität</div>
      <div class="content" *ngIf="activity">
        <div class="activity" *ngFor="let element of activity.data">
          <div class="icon">
            <i class="fas fa-database data" *ngIf="element.type == 'UPDATE_PLAYER'"></i>
            <i class="fas fa-file-signature data" *ngIf="element.type == 'ADD_PLAYER_IN_CLUB'"></i>
            <i class="fas fa-sign-in-alt positive" *ngIf="element.type == 'LOGIN_SUCCESS'"></i>
            <i class="fas fa-exclamation-triangle negative" *ngIf="element.type == 'LOGIN_ERROR'"></i>
            <i class="far fa-calendar-alt data" *ngIf="element.type == 'EDIT_PLAYER_IN_CLUB'"></i>
          </div>
          <div class="info">
            <div class="description underline">{{ element.message }}</div>
            <div class="info">
              <div class="date">{{ getDateString(element.activity_timestamp) }}</div>
              <div class="time">{{ element.activity_timestamp | date : 'HH:mm:ss' }} Uhr von</div>
              <div class="photo" *ngIf="!element.has_photo"></div>
              <img
                class="photo"
                *ngIf="element.has_photo"
                src="{{ 'http://img.die-bestesten.de/img/manager/' + element.manager_id + '.jpg' }}"
              />
              <a [routerLink]="['/manager', element.ref_id]" target="_blank" class="name underline">{{ element.name }}</a>
            </div>
          </div>
        </div>
        <div class="paginator">
          <div class="page" (click)="getActivity(activity.prev)" [class.disabled]="!activity.prev">
            <i class="fas fa-chevron-left"></i>
            <span class="text">Vorherige Seite</span>
          </div>
          <div class="pages">{{ activity.page }} von {{ activity.max_pages }}</div>
          <div class="page" (click)="getActivity(activity.next)" [class.disabled]="!activity.next">
            <span class="text">Nächste Seite</span>
            <i class="fas fa-chevron-right"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-not-found *ngIf="invalidParam"></app-not-found>
</div>
