@import './../../../../../colors.scss';

#container {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  #content {
    display: flex;
    width: 100%;
    max-width: 960px;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    align-items: baseline;
    .box {
      min-width: 270px;
      border-radius: 4px;
      background-color: $white;
      border-bottom: 2px solid $gray;
      margin: 12px 12px 4px;
      padding: 8px;
      flex-grow: 1;
      position: relative;
      float: left;
      transition: all 0.2s ease-in-out;
      &.third {
        flex-basis: calc(100% / 3 - 40px);
      }
      &.half {
        flex-basis: calc(50% - 40px);
      }
      &.no-overflow {
        overflow: hidden;
      }

      .title {
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $medium;
        margin: 0 -8px 8px;
        padding: 0 8px 8px;
        border-bottom: 1px solid $gray;
      }

      .edit {
        position: absolute;
        top: 0px;
        right: 0px;
        padding: 8px;
        color: $medium;
        font-weight: bold;
        cursor: pointer;
        transition: color 0.2s ease-in-out;
      }
      .captain {
        width: 24px;
        .badge {
          height: 24px;
          width: 24px;
          border-radius: 12px;
          background-color: #30336b;
          color: #dff9fb;
          font-weight: 600;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      .edit:hover {
        color: $blue;
      }

      .add {
        position: absolute;
        top: 0px;
        right: 0px;
        padding: 8px;
        color: $medium;
        font-weight: bold;
        cursor: pointer;
        transition: color 0.2s ease-in-out;
      }
      .add:hover {
        color: $green;
      }

      .item {
        width: 100%;
        float: left;
        flex-direction: row;
        height: 32px;
        line-height: 32px;
        font-weight: bold;
        font-size: 14px;
        .key {
          color: $darkgray;
          float: left;
          .fas {
            width: 20px;
            text-align: center;
          }
        }
        .value {
          flex-grow: 1;
          float: right;
          right: 8px;
          &.id {
            font-size: 12px;
          }
          &.missing {
            color: $darkgray;
          }
          .flag {
            height: 20px;
            width: 20px;
            margin: 6px 0px 6px 6px;
            float: right;
          }
        }
        .external_link {
          float: right;
          margin-left: 4px;
          transition: all 0.2s ease-in-out;
        }
        .external_link:hover {
          color: $blue;
        }
      }

      .delete {
        width: 100%;
        text-align: center;
        border-radius: 4px;
        height: 32px;
        line-height: 32px;
        margin-top: 8px;
        float: left;
        font-size: 12px;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        color: $darkgray;
      }
      .delete:hover {
        background-color: $red;
        color: $light;
      }

      #currentSeasonContent {
        width: 100%;
        height: calc(100% - 35px);
        margin-top: -8px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .photo {
          height: 150px;
          width: 150px;
          border-radius: 75px;
          margin: 16px 0 8px;
          overflow: hidden;
          &.missing {
            background-color: $gray;
          }
        }
        .position {
          padding: 4px 8px;
          border-radius: 4px;
          margin: 12px;
          color: $light;
          z-index: 1;
          &.GOALKEEPER {
            background-color: $green;
          }
          &.DEFENDER {
            background-color: $yellow;
          }
          &.MIDFIELDER {
            background-color: $blue;
          }
          &.FORWARD {
            background-color: $red;
          }
          &.missing {
            background-color: $gray;
            color: $white;
          }
        }
        .price {
          margin-bottom: 10px;
          z-index: 1;
        }
        .club {
          opacity: 0.4;
          position: absolute;
          height: 128px;
          width: 128px;
          bottom: -30px;
          right: -20px;
          z-index: 0;
          object-fit: contain;
        }
      }

      .season {
        margin: 0 -8px 8px;
        padding: 0 8px 8px;
        border-bottom: 1px solid $gray;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 36px;
        line-height: 36px;
        gap: 8px;
        .photo {
          margin-right: 8px;
          height: 36px;
          width: 36px;
          border-radius: 18px;
          overflow: hidden;
          &.missing {
            background-color: $gray;
          }
        }
        .name {
          flex-grow: 1;
        }
        .position {
          flex-grow: 1;
          text-align: center;
          border-radius: 4px;
          color: $white;
          text-transform: uppercase;
          font-weight: bold;
          font-size: 14px;
          &.GOALKEEPER {
            background-color: $green;
          }
          &.DEFENDER {
            background-color: $yellow;
          }
          &.MIDFIELDER {
            background-color: $blue;
          }
          &.FORWARD {
            background-color: $red;
          }
        }
        .price {
          flex-grow: 1;
          font-weight: bold;
          text-align: right;
        }

        .edit-row {
          margin-left: 12px;
          opacity: 0;
          transition: all 0.2s ease-in-out;
          cursor: pointer;
        }
      }
      .season:last-of-type {
        border-bottom: none;
        margin-bottom: 0px;
        padding-bottom: 2px;
      }
      .season:hover {
        .edit-row {
          opacity: 1;
        }
        .edit-row:hover {
          color: $blue;
        }
      }

      .club {
        width: 100%;
        margin: 0 -8px 8px;
        padding: 0 8px 8px;
        border-bottom: 1px solid $gray;
        float: left;
        line-height: 36px;
        position: relative;
        .logo {
          height: 36px;
          width: 36px;
          margin-right: 4px;
          float: left;
          object-fit: contain;
        }
        .loan {
          position: absolute;
          background-color: $red;
          color: $white;
          height: 14px;
          width: 14px;
          line-height: 14px;
          border-radius: 7px;
          font-size: 8px;
          font-weight: bold;
          text-align: center;
          left: 32px;
          top: 26px;
        }
        .name {
          float: left;
        }
        .from {
          float: right;
        }
        .to {
          float: right;
          &.bold {
            font-weight: bold;
          }
        }
        .arrow {
          float: right;
          margin: 0 6px;
          line-height: 36px;
        }
        .edit-row {
          float: right;
          margin-left: 6px;
          opacity: 0;
          transition: all 0.2s ease-in-out;
          cursor: pointer;
        }
      }
      .club:last-of-type {
        border-bottom: none;
        margin-bottom: 0px;
        padding-bottom: 2px;
      }
      .club:hover {
        .edit-row {
          opacity: 1;
        }
        .edit-row:hover {
          color: $blue;
        }
      }

      &#activityList {
        padding-bottom: 0px;
        .content {
          margin: 0 -20px;
          flex-direction: column;
          display: flex;
          .activity {
            padding: 12px 20px;
            border-bottom: 1px solid $gray;
            position: relative;
            float: left;
            display: flex;
            .icon {
              font-size: 24px;
              margin: 4px 16px 4px 0;
              .data {
                color: $gray;
                transition: all 0.2s ease-in-out;
              }
              .positive {
                color: $green;
                transition: all 0.2s ease-in-out;
              }
              .negative {
                color: $red;
                transition: all 0.2s ease-in-out;
              }
            }
            .info {
              .description {
                margin-bottom: 6px;
                font-size: 14px;
                font-weight: bold;
                float: left;
              }
              .info {
                display: flex;
                width: 100%;
                height: 18px;
                line-height: 18px;
                color: $darkgray;
                font-size: 12px;
                .time {
                  margin-left: 3px;
                }
                .photo {
                  height: 18px;
                  width: 18px;
                  border-radius: 9px;
                  margin: 0 4px 0 5px;
                  background-color: $gray;
                  overflow: hidden;
                }
              }
            }
          }
          .activity:last-of-type {
            border-bottom: none;
            margin-bottom: 0px;
          }
          .paginator {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            height: 40px;
            line-height: 40px;
            float: left;
            margin: 10px;
            .page {
              margin: 12px 0;
              border-radius: 4px;
              cursor: pointer;
              transition: all 0.2s ease-in-out;
              flex-grow: 1;
              text-align: center;
              &.disabled {
                pointer-events: none;
                color: $gray;
              }
              .fas {
                margin: 8px;
              }
              @media screen and (max-width: 1010px) {
                .text {
                  display: none;
                }
              }
            }
            .page:hover {
              background-color: $gray;
            }
            .pages {
              padding: 12px;
            }
          }
        }
      }
    }
  }
}
