@import './../../../../colors.scss';

#title {
  height: 50px;
  width: 100%;
  line-height: 50px;
  box-shadow: inset 0px -1px 0px $medium;
  color: $light;
  overflow: hidden;
  display: inline-flex;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  .icon {
    height: 32px;
    width: 32px;
    margin: 9px 9px;
    border-radius: 3px;
    float: left;
    transition: all 0.2s ease-in-out;
  }
  .name {
    letter-spacing: 3px;
    font-size: 16px;
    font-weight: bold;
    float: left;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    width: 0px;
    &.sidebarExpanded {
      opacity: 1;
      width: 55px;
    }
  }
}
#title:hover {
  background-color: $red;
}
#title:hover .icon {
  transform: scale(1.25);
}

.item {
  height: 50px;
  width: 100%;
  line-height: 50px;
  color: $gray;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  .icon {
    width: 50px;
    text-align: center;
    font-size: 18px;
    float: left;
    transition: all 0.2s ease-in-out;
    opacity: 0.5;
  }
  .name {
    font-size: 14px;
    float: left;
    opacity: 0;
    transition: all 0.6s ease-in-out;
    width: 0px;
    .new {
      color: $light;
      background-color: $green;
      float: right;
      border-radius: 14px;
      padding: 0 8px;
      line-height: 28px;
      margin: 11px;
      animation: pulse 2s ease-in-out 0s infinite;
    }
    &.sidebarExpanded {
      opacity: 1;
      width: 180px;
      padding-left: 6px;
    }
  }

  &.bottom {
    box-shadow: inset 0px 1px 0px $medium;
    position: absolute;
    bottom: 0px;
  }

  &.active {
    background-color: $medium;
    .icon {
      opacity: 1;
      color: $white;
    }
  }
}
.item:hover {
  background-color: $medium;
}
.item:hover .icon {
  opacity: 1;
}

.inverted {
  transform: scaleX(-1);
}

/* mobile */
@media only screen and (max-width: 600px) {
  #title {
    .name {
      display: none;
    }
  }
  .item {
    .name {
      display: none;
    }
    &.bottom {
      display: none;
    }
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
