<a [routerLink]="['/']" id="title">
  <img src="./../../../../assets/img/icon/appicon.png" class="icon" />
  <span class="name" [class.sidebarExpanded]="stateService.sidebar.expanded">DATA</span>
</a>
<a [routerLink]="['/noten']" class="item" [routerLinkActive]="['active']">
  <div class="icon" [class.sidebarExpanded]="stateService.sidebar.expanded"><i class="fas fa-bell"></i></div>
  <div class="name" [class.sidebarExpanded]="stateService.sidebar.expanded">Noten</div>
</a>
<a [routerLink]="['/spielerdatenbank']" class="item" [routerLinkActive]="['active']">
  <div class="icon" [class.sidebarExpanded]="stateService.sidebar.expanded"><i class="fas fa-users"></i></div>
  <div class="name" [class.sidebarExpanded]="stateService.sidebar.expanded">Spielerdatenbank</div>
</a>
<!--<a [routerLink]="['/kalender']" class="item" [routerLinkActive]="['active']">
  <div class="icon" [class.sidebarExpanded]="stateService.sidebar.expanded"><i class="far fa-calendar-alt"></i></div>
  <div class="name" [class.sidebarExpanded]="stateService.sidebar.expanded">Kalender</div>
</a>
<a [routerLink]="['/manager']" class="item" [routerLinkActive]="['active']">
  <div class="icon" [class.sidebarExpanded]="stateService.sidebar.expanded"><i class="fas fa-user-tie"></i></div>
  <div class="name" [class.sidebarExpanded]="stateService.sidebar.expanded">Manager</div>
</a>-->
<a [routerLink]="['/club']" class="item" [routerLinkActive]="['active']">
  <div class="icon" [class.sidebarExpanded]="stateService.sidebar.expanded"><i class="fas fa-shield-alt"></i></div>
  <div class="name" [class.sidebarExpanded]="stateService.sidebar.expanded">Clubs</div>
</a>
<a [routerLink]="['/länder']" class="item" [routerLinkActive]="['active']">
  <div class="icon" [class.sidebarExpanded]="stateService.sidebar.expanded"><i class="fas fa-flag"></i></div>
  <div class="name" [class.sidebarExpanded]="stateService.sidebar.expanded">Länder</div>
</a>
<a [routerLink]="['/datenabgleich']" class="item" [routerLinkActive]="['active']">
  <div class="icon" [class.sidebarExpanded]="stateService.sidebar.expanded"><i class="fas fa-database"></i></div>
  <div class="name" [class.sidebarExpanded]="stateService.sidebar.expanded">Datenabgleich</div>
</a>

<div class="item bottom" (click)="toggleSidebarWidth()">
  <div class="icon" [class.inverted]="stateService.sidebar.expanded"><i class="fas fa-angle-double-right"></i></div>
  <div class="name" [class.sidebarExpanded]="stateService.sidebar.expanded">Einklappen</div>
</div>
