<div class="container">
  <div class="column side">
    <h3>Saisonauswahl</h3>
    <select id="matchdays" class="rounded shadow" (change)="onSelectSeason($event.target)">
      <option value="{{ i }}" *ngFor="let i of seasonList" [selected]="i === formatSeasonToOriginal(seasonName)">{{ i }}</option>
    </select>

    <h3>Spieltagsauswahl</h3>
    <select id="matchdays" class="rounded shadow" (change)="onSelectMatchday($event.target)">
      <option value="{{ i }}" *ngFor="let i of matchdayList" [selected]="i === matchdayNumber">{{ i }}</option>
    </select>
  </div>

  <div class="column main">
    <div class="title">
      <span class="matchdayNumber">{{ matchdayNumber }}. Spieltag</span>
      <span class="seasonName">{{ formatSeasonToOriginal(seasonName) }}</span>
    </div>
    <div class="mode">
      Modus:
      <div class="items rounded shadow">
        <div class="item animated" [class.selected]="mode === 'stats'" (click)="mode = 'stats'">Spielerwerte</div>
        <div class="item animated" [class.selected]="mode === 'position'" (click)="mode = 'position'">Positionen</div>
        <div class="item animated" [class.selected]="mode === 'formation'" (click)="mode = 'formation'">Managerpotential</div>
        <div class="item animated" [class.selected]="mode === 'live'" (click)="mode = 'live'" *ngIf="live">Live</div>
      </div>
    </div>
    <div class="table">
      <div class="table-header">
        <div class="item sortable" (click)="sortBy('team_name')" [class.active]="orderBy === 'team_name'">
          <i class="icon fa-solid fa-sort" *ngIf="orderBy !== 'team_name'"></i>
          <i class="icon fa-solid fa-sort-up" *ngIf="orderBy === 'team_name' && orderDirection === 'ASC'"></i>
          <i class="icon fa-solid fa-sort-down" *ngIf="orderBy === 'team_name' && orderDirection === 'DESC'"></i>
          Team
        </div>
        <div class="spacer"></div>

        <!-- STATS -->
        <ng-container *ngIf="mode === 'stats'">
          <div class="item right w100">SDS</div>
          <div class="item right w100">Tore</div>
          <div class="item right w100">Assists</div>
          <div class="item right w32"></div>
        </ng-container>

        <!-- POSITION -->
        <ng-container *ngIf="mode === 'position'">
          <div class="item right w60 goalkeeper">TOR</div>
          <div class="item right w60 defender">ABW</div>
          <div class="item right w60 midfielder">MIT</div>
          <div class="item right w60 forward">STU</div>
        </ng-container>

        <!-- FORMATION -->
        <ng-container *ngIf="mode === 'formation'">
          <!--<div class="item right w48">343</div>
          <div class="item right w48">352</div>
          <div class="item right w48">433</div>
          <div class="item right w48">442</div>
          <div class="item right w48">451</div>-->
          <div class="item right">Banktore</div>
          <div class="item right">Bankpunkte</div>
          <div class="item right">Max. Punkte</div>
        </ng-container>

        <div class="item sortable right w100" (click)="sortBy('points')" [class.active]="orderBy === 'points'">
          <i class="icon fa-solid fa-sort" *ngIf="orderBy !== 'points'"></i>
          <i class="icon fa-solid fa-sort-up" *ngIf="orderBy === 'points' && orderDirection === 'ASC'"></i>
          <i class="icon fa-solid fa-sort-down" *ngIf="orderBy === 'points' && orderDirection === 'DESC'"></i>
          Punkte
        </div>
      </div>
      <div class="table-body shadow rounded">
        <div
          class="table-row animated fine{{ team.fine }}"
          [class.invalid]="team.invalid"
          *ngFor="let team of table; let i = index"
          [routerLink]="['/team', formatSeason(season.season_name), formatTeam(team.teamName), 'aufstellung', matchdayNumber]"
        >
          <div class="item left big">
            <span class="index">{{ i + 1 }}.</span>
            <img class="badge" src="{{ 'http://img.die-bestesten.de/img/team/' + season.season_id + '/' + team.teamId + '.png' }}" />
            {{ team.teamName }}
          </div>
          <div class="spacer"></div>

          <ng-container *ngIf="mode === 'live'">
            <div
              class="item right live-state green"
              [class.zero]="team.started_player === 0"
              matTooltip="{{ team.started_player }} Spieler in der Startaufstellung"
            >
              {{ team.started_player }} <i class="fa-solid fa-person-running"></i>
            </div>
            <div
              class="item right live-state yellow"
              [class.zero]="team.substituted_player === 0"
              matTooltip="{{ team.substituted_player }} Spieler eingewechselt"
            >
              {{ team.substituted_player }} <i class="fa-solid fa-exchange-alt"></i>
            </div>
            <div
              class="item right live-state red"
              [class.zero]="team.unused_player === 0"
              matTooltip="{{ team.unused_player }} Spieler nicht berücksichtigt"
            >
              {{ team.unused_player }} <i class="fa-solid fa-xmark"></i>
            </div>
            <div
              class="item right live-state"
              [class.zero]="team.pending_player === 0"
              matTooltip="{{ team.pending_player }} Spieler warten noch auf ihren Einsatz"
            >
              {{ team.pending_player }} <i class="fa-solid fa-hourglass-end"></i>
            </div>
          </ng-container>

          <!-- STATS -->
          <ng-container *ngIf="mode === 'stats'">
            <div class="item right w100 sds" *ngIf="!live">
              <i class="fas fa-star sds" *ngFor="let item of createArray(team.sds)"></i>
            </div>

            <div class="item right w100">
              <i class="fas fa-futbol" *ngFor="let item of createArray(team.goals)"></i>
            </div>

            <div class="item right w100">
              <i class="fas fa-parachute-box" *ngFor="let item of createArray(team.assists)"></i>
            </div>

            <div class="item right w32">
              <i class="fa-solid fa-hand" [class.active]="team.clean_sheet"></i>
            </div>
          </ng-container>

          <!-- POSITION -->
          <ng-container *ngIf="mode === 'position'">
            <div class="item right w60 position goalkeeper">
              {{ team.points_goalkeeper }}
            </div>
            <div class="item right w60 position defender">
              {{ team.points_defender }}
            </div>
            <div class="item right w60 position midfielder">
              {{ team.points_midfielder }}
            </div>
            <div class="item right w60 position forward">
              {{ team.points_forward }}
            </div>
          </ng-container>

          <!-- FORMATION -->
          <ng-container *ngIf="mode === 'formation'">
            <!--<div class="item right w48">
              {{ team.formation_343 }}
            </div>
            <div class="item right w48">
              {{ team.formation_352 }}
            </div>
            <div class="item right w48">
              {{ team.formation_433 }}
            </div>
            <div class="item right w48">
              {{ team.formation_442 }}
            </div>
            <div class="item right w48">
              {{ team.formation_451 }}
            </div>-->
            <div class="item right">
              {{ team.missed_goals }}
            </div>
            <div class="item right">
              {{ team.getMissedPoints() }}
            </div>
            <div class="item right">
              {{ team.maximal_points }}
            </div>
          </ng-container>

          <div class="item points right w100" [class.live]="live">{{ team.points }}</div>
        </div>
      </div>
    </div>

    <h3>Schlag den Markt</h3>

    <div class="info" *ngIf="!market_team">Daten werden geladen..</div>
    <div class="info" *ngIf="market_team && market_team.points == 0">Für diesen Spieltag wurden noch keine Punkte vergeben.</div>

    <ng-container *ngIf="market_team && market_team.points > 0">
      <div class="boxes">
        <div class="box">
          <div class="label">Punkte</div>
          <div class="value">{{ market_team.points }}</div>
        </div>
        <div class="box">
          <div class="label">Formation</div>
          <div class="value">{{ market_team.name }}</div>
        </div>
        <div class="box {{ compare_status }}">
          <span *ngIf="compare_status === 'win'">Du warst besser!</span>
          <span *ngIf="compare_status === 'defeat'">Der Markt hat dich geschlagen</span>
          <span *ngIf="compare_status === 'draw'">Du bist genauso gut wie der Markt</span>
        </div>
      </div>

      <div class="info">Der Transfermarkt wäre diesen Spieltag mit folgenden 11 Spielern angetreten:</div>

      <h4>Aufstellung:</h4>
      <div class="field">
        <div class="part">
          <a [routerLink]="['/spieler', 'details', player.displayname]" class="player" *ngFor="let player of market_team.team.FORWARD">
            <div class="name">{{ player.displayname }}</div>
            <div class="points">{{ player.points }}</div>
          </a>
        </div>
        <div class="part">
          <a [routerLink]="['/spieler', 'details', player.displayname]" class="player" *ngFor="let player of market_team.team.MIDFIELDER">
            <div class="name">{{ player.displayname }}</div>
            <div class="points">{{ player.points }}</div>
          </a>
        </div>
        <div class="part">
          <a [routerLink]="['/spieler', 'details', player.displayname]" class="player" *ngFor="let player of market_team.team.DEFENDER">
            <div class="name">{{ player.displayname }}</div>
            <div class="points">{{ player.points }}</div>
          </a>
        </div>

        <div class="part">
          <a [routerLink]="['/spieler', 'details', player.displayname]" class="player" *ngFor="let player of market_team.team.GOALKEEPER">
            <div class="name">{{ player.displayname }}</div>
            <div class="points">{{ player.points }}</div>
          </a>
        </div>
      </div>
    </ng-container>
  </div>
</div>
