@import 'src/style/colors.scss';

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  gap: 32px;
  .column {
    &.main {
      flex-grow: 10;
      flex-shrink: 0;
      flex-basis: 240px;
      position: relative;
      .title {
        margin-bottom: 8px;
        .matchdayNumber {
          font-size: 1.4rem;
          margin-right: 8px;
          font-weight: 600;
        }
        .seasonName {
          font-size: 1.2rem;
          color: $label;
        }
      }
      .empty {
        width: 100%;
        text-align: center;
        margin: 36px 0;
        font-style: italic;
      }
    }
    &.side {
      flex-grow: 1;
      flex-basis: 240px;
      position: sticky;
      top: 0;
      overflow-y: auto;
      overflow-x: hidden;
      margin-bottom: 24px;
      select {
        width: 100%;
        height: 40px;
        text-align-last: center;
        cursor: pointer;
        padding-left: 12px;
        margin-bottom: 16px;
        outline: none;
        background-color: $white;
      }
    }
    @media only screen and (max-width: 639px) {
      &.side {
        position: inherit;
      }
    }
  }
}

.mode {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  .items {
    display: flex;
    margin-left: 8px;
    .item {
      background-color: $white;
      height: 30px;
      line-height: 32px;
      padding: 0 12px;
      border-bottom: 2px solid $white;
      cursor: pointer;
      &:hover {
        border-bottom: 2px solid $red;
      }
      &.selected {
        border-bottom: 2px solid $red;
        background-color: $red;
        color: $white;
      }
    }
  }
}

.table-row {
  &.fine100 {
    background-color: #f1c40f;
    border-color: darken(#f1c40f, 10%);
  }
  &.fine150 {
    background-color: #f39c12;
    border-color: darken(#f39c12, 10%);
  }
  &.fine200 {
    background-color: #d35400;
    border-color: darken(#d35400, 10%);
  }
  &.fine300 {
    background-color: #c0392b;
    border-color: darken(#c0392b, 10%) !important;
  }
  &.invalid {
    color: $white;
    background-color: #222 !important;
    border-color: darken(#222, 10%) !important;
  }
}

.sds {
  color: $yellow;
}
.live {
  background-color: #363535 !important;
  color: #fad000;
  justify-content: center !important;
  margin-left: 12px;
  font-family: monospace;
  border-radius: 3px;
  min-width: 48px !important;
  padding: 4px 0;
}

.fa-hand {
  opacity: 0.1;
  text-shadow: -1px -1px 0 $black, 1px -1px 0 $black, -1px 1px 0 $black, 1px 1px 0 $black;
  &.active {
    opacity: 1;
    color: $green;
  }
}

@media only screen and (max-width: 850px) {
  .live-state {
    display: none !important;
  }
}

.info {
  width: 100%;
  text-align: center;
}

.boxes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 36px;
  margin: 16px 0;
  .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    border: 1px solid #ccc;
    padding: 8px 16px;
    .label {
      font-size: 0.8rem;
    }
    .value {
      font-weight: 500;
      font-size: 1.2rem;
    }
    &.win {
      border-color: #16a085;
      color: #16a085;
      background-color: #16a08522;
      font-weight: 500;
    }
    &.defeat {
      border-color: #c0392b;
      color: #c0392b;
      background-color: #c0392b22;
      font-weight: 500;
    }
  }
}

h4 {
  margin-top: 12px;
}

.field {
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  .part {
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: center;
    .player {
      height: 42px;
      flex-grow: 1;
      background-color: white;
      border: 1px solid #ccc;
      border-radius: 25px;
      max-width: 320px;
      align-items: center;
      justify-content: center;
      gap: 16px;
      display: flex;
      flex-direction: row;
      cursor: pointer;
      white-space: nowrap;
      transform: scale(0.95);
      transition: 160ms ease-in-out;
      &:hover {
        transform: scale(1);
      }
      .points {
        font-weight: 600;
        font-size: 20px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .boxes {
    gap: 12px !important;
  }
  .player {
    font-size: 12px !important;
    .points {
      font-size: 14px !important;
    }
  }
}
