@import 'src/style/colors.scss';

.match {
  height: 64px;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  .item {
    width: calc((100% - 72px) / 2);
    display: flex;
    align-items: center;
    .badge {
      height: 42px;
      width: 42px;
      object-fit: contain;
      margin: 0 12px;
      &.loser {
        opacity: 0.4;
      }
    }
    .team_name {
      font-weight: 500;
      display: none;
    }
    &.home {
      justify-content: end;
    }
    &.away {
      justify-content: start;
    }
  }
  .result {
    width: 72px;
    height: 56px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-variant-numeric: tabular-nums;
    border-radius: 3px;
    overflow: hidden;
    .points {
      height: 32px;
      background-color: #363535;
      color: #ffffff;
      display: flex;
      justify-content: center;
      line-height: 30px;
      letter-spacing: 2px;
      font-size: 1.2rem;
      font-weight: 600;
      .home {
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;
      }
      .seperator {
        width: 12px;
      }
      .away {
        flex-grow: 1;
        display: flex;
        justify-content: flex-start;
      }
    }
    .extra {
      display: flex;
      justify-content: center;
      height: 24px;
      line-height: 24px;
      background-color: #dedfe0;
      font-size: 0.6rem;
      padding: 0 8px;
      .home {
        flex-grow: 1;
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }
      .away {
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
      .sds {
        color: $yellow;
        text-shadow: -1px -1px 0 $black, 1px -1px 0 $black, -1px 1px 0 $black, 1px 1px 0 $black;
      }
    }
    &.live {
      .points {
        color: #fad000 !important;
      }
    }
  }
}
