<div class="match" *ngIf="home.ratings[matchday] && away.ratings[matchday]">
  <div class="team item home">
    <div class="team_name">{{ home.team_name }}</div>
    <img
      class="badge"
      [class.loser]="winner === 'right'"
      src="{{ 'http://img.die-bestesten.de/img/team/' + season_id + '/' + home.team_id + '.png' }}"
    />
  </div>
  <div class="result" [class.live]="away.ratings[matchday].live">
    <div class="points">
      <div class="home">{{ getValue(home.ratings[matchday], away.ratings[matchday]) }}</div>
      <div class="seperator">:</div>
      <div class="away">{{ getValue(away.ratings[matchday], home.ratings[matchday]) }}</div>
    </div>
    <div class="extra" *ngIf="mode !== 'points'">
      <div class="home">
        <i class="fas fa-star sds" *ngFor="let item of createArray(getDefenseSds(home.ratings[matchday]))"></i>
      </div>
      <div class="away">
        <i class="fas fa-star sds" *ngFor="let item of createArray(getDefenseSds(away.ratings[matchday]))"></i>
      </div>
      <div class="no-sds" *ngIf="getDefenseSds(home.ratings[matchday]) === 0 && getDefenseSds(away.ratings[matchday]) === 0">
        Fehlanzeige
      </div>
    </div>
  </div>
  <div class="team item away">
    <img
      class="badge"
      [class.loser]="winner === 'left'"
      src="{{ 'http://img.die-bestesten.de/img/team/' + season_id + '/' + away.team_id + '.png' }}"
    />
    <div class="team_name">{{ away.team_name }}</div>
  </div>
</div>
