@import './../../../../colors.scss';

.content-filter {
  flex-wrap: wrap;
  &.isExpanded {
    height: 190px;
  }

  @media only screen and (max-width: 1003px) {
    &.isExpanded {
      height: 289px;
    }
  }
}

.loading {
  width: 100%;
  text-align: center;
  font-size: 22px;
  margin-top: 48px;
  animation: rotating 1.5s infinite linear;
}

.container {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 0 5%;
  .emptyResult {
    width: 100%;
    text-align: center;
    margin-top: 48px;
  }
  #list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    a {
      flex-grow: 1;
    }
    .box {
      height: 64px;
      border-radius: 4px;
      background-color: $white;
      border-bottom: 2px solid $gray;
      margin: 12px 12px 4px;
      padding: 8px;
      flex-grow: 1;
      position: relative;
      transition: all 0.2s ease-in-out;
      cursor: pointer;
      .photo {
        height: 48px;
        width: 48px;
        position: absolute;
        top: -6px;
        left: -6px;
        border-radius: 26px;
        object-fit: cover;
        background-color: $gray;
        border: 2px solid;
        overflow: hidden;
        cursor: pointer;
        &.GOALKEEPER {
          border-color: $green;
        }
        &.DEFENDER {
          border-color: $yellow;
        }
        &.MIDFIELDER {
          border-color: $blue;
        }
        &.FORWARD {
          border-color: $red;
        }
      }
      .position {
        height: 50px;
        width: 50px;
        position: absolute;
        top: -5px;
        left: -5px;
        border-radius: 25px;
        object-fit: cover;
        line-height: 50px;
        text-align: center;
        color: $light;
        font-size: 10px;
        font-weight: bold;
        opacity: 0;
        transition: all 0.4s ease-in-out;
        z-index: 2;
        &.GOALKEEPER {
          background-color: $green;
        }
        &.DEFENDER {
          background-color: $yellow;
        }
        &.MIDFIELDER {
          background-color: $blue;
        }
        &.FORWARD {
          background-color: $red;
        }
      }
      .position:hover {
        opacity: 1;
      }
      .name {
        margin: 0px 25px 0 45px;
        .firstname {
          font-size: 12px;
          opacity: 0.7;
        }
        .lastname {
          font-size: 14px;
          font-weight: bold;
        }
      }

      .price {
        position: absolute;
        bottom: 6px;
      }
      .clubContainer {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        overflow: hidden;
        .club {
          height: 60px;
          width: 60px;
          position: absolute;
          bottom: -20px;
          right: -10px;
          opacity: 0.4;
          transition: all 0.2s ease-in-out;
        }
      }
    }
    .box:hover {
      background-color: $gray;
    }
    .box:hover .clubContainer .club {
      opacity: 1;
    }
  }
}

.more {
  width: 200px;
  padding: 12px;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
  left: 50%;
  margin-top: 24px;
  transform: translateX(-50%);
  position: relative;
}
.more:hover {
  background-color: $gray;
}

@keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
