<div class="content-menu-bar" *ngIf="filter">
  <div class="action" (click)="onToggleFilterView()" [class.isActive]="filter.player.isExpanded">
    <i class="fas fa-filter"></i> Filter
    <span *ngIf="selectedFilterCount > 0">({{ selectedFilterCount }} aktiv)</span>
  </div>
  <div class="title" *ngIf="apiService.playerList && filteredPlayerList">
    {{ filteredPlayerList.length }} Spieler
    <span *ngIf="apiService.playerList.length != filteredPlayerList.length">(von {{ apiService.playerList.length }})</span>
  </div>
  <div class="action" (click)="onOpenAddPlayerDialog()"><i class="fas fa-user-plus"></i> Neuer Spieler</div>
</div>

<div class="content-filter" *ngIf="filter" [class.isExpanded]="filter.player.isExpanded">
  <div class="column">
    <div class="title">Allgemeine Daten</div>
    <mat-checkbox [(ngModel)]="filter.player.items.missingCountry" (change)="onChangeFilter()">Ohne Nation</mat-checkbox>
    <mat-checkbox [(ngModel)]="filter.player.items.missingCity" (change)="onChangeFilter()">Ohne Geburtsort</mat-checkbox>
    <mat-checkbox [(ngModel)]="filter.player.items.missingDateOfBirth" (change)="onChangeFilter()">Ohne Geburtsdatum</mat-checkbox>
    <mat-checkbox [(ngModel)]="filter.player.items.missingHeight" (change)="onChangeFilter()">Ohne Größe</mat-checkbox>
    <mat-checkbox [(ngModel)]="filter.player.items.missingWeight" (change)="onChangeFilter()">Ohne Gewicht</mat-checkbox>
  </div>

  <div class="column">
    <div class="title">Aktuelle Saison</div>
    <mat-checkbox [(ngModel)]="filter.player.items.missingPosition" (change)="onChangeFilter()">Ohne Position</mat-checkbox>
    <mat-checkbox [(ngModel)]="filter.player.items.missingPrice" (change)="onChangeFilter()">Ohne Marktwert</mat-checkbox>
    <mat-checkbox [(ngModel)]="filter.player.items.missingPhoto" (change)="onChangeFilter()">Ohne Foto</mat-checkbox>

    <div class="title">Technische Daten</div>
    <mat-checkbox [(ngModel)]="filter.player.items.missingKickerId" (change)="onChangeFilter()">Ohne Kicker Id</mat-checkbox>
    <mat-checkbox [(ngModel)]="filter.player.items.missingLigainsiderId" (change)="onChangeFilter()">Ohne Ligainsider Id</mat-checkbox>
  </div>

  <div class="column">
    <div class="title">Clubzugehörigkeit</div>
    <mat-checkbox [(ngModel)]="filter.player.items.missingCurrentClub" (change)="onChangeFilter('missingCurrentClub')"
      >Ohne aktuellen Club</mat-checkbox
    >
    <mat-checkbox [(ngModel)]="filter.player.items.onlyBundesligaClub" (change)="onChangeFilter('onlyBundesligaClub')"
      >Nur Bundesliga Clubs</mat-checkbox
    >
    <mat-select name="country" [(value)]="filter.player.items.clubId" (selectionChange)="onChangeFilter('clubId')">
      <mat-option></mat-option>
      <mat-option *ngFor="let club of apiService.clubList" [value]="club.clubId">
        {{ club.name }}
      </mat-option>
    </mat-select>
  </div>
</div>

<i class="fas fa-circle-notch loading" *ngIf="isLoading"></i>

<div class="container" *ngIf="filteredPlayerList">
  <ng-container *ngIf="filteredPlayerList.length === 0">
    <div class="emptyResult">Mit den ausgewählten Filtern werden keine Spieler gefunden</div>
  </ng-container>

  <ng-container *ngIf="filteredPlayerList.length > 0">
    <div id="list">
      <ng-container *ngFor="let player of filteredPlayerList; let i = index">
        <a [routerLink]="['./', player.playerId]" *ngIf="i < limit">
          <div class="box">
            <img
              class="photo {{ player.seasonList[0].position }}"
              *ngIf="player.seasonList[0].hasPhoto"
              src="{{ 'http://img.die-bestesten.de/img/player/' + apiService.status.season.season_id + '/' + player.playerId + '.png' }}"
            />
            <img
              class="photo {{ player.seasonList[0].position }}"
              *ngIf="!player.seasonList[0].hasPhoto"
              src="./../../../../assets/img/placeholder_person.png"
            />
            <div class="position {{ player.seasonList[0].position }}">
              {{ player.seasonList[0].getPositionString() }}
            </div>
            <div class="name">
              <div class="firstname">{{ player.firstname }}</div>
              <div class="lastname">{{ player.lastname }}</div>
            </div>

            <div class="price" *ngIf="player.seasonList[0].price">{{ player.seasonList[0].price / 1000000 }} Mio.</div>

            <div class="clubContainer">
              <ng-container *ngIf="player.getCurrentClub()">
                <img class="club" src="./../../../../assets/img/club/{{ player.getCurrentClub().clubId }}.png" />
              </ng-container>
            </div>
          </div>
        </a>
      </ng-container>
    </div>
    <div class="more" (click)="onShowMore()" *ngIf="limit < filteredPlayerList.length">Mehr anzeigen</div>
  </ng-container>
</div>
