.table {
  margin-bottom: 24px;
}

.group-list {
  gap: 64px;
  display: flex;
  flex-direction: column;
  .phase {
    display: flex;
  }
  .group {
    display: flex;
  }
}

h2 {
  text-align: center;
}

h4 {
  display: flex;
  justify-content: center;
  align-items: baseline;
  .hint {
    opacity: 0.6;
    font-weight: 400;
    font-size: 0.75rem;
    margin-left: 8px;
  }
}
