<div class="flex h group-list" *ngIf="!isLoading">
  <!--
  <div class="direct">
    <h2>Finale</h2>
    <div class="phase">
      <div class="column">
        <h4>(34. Spieltag)</h4>
        <app-match [home]="getTeam(10)" [away]="getTeam(9)" [matchday]="34"></app-match>
      </div>
    </div>
    <h2>Halbfinale</h2>
    <div class="phase">
      <div class="column">
        <h4>Hinspiel (27. Spieltag)</h4>
        <app-match [home]="getTeam(7)" [away]="getTeam(10)" [matchday]="27" [winner]="'right'"></app-match>
        <app-match [home]="getTeam(9)" [away]="getTeam(5)" [matchday]="27" [winner]="'left'"></app-match>
      </div>
      <div class="column">
        <h4>Rückspiel (29. Spieltag)</h4>
        <app-match [home]="getTeam(10)" [away]="getTeam(7)" [matchday]="29" [winner]="'left'"></app-match>
        <app-match [home]="getTeam(5)" [away]="getTeam(9)" [matchday]="29" [winner]="'right'"></app-match>
      </div>
    </div>
    <h2>Viertelfinale</h2>
    <div class="phase">
      <div class="column">
        <h4>Hinspiel (20. Spieltag)</h4>
        <app-match [home]="getTeam(1)" [away]="getTeam(7)" [matchday]="20" [winner]="'right'"></app-match>
        <app-match [home]="getTeam(11)" [away]="getTeam(10)" [matchday]="20" [winner]="'right'"></app-match>
        <app-match [home]="getTeam(9)" [away]="getTeam(3)" [matchday]="20" [winner]="'left'"></app-match>
        <app-match [home]="getTeam(5)" [away]="getTeam(8)" [matchday]="20" [winner]="'left'"></app-match>
      </div>
      <div class="column">
        <h4>Rückspiel (22. Spieltag)</h4>
        <app-match [home]="getTeam(7)" [away]="getTeam(1)" [matchday]="22" [winner]="'left'"></app-match>
        <app-match [home]="getTeam(10)" [away]="getTeam(11)" [matchday]="22" [winner]="'left'"></app-match>
        <app-match [home]="getTeam(3)" [away]="getTeam(9)" [matchday]="22" [winner]="'right'"></app-match>
        <app-match [home]="getTeam(8)" [away]="getTeam(5)" [matchday]="22" [winner]="'right'"></app-match>
      </div>
    </div>
  </div>-->
  <div class="group">
    <div class="column">
      <h3>Gruppe <b>Stadt West</b></h3>
      <div class="table">
        <div class="table-header">
          <div class="item">Team</div>
          <div class="spacer"></div>
          <div class="item right tiny">Tore</div>
          <div class="item right tiny">Punkte</div>
        </div>
        <div class="table-body rounded shadow">
          <app-table-row [team]="getTeam(7)" [goals]="'0:0'" [points]="0"></app-table-row>
          <app-table-row [team]="getTeam(8)" [goals]="'0:0'" [points]="0"></app-table-row>
          <app-table-row [team]="getTeam(11)" [goals]="'0:0'" [points]="0"></app-table-row>
          <app-table-row [team]="getTeam(4)" [goals]="'0:0'" [points]="0"></app-table-row>
        </div>
      </div>

      <h4>
        1. Spieltag
        <span class="hint">BL-Spieltag 2</span>
      </h4>
      <div class="table">
        <div class="table-body">
          <app-match [home]="getTeam(4)" [away]="getTeam(7)" [matchday]="2"></app-match>
          <app-match [home]="getTeam(8)" [away]="getTeam(11)" [matchday]="2"></app-match>
        </div>
      </div>

      <h4>
        2. Spieltag
        <span class="hint">BL-Spieltag 5</span>
      </h4>
      <div class="table">
        <div class="table-body">
          <app-match [home]="getTeam(7)" [away]="getTeam(8)" [matchday]="5"></app-match>
          <app-match [home]="getTeam(11)" [away]="getTeam(4)" [matchday]="5"></app-match>
        </div>
      </div>

      <h4>
        3. Spieltag
        <span class="hint">BL-Spieltag 7</span>
      </h4>
      <div class="table">
        <div class="table-body">
          <app-match [home]="getTeam(7)" [away]="getTeam(11)" [matchday]="7"></app-match>
          <app-match [home]="getTeam(4)" [away]="getTeam(8)" [matchday]="7"></app-match>
        </div>
      </div>

      <h4>
        4. Spieltag
        <span class="hint">BL-Spieltag 10</span>
      </h4>
      <div class="table">
        <div class="table-body">
          <app-match [home]="getTeam(11)" [away]="getTeam(7)" [matchday]="10"></app-match>
          <app-match [home]="getTeam(8)" [away]="getTeam(4)" [matchday]="10"></app-match>
        </div>
      </div>

      <h4>
        5. Spieltag
        <span class="hint">BL-Spieltag 13</span>
      </h4>
      <div class="table">
        <div class="table-body">
          <app-match [home]="getTeam(8)" [away]="getTeam(7)" [matchday]="13"></app-match>
          <app-match [home]="getTeam(4)" [away]="getTeam(11)" [matchday]="13"></app-match>
        </div>
      </div>

      <h4>
        6. Spieltag
        <span class="hint">BL-Spieltag 15</span>
      </h4>
      <div class="table">
        <div class="table-body">
          <app-match [home]="getTeam(7)" [away]="getTeam(4)" [matchday]="15"></app-match>
          <app-match [home]="getTeam(11)" [away]="getTeam(8)" [matchday]="15"></app-match>
        </div>
      </div>
    </div>
    <div class="column">
      <h3>Gruppe <b>Stadt Nordost</b></h3>
      <div class="table">
        <div class="table-header">
          <div class="item">Team</div>
          <div class="spacer"></div>
          <div class="item right tiny">Tore</div>
          <div class="item right tiny">Punkte</div>
        </div>
        <div class="table-body rounded shadow">
          <app-table-row [team]="getTeam(3)" [goals]="'0:0'" [points]="0"></app-table-row>
          <app-table-row [team]="getTeam(5)" [goals]="'0:0'" [points]="0"></app-table-row>
          <app-table-row [team]="getTeam(1)" [goals]="'0:0'" [points]="0"></app-table-row>
          <app-table-row [team]="getTeam(0)" [goals]="'0:00'" [points]="0"></app-table-row>
        </div>
      </div>

      <h4>
        1. Spieltag
        <span class="hint">BL-Spieltag 2</span>
      </h4>
      <div class="table">
        <div class="table-body">
          <app-match [home]="getTeam(0)" [away]="getTeam(1)" [matchday]="2"></app-match>
          <app-match [home]="getTeam(3)" [away]="getTeam(5)" [matchday]="2"></app-match>
        </div>
      </div>

      <h4>
        2. Spieltag
        <span class="hint">BL-Spieltag 5</span>
      </h4>
      <div class="table">
        <div class="table-body">
          <app-match [home]="getTeam(1)" [away]="getTeam(3)" [matchday]="5"></app-match>
          <app-match [home]="getTeam(5)" [away]="getTeam(0)" [matchday]="5"></app-match>
        </div>
      </div>

      <h4>
        3. Spieltag
        <span class="hint">BL-Spieltag 7</span>
      </h4>
      <div class="table">
        <div class="table-body">
          <app-match [home]="getTeam(1)" [away]="getTeam(5)" [matchday]="7"></app-match>
          <app-match [home]="getTeam(0)" [away]="getTeam(3)" [matchday]="7"></app-match>
        </div>
      </div>

      <h4>
        4. Spieltag
        <span class="hint">BL-Spieltag 10</span>
      </h4>
      <div class="table">
        <div class="table-body">
          <app-match [home]="getTeam(5)" [away]="getTeam(1)" [matchday]="10"></app-match>
          <app-match [home]="getTeam(3)" [away]="getTeam(0)" [matchday]="10"></app-match>
        </div>
      </div>

      <h4>
        5. Spieltag
        <span class="hint">BL-Spieltag 13</span>
      </h4>
      <div class="table">
        <div class="table-body">
          <app-match [home]="getTeam(3)" [away]="getTeam(1)" [matchday]="13"></app-match>
          <app-match [home]="getTeam(0)" [away]="getTeam(5)" [matchday]="13"></app-match>
        </div>
      </div>

      <h4>
        6. Spieltag
        <span class="hint">BL-Spieltag 15</span>
      </h4>
      <div class="table">
        <div class="table-body">
          <app-match [home]="getTeam(1)" [away]="getTeam(0)" [matchday]="15"></app-match>
          <app-match [home]="getTeam(5)" [away]="getTeam(3)" [matchday]="15"></app-match>
        </div>
      </div>
    </div>
    <div class="column">
      <h3>Gruppe <b> Expats</b></h3>
      <div class="table">
        <div class="table-header">
          <div class="item">Team</div>
          <div class="spacer"></div>
          <div class="item right tiny">Tore</div>
          <div class="item right tiny">Punkte</div>
        </div>
        <div class="table-body rounded shadow">
          <app-table-row [team]="getTeam(10)" [goals]="'00'" [points]="0"></app-table-row>
          <app-table-row [team]="getTeam(9)" [goals]="'0:0'" [points]="0"></app-table-row>
          <app-table-row [team]="getTeam(2)" [goals]="'0:0'" [points]="0"></app-table-row>
          <app-table-row [team]="getTeam(6)" [goals]="'0:0'" [points]="0"></app-table-row>
        </div>
      </div>

      <h4>
        1. Spieltag
        <span class="hint">BL-Spieltag 2</span>
      </h4>
      <div class="table">
        <div class="table-body">
          <app-match [home]="getTeam(2)" [away]="getTeam(6)" [matchday]="2"></app-match>
          <app-match [home]="getTeam(9)" [away]="getTeam(10)" [matchday]="2"></app-match>
        </div>
      </div>

      <h4>
        2. Spieltag
        <span class="hint">BL-Spieltag 5</span>
      </h4>
      <div class="table">
        <div class="table-body">
          <app-match [home]="getTeam(6)" [away]="getTeam(9)" [matchday]="5"></app-match>
          <app-match [home]="getTeam(10)" [away]="getTeam(2)" [matchday]="5"></app-match>
        </div>
      </div>

      <h4>
        3. Spieltag
        <span class="hint">BL-Spieltag 7</span>
      </h4>
      <div class="table">
        <div class="table-body">
          <app-match [home]="getTeam(6)" [away]="getTeam(10)" [matchday]="7"></app-match>
          <app-match [home]="getTeam(2)" [away]="getTeam(9)" [matchday]="7"></app-match>
        </div>
      </div>

      <h4>
        4. Spieltag
        <span class="hint">BL-Spieltag 10</span>
      </h4>
      <div class="table">
        <div class="table-body">
          <app-match [home]="getTeam(10)" [away]="getTeam(6)" [matchday]="10"></app-match>
          <app-match [home]="getTeam(9)" [away]="getTeam(2)" [matchday]="10"></app-match>
        </div>
      </div>

      <h4>
        5. Spieltag
        <span class="hint">BL-Spieltag 13</span>
      </h4>
      <div class="table">
        <div class="table-body">
          <app-match [home]="getTeam(9)" [away]="getTeam(6)" [matchday]="13"></app-match>
          <app-match [home]="getTeam(2)" [away]="getTeam(10)" [matchday]="13"></app-match>
        </div>
      </div>

      <h4>
        6. Spieltag
        <span class="hint">BL-Spieltag 15</span>
      </h4>
      <div class="table">
        <div class="table-body">
          <app-match [home]="getTeam(6)" [away]="getTeam(2)" [matchday]="15"></app-match>
          <app-match [home]="getTeam(10)" [away]="getTeam(9)" [matchday]="15"></app-match>
        </div>
      </div>
    </div>
  </div>
</div>
