@import 'src/style/colors.scss';

.pending-offers {
  display: flex;
  flex-wrap: wrap;
  .box {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    margin: 0 8px 12px;
    padding: 4px;
    position: relative;
    &.warning {
      box-shadow: 0px 0px 8px $red;
      animation: pulse 1s ease-in-out 0s infinite;
    }

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      .row {
        display: flex;
        height: 32px;
        line-height: 32px;
        &.small {
          height: 16px;
          line-height: 16px;
          font-size: 10px;
          color: $label;
          margin-bottom: 4px;
        }
        .value {
          font-size: 20px;
          font-weight: 600;
          margin-right: 4px;
        }
        .hint {
          font-size: 12px;
          color: $label;
        }
      }
    }
  }
}

.left-bar {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 6px;
  &.GOALKEEPER {
    background-color: $green;
  }
  &.DEFENDER {
    background-color: $yellow;
  }
  &.MIDFIELDER {
    background-color: $blue;
  }
  &.FORWARD {
    background-color: $red;
  }
}

.offer {
  display: flex;
  height: 32px;
  line-height: 32px;
  position: relative;
  &.lost {
    opacity: 0.5;
  }
  .status {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 11px;
    margin: 0 8px;
    &.pending {
      color: $blue;
    }
    &.lost,
    &.rejected {
      color: $red;
    }
    &.success,
    &.accepted {
      color: $green;
    }
  }
  .photo {
    height: 32px;
    width: 32px;
    border-radius: 50%;
  }
  .firstname {
    color: $label;
    margin: 0 4px 0 8px;
    font-size: 16px;
  }
  .lastname {
    font-weight: 600;
    font-size: 16px;
  }
  .displayname {
    font-weight: 600;
    font-size: 16px;
    display: none;
  }
  .value {
    .fa-peseta-sign {
      margin-left: 2px;
    }
  }
  .action {
    width: 72px;
    margin-left: 24px;
    display: flex;
    .button {
      height: 32px;
      width: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 3px;

      margin-left: 4px;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      &:hover {
        &.edit {
          color: $blue;
        }
        &.delete {
          color: $red;
        }
      }
    }
  }
}

.empty {
  width: 100%;
  text-align: center;
  font-style: italic;
  margin-top: 12px;
}

a {
  display: flex;
  color: $dark;
  transition: all 0.2s ease-in-out;
  &:hover {
    color: $red !important;
  }
}

@media only screen and (max-width: 639px) {
  .status {
    display: none;
  }
  .firstname {
    display: none;
  }
  .lastname {
    display: none;
  }
  .displayname {
    display: initial !important;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0px 0px 8px $red;
    transform: scale(1);
  }
  50% {
    box-shadow: 0px 0px 4px $red;
    transform: scale(0.95);
  }
  100% {
    box-shadow: 0px 0px 8px $red;
    transform: scale(1);
  }
}
