<ng-container *ngIf="offerList">
  <div class="pending-offers">
    <ng-container *ngFor="let position of positionList">
      <div
        class="box rounded shadow"
        [class.warning]="getMinMaxSlots(position.type, 'max') < getPendingOfferCount(position.type)"
        matTooltip="{{ position.name }}"
      >
        <div class="left-bar {{ position.type }}"></div>
        <div class="content">
          <div class="row">
            <div class="value">{{ getPendingOfferCount(position.type) }}</div>
            <div class="hint">
              offene<ng-container *ngIf="getPendingOfferCount(position.type) == 1">s</ng-container> Angebot<ng-container
                *ngIf="getPendingOfferCount(position.type) != 1"
                >e</ng-container
              >
            </div>
          </div>
          <div class="row small" *ngIf="squad">{{ getMinMaxSlots(position.type, 'max') }} freie Plätze</div>
          <div class="row small" *ngIf="squad && getMinMaxSlots(position.type, 'min') > 0">
            {{ getMinMaxSlots(position.type, 'min') }}
            <ng-container *ngIf="getMinMaxSlots(position.type, 'min') == 1"> Platz muss </ng-container>
            <ng-container *ngIf="getMinMaxSlots(position.type, 'min') > 1"> Plätze müssen </ng-container>
            mindestens noch besetzt werden
          </div>
        </div>
      </div>
    </ng-container>
  </div>

  <h3>
    Meine Gebote <ng-container *ngIf="getPendingFofferCount() > 0">({{ getPendingFofferCount() }} Offene)</ng-container>
  </h3>
  <div class="empty" *ngIf="offerList.length === 0">Keine Gebote gefunden</div>

  <ng-container *ngFor="let offer of offerList">
    <div class="offer box rounded shadow" [class.lost]="offer.status === 'lost'">
      <div class="left-bar {{ offer.position }}" matTooltip="{{ getPositionName(offer.position) }}"></div>
      <img
        class="photo"
        src="{{ 'http://img.die-bestesten.de/img/player/' + offer.season_id + '/' + offer.player_id + '.png' }}"
        *ngIf="offer.has_photo == '1'"
      />
      <img class="photo" src="./../.././../assets/img/icon/32/player.png" *ngIf="offer.has_photo == '0'" />
      <a [routerLink]="['../../details', offer.displayname]">
        <div class="firstname">{{ offer.firstname }}</div>
        <div class="lastname">{{ offer.lastname }}</div>
      </a>
      <div class="status {{ offer.status }}">{{ getStatusText(offer.status) }}</div>

      <div class="displayname">{{ offer.displayname }}</div>
      <div class="spacer"></div>
      <div class="value">{{ offer.offer_value | number : '1.0' }}<i class="fa-solid fa-peseta-sign"></i></div>
      <div class="action">
        <div class="button edit" *ngIf="offer.status === 'pending'" (click)="onEditOffer(offer)" matTooltip="Bearbeiten">
          <i class="fas fa-edit"></i>
        </div>
        <div class="button delete" *ngIf="offer.status === 'pending'" (click)="onDeleteOffer(offer)" matTooltip="Löschen">
          <i class="fas fa-trash-alt"></i>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>

<db-loading class="loading" *ngIf="!offerList" style="height: 180px"></db-loading>
