<div class="container" *ngIf="manager">
  <div id="honour-list">
    <img
      class="honour"
      src="./../../../../../assets/img/icon/128/{{ honour.icon }}.png"
      matTooltip="{{ honour.honourName }} {{ honour.seasonName }}"
      *ngFor="let honour of honourList"
      (click)="generateChart()"
    />
  </div>

  <div id="summary" class="content-container">
    <img id="photo" src="{{ 'http://img.die-bestesten.de/img/manager/' + manager.managerId + '.jpg' }}" />
    <div id="manager-info">
      <div id="name">
        <div id="firstname" class="bridge">{{ manager.managerName }}</div>
        <div id="alias" class="bridge">{{ manager.alias }}</div>
      </div>
      <div id="profile">
        <div class="box-item">
          <img class="box-circle flag" src="./../../../../../assets/img/flags/de.svg" />
          <span>{{ manager.city }}</span>
        </div>
        <div class="box-item">
          <div class="box-circle" matTooltip="Geburtstag"><i class="fa-solid fa-cake-candles"></i></div>
          <span>{{ manager.birthdate | date : 'dd.MM' }}</span>
        </div>
      </div>
    </div>

    <div id="team-info">
      <a [routerLink]="['/team', '2024-2025', manager.teamList[0].teamName]" class="box-link">
        <img
          class="club"
          src="{{ 'http://img.die-bestesten.de/img/team/' + manager.teamList[0].seasonId + '/' + manager.teamList[0].teamId + '.png' }}"
        />
        <div class="name">{{ manager.teamList[0].teamName }}</div>
      </a>
      <div class="flex h" style="align-items: baseline">
        <div class="key-value-pair">
          <div class="value-big bridge">?.</div>
          <div class="key">Platz</div>
        </div>
        <div class="key-value-pair">
          <div class="value-small bridge">{{ manager.teamList[0].points | number : '1.0' }}</div>
          <div class="key">Punkte</div>
        </div>
      </div>
    </div>

    <div class="spacer"></div>

    <div id="team-info">
      <a [routerLink]="['/liga', 'ewige-tabelle']" class="box-link">
        <div class="name">Saisonübergreifend</div>
      </a>
      <div class="flex h" style="align-items: baseline">
        <div class="key-value-pair">
          <div class="value-big bridge">{{ manager.position }}.</div>
          <div class="key">Platz</div>
        </div>
        <div class="key-value-pair">
          <div class="value-small bridge">{{ manager.points | number : '1.0' }}</div>
          <div class="key">Punkte</div>
        </div>
      </div>
    </div>
  </div>

  <div id="season-info">
    <div id="season-chart-container" class="content-container">
      <label>Verlauf</label>
      <canvas id="season-chart"> {{ chart }}</canvas>
    </div>
    <div id="season-list" class="content-container">
      <label>Saisons</label>
      <table>
        <tr>
          <th></th>
          <th></th>
          <th class="left">Team</th>
          <th></th>
          <th>Platzierung</th>
          <th>Punkte</th>
        </tr>
        <tr *ngFor="let team of manager.teamList" class="selectable" (click)="navigateToTeam(team.teamName, team)">
          <td class="w48">{{ team.getShortSeasonName() }}</td>
          <td class="w48">
            <img
              class="club"
              src="{{ 'http://img.die-bestesten.de/img/team/' + team.seasonId + '/' + team.teamId + '.png' }}"
              onerror="this.src='./assets/img/placeholder.png'"
            />
          </td>
          <td class="link">
            {{ team.teamName }}
          </td>
          <td>
            <img
              class="small"
              src="./../../../../assets/img/icon/24/{{ honour.icon }}.png"
              *ngFor="let honour of team.honourList"
              matTooltip="{{ honour.honourName }}"
            />
          </td>
          <td class="center">?.</td>
          <td class="right points">
            {{ team.points | number : '1.0' }}
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
