.container {
  display: flex;
  flex-direction: column;
  gap: 64px;
  label {
    font-weight: 500;
    position: absolute;
    transform: translate(-16px, -48px);
    font-size: 18px;
  }
}

#honour-list {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  gap: 24px;
  margin-bottom: -36px;
  .honour {
    height: 72px;
    width: 72px;
    transition: 100ms ease-in-out;
    cursor: pointer;
    &:hover {
      transform: scale(1.1);
    }
  }
}

#summary {
  display: flex;
  gap: 32px;
  #photo {
    width: 168px;
    height: 168px;
    object-fit: contain;
    align-self: flex-end;
    border-radius: 50%;
  }
  #manager-info {
    width: 25%;
    display: flex;
    flex-direction: column;
    #name {
      margin-bottom: 24px;
      text-transform: uppercase;
      #firstname {
        font-size: 48px;
      }
      #alias {
        font-size: 22px;
        font-weight: 400;
        color: var(--text-color-medium);
      }
    }
    #profile {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
    }
  }
  #team-info {
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    .row {
      height: 36px;
      display: flex;
      gap: 16px;
      justify-content: space-evenly;
    }
    .key-value-pair {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 8px;
      .value-big {
        font-size: 64px;
        height: 64px;
      }
      .value-small {
        font-size: 48px;
        height: 48px;
      }
      .key {
        color: var(--text-color-medium);
        font-weight: 500;
      }
    }
  }
}

#season-info {
  display: flex;
  align-items: flex-start;
  gap: 32px;
  #season-chart-container {
    width: 35%;
  }
  #season-list {
    width: 65%;
  }
}
