@import './../../../../../colors.scss';

#container {
  width: 100%;

  .info {
    margin-bottom: 12px;
    width: 100%;
    text-align: center;
    .small {
      font-size: 12px;
      margin: 6px 0 16px;
    }
  }

  mat-form-field {
    width: 100%;
  }

  .button {
    margin-top: 12px;
    &.disabled {
      pointer-events: none;
      background-color: transparent;
      color: $gray;
      cursor: default;
      border-color: transparent;
    }
  }
}
