<form id="container">
  <div class="info">
    Setze einmalig dein neues Passwort fest
    <div class="small">Mindestens 6 Zeichen</div>
  </div>

  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput [(ngModel)]="password" name="password" type="password" autocomplete="off" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Password wiederholen</mat-label>
    <input matInput [(ngModel)]="confirmPassword" name="password" type="password" autocomplete="off" />
  </mat-form-field>

  <div class="button" (click)="onEnterPassword()" [class.disabled]="password.length < 6 || password != confirmPassword">
    Neues Passwort setzen
  </div>
</form>
