<form id="container">
  <mat-form-field>
    <mat-label>Vorname</mat-label>
    <input matInput [(ngModel)]="editPlayer.firstname" name="firstname" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Nachname</mat-label>
    <input matInput [(ngModel)]="editPlayer.lastname" name="lastname" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Anzeigename</mat-label>
    <input matInput [(ngModel)]="editPlayer.displayname" name="displayname" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Nation</mat-label>
    <mat-select name="country" [(value)]="editPlayer.countryCode">
      <mat-option></mat-option>
      <mat-option *ngFor="let country of apiService.countryList" [value]="country.country_code">
        {{ country.country_name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Geburtsort</mat-label>
    <input matInput [(ngModel)]="editPlayer.city" name="city" />
  </mat-form-field>

  <div class="dateOfBirth">
    <mat-form-field class="small">
      <mat-label>Tag</mat-label>
      <input matInput [(ngModel)]="day" type="number" min="1" max="31" name="day" (ngModelChange)="onChangeDateOfBirth()" />
    </mat-form-field>
    <div class="seperator"></div>
    <mat-form-field class="small">
      <mat-label>Monat</mat-label>
      <input matInput [(ngModel)]="month" type="number" min="1" max="12" name="month" (ngModelChange)="onChangeDateOfBirth()" />
    </mat-form-field>
    <div class="seperator"></div>
    <mat-form-field class="middle">
      <mat-label>Jahr</mat-label>
      <input matInput [(ngModel)]="year" type="number" name="year" (ngModelChange)="onChangeDateOfBirth()" />
    </mat-form-field>
    <div class="validator">
      <i class="fas fa-check positive" *ngIf="isValidDate"></i>
    </div>
  </div>

  <mat-form-field>
    <mat-label>Größe (in cm)</mat-label>
    <input matInput [(ngModel)]="editPlayer.height" type="number" name="height" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Gewicht (in kg)</mat-label>
    <input matInput [(ngModel)]="editPlayer.weight" type="number" name="weight" />
  </mat-form-field>

  <div id="finish">
    <button type="submit" class="button cancel" (click)="onCancel()">Abbrechen</button>
    <button type="submit" class="button save" (click)="onSave()" [class.disabled]="!dataModified()" [disabled]="!dataModified()">
      Speichern
    </button>
  </div>
</form>
