@import './../../../../colors.scss';

#container {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  .column {
    flex-basis: 0;
    &.small {
      flex-grow: 1;
    }
    &.medium {
      flex-grow: 2;
      min-width: 480px;
    }
  }

  .box {
    border-radius: 4px;
    background-color: $white;
    border-bottom: 2px solid $gray;
    margin: 20px 20px 4px;
    padding: 14px 20px;
    flex-grow: 1;
    flex-basis: 240px;
    flex-wrap: wrap;
    &.wide {
      flex-basis: calc(50% - 80px);
    }
    &.alignStart {
      align-self: start;
    }

    .title {
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: $medium;
    }
    .content {
      display: flex;
      .chart {
        height: 200px;
      }
      &.sessions {
        flex-wrap: wrap;
      }
      &.map {
        display: flex;
        flex-direction: column;
        align-items: center;
        #menu {
          margin-bottom: 24px;
          .item {
            height: 32px;
            line-height: 32px;
            border-top: 2px solid $blue;
            border-bottom: 2px solid $blue;
            padding: 0 12px;
            cursor: pointer;
            transition: all 0.2s ease-in-out;
            float: left;
            color: $blue;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 13px;
            &.selected {
              background-color: $blue;
              color: $white;
            }
            &:first-of-type {
              border-left: 2px solid $blue;
              border-top-left-radius: 4px;
              border-bottom-left-radius: 4px;
            }
            &:last-of-type {
              border-right: 2px solid $blue;
              border-top-right-radius: 4px;
              border-bottom-right-radius: 4px;
            }
            &:hover {
              background-color: $blue;
              color: $white;
            }
          }
        }
        #map {
          width: 100%;
          height: 320px;
        }
      }

      .element {
        float: left;
        text-align: center;
        flex-grow: 1;
        .value {
          font-size: 24px;
          font-weight: bold;
          margin: 10px 0 4px;
          color: $red;
          &.positive {
            color: $green;
          }
        }
        .key {
          font-size: 12px;
          .date {
            padding: 6px 0;
          }
        }
      }

      &.columnDirection {
        flex-direction: column;
        margin-top: 12px;
        .row {
          height: 48px;
          width: 100%;
          margin-top: -8px;
          float: left;
          .icon {
            width: 12px;
            float: left;
            line-height: 48px;
            color: $darkgray;
          }
          .bar {
            width: calc(100% - 12px);
            height: 48px;
            float: left;
          }
        }
      }
    }

    &#activityList {
      padding-bottom: 0px;
      .content {
        margin: 0 -20px;
        flex-direction: column;
        .activity {
          padding: 12px 20px;
          border-bottom: 1px solid $gray;
          position: relative;
          float: left;
          display: flex;
          .icon {
            font-size: 24px;
            margin: 4px 16px 4px 0;
            .post {
              color: $green;
            }
            .patch {
              color: $darkgray;
            }
            .delete {
              color: $red;
            }
          }
          .info {
            .description {
              margin-bottom: 6px;
              font-size: 14px;
              font-weight: bold;
              float: left;
            }
            .info {
              display: flex;
              width: 100%;
              height: 18px;
              line-height: 18px;
              color: $darkgray;
              font-size: 12px;
              .time {
                margin-left: 3px;
              }
              .photo {
                height: 18px;
                width: 18px;
                border-radius: 9px;
                margin: 0 4px 0 5px;
                background-color: $gray;
                overflow: hidden;
              }
            }
          }
        }
        .activity:last-of-type {
          border-bottom: none;
          margin-bottom: 0px;
        }
        .paginator {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          height: 40px;
          line-height: 40px;
          float: left;
          margin: 10px;
          .page {
            margin: 12px 0;
            border-radius: 4px;
            cursor: pointer;
            transition: all 0.2s ease-in-out;
            flex-grow: 1;
            text-align: center;
            &.disabled {
              pointer-events: none;
              color: $gray;
            }
            .fas {
              margin: 8px;
            }
            @media screen and (max-width: 1010px) {
              .text {
                display: none;
              }
            }
          }
          .page:hover {
            background-color: $gray;
          }
          .pages {
            padding: 12px;
          }
        }
      }
    }
  }
}

.session {
  float: left;
  height: 28px;
  line-height: 28px;
  margin-right: 12px;
  cursor: pointer;
  .status {
    margin: 5px 6px 5px 0;
    height: 14px;
    width: 14px;
    float: left;
    border: 2px solid transparent;
    border-radius: 9px;
    &.online {
      border-color: $green;
      background-color: $green;
    }
    &.afk {
      border-color: $green;
    }
    &.offline {
      border-color: $mediumgray;
      background-color: $mediumgray;
    }
    &.away {
      border-color: $mediumgray;
    }
  }
  .manager {
    float: left;
  }
}

#chart {
  height: 240px;
}
