<div id="container">
  <div class="column small">
    <div class="box">
      <div class="title">Zeitfenster</div>
      <div class="content" *ngIf="apiService.status">
        <div class="element">
          <div class="value">{{ apiService.status.season.season_name }}</div>
          <div class="key">Saison</div>
        </div>
        <div class="element">
          <div class="value">{{ apiService.status.matchday.number }}.</div>
          <div class="key">Spieltag</div>
        </div>
      </div>
    </div>
    <div class="box">
      <div class="title">Transferfenster</div>
      <div class="content" *ngIf="apiService.status">
        <div class="element" *ngIf="apiService.status.transferwindow">
          <div class="value positive">Offen</div>
          <div class="key">
            <div class="date">von {{ apiService.status.transferwindow.start_date | date : 'dd.MM.yyyy hh:mm' }} Uhr</div>
            <div class="date">bis {{ apiService.status.transferwindow.end_date | date : 'dd.MM.yyyy hh:mm' }} Uhr</div>
          </div>
        </div>
        <div class="element" *ngIf="!apiService.status.transferwindow">
          <div class="value">Geschlossen</div>
        </div>
      </div>
    </div>
    <div class="box">
      <div class="title">Verfügbare Spieler</div>
      <div class="content">
        <div class="element" *ngIf="playerCount">
          <div class="value">{{ playerCount.available }}</div>
          <div class="key">von {{ playerCount.all }}</div>
        </div>
      </div>
    </div>
    <div class="box">
      <div class="title">Sessions</div>
      <div class="content sessions" *ngIf="apiService.sessionList">
        <ng-container *ngFor="let session of apiService.sessionList">
          <div class="session" matTooltip="{{ formatLastcheckin(session.diff) }}">
            <div class="status {{ session.status }}"></div>
            <div class="manager">{{ session.manager_name }}</div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>

  <div class="column medium">
    <div class="box">
      <div class="title">Größe der Spieler</div>
      <div class="content">
        <ngx-charts-bar-vertical class="chart" [results]="playerHeightDistribution" [scheme]="schema" [barPadding]="4">
          <ng-template #tooltipTemplate let-model="model">
            <div class="tooltip">
              <div class="value">{{ model.value }} Spieler</div>
              <div class="name">{{ model.name }} cm</div>
            </div>
          </ng-template>
        </ngx-charts-bar-vertical>
      </div>
    </div>
    <div class="box">
      <div class="title">Gewicht der Spieler</div>
      <div class="content">
        <ngx-charts-bar-vertical class="chart" [results]="playerWeightDistribution" [scheme]="schema" [barPadding]="4">
          <ng-template #tooltipTemplate let-model="model">
            <div class="tooltip">
              <div class="value">{{ model.value }} Spieler</div>
              <div class="name">{{ model.name }} kg</div>
            </div>
          </ng-template>
        </ngx-charts-bar-vertical>
      </div>
    </div>
    <div class="box">
      <div class="title">Datenvollständigkeit</div>
      <div class="content columnDirection">
        <div class="row">
          <i class="icon fas fa-globe-europe"></i>
          <div class="bar">
            <ngx-charts-bar-horizontal-normalized class="chart" [results]="dataCompleteness.country" [scheme]="progressSchema">
            </ngx-charts-bar-horizontal-normalized>
          </div>
        </div>

        <div class="row">
          <i class="icon fas fa-home"></i>
          <div class="bar">
            <ngx-charts-bar-horizontal-normalized class="chart" [results]="dataCompleteness.city" [scheme]="progressSchema">
            </ngx-charts-bar-horizontal-normalized>
          </div>
        </div>

        <div class="row">
          <i class="icon fas fa-calendar-alt"></i>
          <div class="bar">
            <ngx-charts-bar-horizontal-normalized class="chart" [results]="dataCompleteness.dateOfBirth" [scheme]="progressSchema">
            </ngx-charts-bar-horizontal-normalized>
          </div>
        </div>

        <div class="row">
          <i class="icon fas fa-ruler-vertical"></i>
          <div class="bar">
            <ngx-charts-bar-horizontal-normalized class="chart" [results]="dataCompleteness.height" [scheme]="progressSchema">
            </ngx-charts-bar-horizontal-normalized>
          </div>
        </div>

        <div class="row">
          <i class="icon fas fa-weight-hanging"></i>
          <div class="bar">
            <ngx-charts-bar-horizontal-normalized class="chart" [results]="dataCompleteness.weight" [scheme]="progressSchema">
            </ngx-charts-bar-horizontal-normalized>
          </div>
        </div>

        <div class="row">
          <i class="icon fas fa-camera-retro"></i>
          <div class="bar">
            <ngx-charts-bar-horizontal-normalized class="chart" [results]="dataCompleteness.hasPhoto" [scheme]="progressSchema">
            </ngx-charts-bar-horizontal-normalized>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="column medium">
    <div id="activityList" class="box">
      <div class="title">Aktivität</div>
      <div class="content" *ngIf="activity">
        <div class="activity" *ngFor="let element of activity.data">
          <div class="icon">
            <i
              class="fas fa-user"
              [class.post]="element.type == 'POST_PLAYER'"
              [class.patch]="element.type == 'PATCH_PLAYER'"
              [class.delete]="element.type == 'DELETE_PLAYER'"
              *ngIf="element.type == 'POST_PLAYER' || element.type == 'PATCH_PLAYER' || element.type == 'DELETE_PLAYER'"
            ></i>
            <i
              class="fas fa-user-shield"
              [class.post]="element.type == 'POST_PLAYER_IN_CLUB'"
              [class.patch]="element.type == 'PATCH_PLAYER_IN_CLUB'"
              [class.delete]="element.type == 'DELETE_PLAYER_IN_CLUB'"
              *ngIf="
                element.type == 'POST_PLAYER_IN_CLUB' || element.type == 'PATCH_PLAYER_IN_CLUB' || element.type == 'DELETE_PLAYER_IN_CLUB'
              "
            ></i>
            <i
              class="fas fa-shield-alt"
              [class.post]="element.type == 'POST_CLUB'"
              [class.patch]="element.type == 'PATCH_CLUB'"
              [class.delete]="element.type == 'DELETE_CLUB'"
              *ngIf="element.type == 'POST_CLUB' || element.type == 'PATCH_CLUB' || element.type == 'DELETE_CLUB'"
            ></i>
            <i
              class="fas fa-trophy"
              [class.post]="element.type == 'POST_PLAYER_IN_SEASON'"
              [class.patch]="element.type == 'PATCH_PLAYER_IN_SEASON'"
              [class.delete]="element.type == 'DELETE_PLAYER_IN_SEASON'"
              *ngIf="
                element.type == 'POST_PLAYER_IN_SEASON' ||
                element.type == 'PATCH_PLAYER_IN_SEASON' ||
                element.type == 'DELETE_PLAYER_IN_SEASON'
              "
            ></i>
            <i
              class="fas fa-camera-retro"
              [class.post]="element.type == 'POST_PLAYER_IN_SEASON_PHOTO'"
              [class.patch]="element.type == 'PATCH_PLAYER_IN_SEASON_PHOTO'"
              [class.delete]="element.type == 'DELETE_PLAYER_IN_SEASON_PHOTO'"
              *ngIf="
                element.type == 'POST_PLAYER_IN_SEASON_PHOTO' ||
                element.type == 'PATCH_PLAYER_IN_SEASON_PHOTO' ||
                element.type == 'DELETE_PLAYER_IN_SEASON_PHOTO'
              "
            ></i>
          </div>
          <div class="info">
            <a [routerLink]="[element.ref_route, element.ref_id]" target="_blank" class="description underline" *ngIf="element.ref_id">{{
              element.message
            }}</a>
            <div class="description" *ngIf="!element.ref_id">{{ element.message }}</div>
            <div class="info">
              <div class="date">{{ getDateString(element.activity_timestamp) }}</div>
              <div class="time">{{ element.activity_timestamp | date : 'HH:mm:ss' }} Uhr von</div>
              <div class="photo" *ngIf="!element.has_photo"></div>
              <img
                class="photo"
                *ngIf="element.has_photo"
                src="{{ 'http://img.die-bestesten.de/img/manager/' + element.manager_id + '.jpg' }}"
              />
              <a [routerLink]="['/manager', element.ref_id]" target="_blank" class="name underline">{{ element.name }}</a>
            </div>
          </div>
        </div>
        <div class="paginator">
          <div class="page" (click)="getActivity(activity.prev)" [class.disabled]="!activity.prev">
            <i class="fas fa-chevron-left"></i>
            <span class="text">Vorherige Seite</span>
          </div>
          <div class="pages">{{ activity.page }} von {{ activity.max_pages }}</div>
          <div class="page" (click)="getActivity(activity.next)" [class.disabled]="!activity.next">
            <span class="text">Nächste Seite</span>
            <i class="fas fa-chevron-right"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="box">
      <div class="title">Karte</div>
      <div class="content map">
        <div id="menu">
          <div class="item" [class.selected]="mapType === 'clubs'" (click)="fillWorldMap('clubs')">Clubs</div>
          <div class="item" [class.selected]="mapType === 'player'" (click)="fillWorldMap('player')">Spieler</div>
        </div>
        <object id="map" type="image/svg+xml" data="./../../../../assets/img/world.svg"></object>
      </div>
    </div>
  </div>

  <!--<div class="box alignStart" style="width: 100%">
    <div class="title">Saisonverlauf (experimentel)</div>
    <div class="content" *ngIf="seasonChart" style="height: 800px">
      <ngx-charts-line-chart
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        [xAxis]="true"
        [yAxis]="true"
        [xAxisLabel]="'Spieltag'"
        [yAxisLabel]="'Punkte'"
        [timeline]="true"
        [results]="seasonChart"
      >
      </ngx-charts-line-chart>
    </div>
  </div>-->
</div>
