@import './../../../../colors.scss';

#topbar {
  height: 50px;
  background-color: $white;
  box-shadow: inset 0px -1px 0px $gray;
  display: flex;
  line-height: 50px;
  color: $medium;
  text-align: center;

  .element {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    &.menu {
      width: auto;
      box-shadow: inset -1px 0px 0px $gray;
      font-size: 20px;
      padding: 0 32px;
    }
    &.menu:hover {
      color: $blue;
    }
    &.search {
      flex-grow: 6;
      font-size: 16px;
      position: relative;
      input {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        border: none;
        opacity: 0;
        text-align: center;
        transition: all 0.2s ease-in-out;
        font-size: 16px;
        &.active {
          opacity: 1;
        }
      }
      input:focus {
        opacity: 1;
        box-shadow: inset 0px -3px $blue;
      }
      #searchresult {
        position: absolute;
        width: 40%;
        min-width: 640px;
        max-width: 100%;
        max-height: 80vh;
        background-color: $white;
        border: 1px solid $gray;
        z-index: 3;
        top: 100%;
        color: $dark;
        left: 50%;
        transform: translateX(-50%);
        text-align: left;
        transition: all 0.2s ease-in-out;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        overflow-y: auto;
        .title {
          font-size: 12px;
          line-height: 24px;
          font-weight: bold;
        }
        section {
          float: left;
          width: 100%;
          box-shadow: inset 0px -1px $gray;
          .item {
            float: left;
            width: 100%;
            border-bottom: 1px solid $light;
            transition: all 0.2s ease-in-out;
            cursor: pointer;
            .photo {
              height: 32px;
              width: 32px;
              border-radius: 16px;
              margin: 9px;
              float: left;
              overflow: hidden;
              &.logo {
                border-radius: 0px;
                object-fit: contain;
              }
            }
            .placeholder {
              height: 32px;
              width: 32px;
              border-radius: 16px;
              margin: 9px;
              float: left;
              background-color: $gray;
              transition: all 0.2s ease-in-out;
            }
            .name {
              float: left;
              .firstname {
                color: $darkgray;
                font-size: 12px;
                margin-right: 2px;
              }
            }
          }
          .item:hover {
            background-color: $gray;
            .placeholder {
              background-color: $light;
            }
          }
          .item:last-of-type {
            border-bottom: 0px;
          }
        }
      }
      #searchBackground {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        pointer-events: none;
        z-index: 2;
        &.visible {
          pointer-events: all;
          cursor: pointer;
        }
      }
    }
    &.search:hover {
      color: $blue;
    }
    &.search:active input {
      opacity: 1;
    }
    &.manager {
      width: auto;
      box-shadow: inset 1px 0px 0px $gray;
      padding: 0 32px;
      display: flex;
      .managerprofile {
        display: flex;
        .photo {
          height: 28px;
          width: 28px;
          border-radius: 16px;
          background-color: $gray;
          margin: 9px 0;
          border: 2px solid transparent;
          overflow: hidden;
          line-height: 0px;
        }
        .name {
          font-weight: bold;
          margin: 0 32px 0 12px;
          transform: translateY(-1px);
        }
      }
      .managerprofile:hover {
        color: $blue;
        .photo {
          border-color: $blue;
        }
      }
      .managermenu {
        font-size: 20px;
      }
      .managermenu:hover {
        color: $red;
      }
    }
  }
}

/* mobile */
@media only screen and (max-width: 600px) {
  .element {
    &.manager {
      padding: 0 16px !important;
      .managerprofile {
        .photo {
          margin: 9px 18px 9px 0 !important;
        }
        .placeholder {
          margin: 9px 18px 9px 0 !important;
        }
        .name {
          display: none;
        }
      }
    }
  }

  #searchresult {
    width: 80vw !important;
    min-width: unset !important;
    max-width: unset !important;
  }
}
