<div id="topbar">
  <div class="element menu" (click)="onToggleSidebarVisibility()"><i class="fas fa-bars"></i></div>
  <div class="element search">
    <i class="fas fa-search"></i> Suche
    <input type="text" [ngModel]="searchInput" (ngModelChange)="onSearch($event)" [class.active]="searchInput" />
    <div id="searchresult" *ngIf="searchResult">
      <ng-container>
        <section>
          <div class="item" *ngFor="let item of searchResult.manager">
            <img
              class="photo"
              src="{{ 'http://img.die-bestesten.de/img/manager/' + item.manager_id + '.jpg' }}"
              *ngIf="item.has_photo == '1'"
            />
            <div class="placeholder" *ngIf="item.has_photo == '0'"></div>
            <div class="name">{{ item.name }}</div>
          </div>
        </section>
        <section>
          <div class="item" *ngFor="let item of searchResult.club">
            <img class="photo logo" src="./../../../../assets/img/club/{{ item.club_id }}.png" />
            <div class="name">{{ item.name }}</div>
          </div>
        </section>
        <section>
          <ng-container *ngFor="let item of searchResult.player">
            <a class="item" [routerLink]="['spielerdatenbank', item.player_id]" (click)="onResetSearch()">
              <img
                class="photo"
                src="{{ 'http://img.die-bestesten.de/img/player/' + apiService.status.season.season_id + '/' + item.player_id + '.png' }}"
                *ngIf="item.has_photo == '1'"
              />
              <div class="placeholder" *ngIf="item.has_photo == '0'"></div>
              <div class="name">
                <span class="firstname">{{ item.firstname }}</span> {{ item.lastname }}
              </div>
            </a>
          </ng-container>
        </section>
      </ng-container>
    </div>
    <div id="searchBackground" [class.visible]="searchResult" (click)="onResetSearch()"></div>
  </div>
  <div class="element manager">
    <div class="element managerprofile" (click)="onOpenProfile()">
      <div class="element photo" *ngIf="!manager.has_photo"></div>
      <img class="element photo" *ngIf="manager.has_photo" src="{{ 'http://img.die-bestesten.de/img/manager/' + manager.sub + '.jpg' }}" />
      <div class="name">{{ manager.name }}</div>
    </div>

    <div class="element managermenu" (click)="onLogout()">
      <!--<i class="fas fa-chevron-down"></i>-->
      <i class="fas fa-sign-out-alt"></i>
    </div>
  </div>
</div>
