<div id="notification-container">
  <ng-container *ngIf="notification_service.notification">
    <div id="notification" class="shape {{ notification_service.notification.type }}">
      {{ notification_service.notification.message }}
      <i class="fa-solid fa-xmark close" (click)="onClose()"></i>
    </div>
  </ng-container>
</div>
