//@import './../../../../../style/animations.scss';

#notification-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  padding: 11px 16px;
  z-index: 1000;
  #notification {
    height: 42px;
    line-height: 42px;
    border-radius: 5px;
    padding: 0 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: auto;
    color: white;
    font-weight: 500;
    background-color: #b2bec3;
    animation: pop-in 160ms ease-in-out;
    white-space: nowrap;
    font-size: 14px;
    &.positive {
      background-color: var(--goalkeeper);
    }
    &.negative {
      background-color: var(--primary);
    }
    &.fade-out {
      animation: fade-out 360ms ease-in-out 0s 1 normal forwards;
    }

    .close {
      position: absolute;
      height: 42px;
      width: 42px;
      right: 0;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1em;
      cursor: pointer;
    }
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes pop-in {
  from {
    opacity: 0;
    transform: translateY(-200%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@media only screen and (max-width: 639px) {
  #notification-container {
    max-width: calc(100vw - 2 * 16px);
    #notification {
      &.negative {
        font-size: 10px;
      }
    }
  }
}
