@import 'src/style/colors.scss';

.prodcast {
  display: flex;
  flex-direction: column;
  margin-bottom: 36px;
  .info {
    display: flex;
    flex-direction: column;
    margin-bottom: -14px;
    .title {
      font-size: 18px;
      font-weight: bold;
    }
    .meta {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      //
      .published-at {
        color: $label;
        font-size: 12px;
        transform: translateY(-24px);
      }
      .speaker {
        display: flex;
        overflow: hidden;
        transform: translateY(-20px);
        .photo {
          height: 36px;
          width: 36px;
          border-radius: 50%;
          margin: 4px;
        }
      }
    }
  }
  audio {
    width: 100%;
    background-color: $white;
    &::-webkit-media-controls-enclosure {
      background-color: $white;
    }
  }
}

@media only screen and (max-width: 639px) {
  .prodcast {
    .info {
      .title {
        font-size: 16px;
      }
      .meta {
        .published-at {
          font-size: 10px;
          transform: translateY(-18px);
        }
        .speaker {
          .photo {
            height: 24px;
            width: 24px;
          }
        }
      }
    }
  }
}
