<div class="prodcast" *ngFor="let prodcast of prodcastList">
  <div class="info">
    <div class="title">{{ prodcast.prodcast_name }}</div>
    <div class="meta">
      <div class="published-at" matTooltip="{{ prodcast.published_at | date : 'HH:mm' }} Uhr">
        {{ prodcast.published_at | date : 'dd.MM.yyyy' }}
      </div>
      <div class="speaker">
        <ng-container *ngFor="let manager of prodcast.speaker">
          <img
            class="photo"
            src="{{ 'http://img.die-bestesten.de/img/manager/' + manager.manager_id + '.jpg' }}"
            matTooltip="{{ manager.manager_name }}"
          />
        </ng-container>
      </div>
    </div>
  </div>
  <audio controls class="rounded shadow">
    <source src="http://img.die-bestesten.de/audio/prodcast/{{ prodcast.prodcast_id }}.mp3" type="audio/mpeg" />
    Your browser does not support the audio element.
  </audio>
</div>
