<form id="container">
  <div class="season">{{ playerInSeason.seasonName }}</div>
  <div id="photoContainer">
    <ng-container *ngIf="playerInSeason.hasPhoto && !preview">
      <img
        class="photo"
        src="{{ 'http://img.die-bestesten.de/img/player/' + playerInSeason.seasonId + '/' + playerInSeason.playerId + '.png' }}"
      />
    </ng-container>
    <ng-container *ngIf="!playerInSeason.hasPhoto && !preview">
      <div class="photo"></div>
    </ng-container>
    <ng-container *ngIf="preview">
      <img id="preview" class="photo" src="" />
    </ng-container>
    <div class="upload"><i class="fas fa-upload"></i></div>
    <input type="file" accept="image/*" #fileDropRef id="fileDropRef" (change)="onFileChange($event)" />
  </div>
  <div id="position" *ngIf="playerInSeason">
    <div class="position TOR" (click)="setPosition('GOALKEEPER')" [class.selected]="isPosition('GOALKEEPER')">TOR</div>
    <div class="position ABW" (click)="setPosition('DEFENDER')" [class.selected]="isPosition('DEFENDER')">ABW</div>
    <div class="position MIT" (click)="setPosition('MIDFIELDER')" [class.selected]="isPosition('MIDFIELDER')">MIT</div>
    <div class="position STU" (click)="setPosition('FORWARD')" [class.selected]="isPosition('FORWARD')">STU</div>
  </div>
  <div id="price">
    <mat-form-field class="small">
      <mat-label>Marktwert</mat-label>
      <input matInput [(ngModel)]="price" type="number" step=".1" min="0" name="price" (ngModelChange)="onChangePrice()" />
    </mat-form-field>
    Mio €
  </div>

  <mat-checkbox (change)="playerInSeason.is_captain = !playerInSeason.is_captain" [checked]="playerInSeason.is_captain"
    >Mannschaftskapitän</mat-checkbox
  >

  <div id="finish">
    <div class="button cancel" (click)="onCancel()">Abbrechen</div>
    <div class="button save" (click)="onSave()" [class.disabled]="false">Speichern</div>
  </div>
</form>
