@import './../../../../../colors.scss';

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 36px;

  .season {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 24px;
    width: calc(100% + 48px);
    padding-bottom: 8px;
    border-bottom: 1px solid $gray;
    text-align: center;
    margin: -8px -24px 16px;
  }

  #photoContainer {
    height: 180px;
    width: 180px;
    border-radius: 90px;
    overflow: hidden;
    position: relative;
    margin-bottom: 24px;
    #preview {
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      animation: popup 0.2s 1 ease-in-out;
      overflow: hidden;
      border-radius: 90px;
    }
    .photo {
      height: 100%;
      width: 100%;
      background-color: $gray;
    }
    .upload {
      opacity: 0;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $medium;
      color: $light;
      text-align: center;
      line-height: 180px;
      font-size: 36px;
    }
    input {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
    }
  }
  #photoContainer:hover {
    .upload {
      opacity: 0.5;
    }
  }

  #position {
    display: flex;
    width: 100%;
    margin-bottom: 24px;
    .position {
      flex-grow: 1;
      border-top: 3px solid;
      border-bottom: 3px solid;
      text-align: center;
      height: 42px;
      line-height: 42px;
      font-weight: bold;
      font-size: 14px;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      &:first-of-type {
        border-left: 3px solid;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }
      &:last-of-type {
        border-right: 3px solid;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }
      &.TOR {
        border-color: $green;
        color: $green;
        &.selected {
          background-color: $green;
          color: $white;
        }
        &:hover {
          background-color: $green;
          border-left-color: $green;
        }
      }
      &.ABW {
        border-color: $yellow;
        color: $yellow;
        &.selected {
          background-color: $yellow;
          color: $white;
        }
        &:hover {
          background-color: $yellow;
        }
      }
      &.MIT {
        border-color: $blue;
        color: $blue;
        &.selected {
          background-color: $blue;
          color: $white;
        }
        &:hover {
          background-color: $blue;
        }
      }
      &.STU {
        border-color: $red;
        color: $red;
        &.selected {
          background-color: $red;
          color: $white;
        }
        &:hover {
          background-color: $red;
          border-right-color: $red;
        }
      }
      &:hover {
        color: $white;
      }
    }
  }

  #price {
    height: 36px;
    margin: 12px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    mat-form-field {
      margin-right: 12px;
      text-align: center;
    }
  }

  #finish {
    display: flex;
    width: 100%;
    .button {
      text-align: center;
      cursor: pointer;
      font-weight: bold;
      transition: all 0.2s ease-in-out;
      border-radius: 3px;
      border-bottom: transparent;
      flex-grow: 1;
      &.cancel {
        background-color: transparent;
        color: $darkgray;
        margin-right: 12px;
      }
      &.cancel:hover {
        color: $blue;
      }
      &.disabled {
        pointer-events: none;
        background-color: transparent;
        color: $gray;
        cursor: default;
        border-color: transparent;
      }
    }
  }
}

@keyframes popup {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}
