<div class="table-row">
  <div class="item">
    <img class="badge" src="{{ 'http://img.die-bestesten.de/img/team/' + season_id + '/' + team.team_id + '.png' }}" />
    {{ team.team_name }}
  </div>
  <div class="spacer"></div>
  <div class="item right tiny">{{ goals }}</div>
  <div class="item right tiny points">{{ points }}</div>
</div>
