<div class="container">
  <div class="column side" [class.expanded]="this.filter.player.isExpanded">
    <div *ngIf="budget">
      <h3>Finanzen</h3>
      <div class="budget small">
        <div>Kontostand</div>
        <div class="spacer line"></div>
        <div>{{ budget | number : '1.0' }} <i class="fa-solid fa-peseta-sign"></i></div>
      </div>
      <div class="budget small">
        <div>Offene Gebote:</div>
        <div class="spacer line"></div>
        <div>{{ getOpenOfferValue() | number : '1.0' }} <i class="fa-solid fa-peseta-sign"></i></div>
      </div>
      <div class="budget">
        <div>Verfügbares Budget:</div>
        <div class="spacer line"></div>
        <div>{{ budget - getOpenOfferValue() | number : '1.0' }} <i class="fa-solid fa-peseta-sign"></i></div>
      </div>
    </div>

    <div class="status">
      <div class="badge rounded shadow" [class.open]="transferwindow" [class.closed]="!transferwindow">
        <span *ngIf="transferwindow"><i class="fas fa-store"></i> GEÖFFNET</span>
        <span *ngIf="!transferwindow"><i class="fas fa-store-slash"></i> GESCHLOSSEN</span>
      </div>
      <div class="spacer line"></div>
      <span class="info" *ngIf="transferwindow">bis {{ transferwindow.end_date | date : 'dd.MM.yyyy HH:mm' }} Uhr</span>
    </div>
    <div class="expand-button" (click)="onToggleFilter()">
      <i class="fas fa-chevron-right" [class.rotated]="this.filter.player.isExpanded"></i>
      <span *ngIf="this.filter.player.isExpanded">Einklappen</span>
      <span *ngIf="!this.filter.player.isExpanded">Ausklappen</span>
    </div>
    <div class="filter-container" [class.expanded]="this.filter.player.isExpanded">
      <h3>
        Positionen
        <div class="clear" *ngIf="filter.player.items.selectedPositions.length > 0" (click)="onClearPositionSelection()">
          <i class="fas fa-times"></i>Zurücksetzen
        </div>
      </h3>
      <div class="position-container">
        <div
          class="position goalkeeper rounded shadow"
          [class.selected]="isPositionSelected('GOALKEEPER')"
          [class.unselected]="!isPositionSelected('GOALKEEPER')"
          (click)="onSelectPosition('GOALKEEPER')"
        >
          Tor
        </div>
        <div
          class="position defender rounded shadow"
          [class.selected]="isPositionSelected('DEFENDER')"
          [class.unselected]="!isPositionSelected('DEFENDER')"
          (click)="onSelectPosition('DEFENDER')"
        >
          Abwehr
        </div>
        <div
          class="position midfielder rounded shadow"
          [class.selected]="isPositionSelected('MIDFIELDER')"
          [class.unselected]="!isPositionSelected('MIDFIELDER')"
          (click)="onSelectPosition('MIDFIELDER')"
        >
          Mittelfeld
        </div>
        <div
          class="position forward rounded shadow"
          [class.selected]="isPositionSelected('FORWARD')"
          [class.unselected]="!isPositionSelected('FORWARD')"
          (click)="onSelectPosition('FORWARD')"
        >
          Sturm
        </div>
      </div>
      <h3>
        Clubauswahl
        <div class="clear" *ngIf="filter.player.items.selectedClubs.length > 0" (click)="onClearClubSelection()">
          <i class="fas fa-times"></i>Zurücksetzen
        </div>
      </h3>

      <div class="club-container">
        <img
          class="club"
          [class.unselected]="!isClubSelected(club.club_id)"
          (click)="onSelectClub(club.club_id)"
          matTooltip="{{ club.name }}"
          *ngFor="let club of clubList"
          src="{{ 'http://img.die-bestesten.de/img/club/' + club.club_id + '.png' }}"
        />
      </div>
      <h3>
        Marktwert
        <div class="clear" *ngIf="filter.player.items.range.min || filter.player.items.range.max" (click)="onClearRangeSelection()">
          <i class="fas fa-times"></i>Zurücksetzen
        </div>
      </h3>
      <div class="range-container">
        <input
          class="rounded shadow"
          [(ngModel)]="this.filter.player.items.range.min"
          (change)="onSetMinRange($event.target)"
          name="minRange"
          type="number"
          step="0.1"
          autocomplete="off"
          placeholder="Minimum"
        />
        <div class="middle">bis</div>
        <input
          class="rounded shadow"
          [(ngModel)]="this.filter.player.items.range.max"
          (change)="onSetMaxRange($event.target)"
          name="minRange"
          type="number"
          step="0.1"
          autocomplete="off"
          placeholder="Maximum"
        />
      </div>
    </div>
  </div>

  <div class="column main">
    <h3>Transfermarkt</h3>
    <div class="table">
      <div class="table-header">
        <div class="item sortable" (click)="sortBy('player_name')" [class.active]="orderBy === 'player_name'">
          <i class="fa-solid fa-sort" *ngIf="orderBy !== 'player_name'"></i>
          <i class="fa-solid fa-sort-up" *ngIf="orderBy === 'player_name' && orderDirection === 'ASC'"></i>
          <i class="fa-solid fa-sort-down" *ngIf="orderBy === 'player_name' && orderDirection === 'DESC'"></i>
          Spieler
        </div>
        <div class="spacer"></div>
        <div class="item sortable right" (click)="sortBy('points')" [class.active]="orderBy === 'points'">
          <i class="fa-solid fa-sort" *ngIf="orderBy !== 'points'"></i>
          <i class="fa-solid fa-sort-up" *ngIf="orderBy === 'points' && orderDirection === 'ASC'"></i>
          <i class="fa-solid fa-sort-down" *ngIf="orderBy === 'points' && orderDirection === 'DESC'"></i>
          Punkte
        </div>
        <div class="item sortable right" (click)="sortBy('price')" [class.active]="orderBy === 'price'">
          <i class="fa-solid fa-sort" *ngIf="orderBy !== 'price'"></i>
          <i class="fa-solid fa-sort-up" *ngIf="orderBy === 'price' && orderDirection === 'ASC'"></i>
          <i class="fa-solid fa-sort-down" *ngIf="orderBy === 'price' && orderDirection === 'DESC'"></i>
          Preis
        </div>
      </div>
      <db-loading class="loading" *ngIf="playerList.length === 0 && loading" style="height: 180px"></db-loading>
      <div class="table-body shadow rounded">
        <ng-container *ngFor="let player of filteredPlayerList; let i = index">
          <a class="table-row animated" *ngIf="i < maxLimit" [routerLink]="['/spieler/details', player.displayname]">
            <div class="item left big">
              <div
                class="position {{ player.season_list[0].position }}"
                matTooltip="{{ getPositionName(player.season_list[0].position) }}"
              ></div>
              <img
                class="photo"
                src="{{
                  'http://img.die-bestesten.de/img/player/' +
                    player.season_list[0].season_id +
                    '/' +
                    player.season_list[0].player_id +
                    '.png'
                }}"
                *ngIf="player.season_list[0].has_photo == '1'"
              />
              <img class="photo" src="./../.././../assets/img/icon/32/player.png" *ngIf="player.season_list[0].has_photo == '0'" />
              <img class="team-badge" src="{{ 'http://img.die-bestesten.de/img/club/' + player.club_list[0].club_id + '.png' }}" />
              <span class="display-name">{{ player.displayname }}</span>

              <i class="fas fa-hand-holding-usd" *ngIf="existsOfferForPlayer(player.player_id)"></i>
              <span class="count" *ngIf="getGlobalOfferCount(player.player_id) > 0 && isDev()"
                >{{ getGlobalOfferCount(player.player_id) }} <i class="fas fa-search-dollar"></i
              ></span>
            </div>
            <div class="spacer"></div>
            <div class="item right">{{ player.points }}</div>
            <div class="item right">
              {{ player.season_list[0].price / 1000000 | number : '1.2-2' }}M<i class="fa-solid fa-peseta-sign"></i>
            </div>
          </a>
        </ng-container>
      </div>
      <div class="actions flex v" *ngIf="!loading && maxLimit < filteredPlayerList.length">
        <button (click)="onLoad(20)">Mehr laden</button>
        <button (click)="onLoad()">Alle laden</button>
      </div>
    </div>
  </div>
</div>
