@import 'src/style/colors.scss';

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  gap: 32px;
  .column {
    &.main {
      flex-grow: 3;
      flex-shrink: 0;
      flex-basis: 240px;
      .more {
        margin: 24px auto;
        padding: 8px 24px;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
        &:hover {
          background-color: $white;
        }
      }
    }
    &.side {
      flex-grow: 1;
      flex-basis: 240px;
      position: sticky;
      top: 0;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      gap: 32px;
      &.expanded {
        margin-bottom: 24px;
      }
    }
    @media only screen and (max-width: 639px) {
      &.side {
        position: inherit;
      }
    }
  }
}

.budget {
  width: 100%;
  height: 36px;
  text-align: center;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &.small {
    height: 26px;
    font-weight: 400;
    font-size: 14px;
  }
}
.status {
  height: 36px;
  line-height: 36px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .badge {
    padding: 0 12px;
    text-align: center;
    color: $white;
    margin-right: 12px;
    font-weight: 600;
    .fas {
      margin-right: 4px;
    }
    &.open {
      background-color: $green;
    }
    &.closed {
      background-color: $red;
    }
  }
  .info {
    font-weight: 500;
  }
}

.expand-button {
  display: none;
  height: 32px;
  line-height: 32px;
  .fas {
    text-align: center;
    width: 24px;
    transition: all 0.2s ease-in-out;
    &.rotated {
      transform: rotate(90deg);
    }
  }
}
@media only screen and (max-width: 639px) {
  .expand-button {
    display: initial;
  }
}
.filter-container {
  max-height: 0px;
  transition: all 0.2s ease-in-out;
  &.expanded {
    height: auto;
    max-height: 1000px;
  }
}

.position-container {
  display: flex;
  margin-bottom: 24px;
  user-select: none;
  .position {
    height: 36px;
    line-height: 40px;
    background-color: $white;
    border-bottom: 4px solid $white;
    flex-grow: 1;
    text-align: center;
    margin: 0 8px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    font-weight: 600;
    &:first-of-type {
      margin-left: 0px;
    }
    &:last-of-type {
      margin-right: 0px;
    }
    &.unselected {
      transform: scale(0.8);
      opacity: 0.5;
      &:hover {
        opacity: 1;
      }
      &.goalkeeper:hover {
        color: $green;
        border-color: $green;
      }
      &.defender:hover {
        color: $yellow;
        border-color: $yellow;
      }
      &.midfielder:hover {
        color: $blue;
        border-color: $blue;
      }
      &.forward:hover {
        color: $red;
        border-color: $red;
      }
    }
    &.selected {
      color: $white;
      &.goalkeeper {
        background-color: $green;
        border-color: $green;
        &:hover {
          background-color: darken($green, 10%);
          border-color: darken($green, 10%);
        }
      }
      &.defender {
        background-color: $yellow;
        border-color: $yellow;
        &:hover {
          background-color: darken($yellow, 10%);
          border-color: darken($yellow, 10%);
        }
      }
      &.midfielder {
        background-color: $blue;
        border-color: $blue;
        &:hover {
          background-color: darken($blue, 10%);
          border-color: darken($blue, 10%);
        }
      }
      &.forward {
        background-color: $red;
        border-color: $red;
        &:hover {
          background-color: darken($red, 10%);
          border-color: darken($red, 10%);
        }
      }
    }
  }
}

h3 {
  position: relative;
  .clear {
    position: absolute;
    right: 0;
    top: 0;
    line-height: 26px;
    border-radius: 3px;
    padding: 0 6px;
    color: $darkRed;
    font-size: 12px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    .fas {
      margin-right: 4px;
    }
    &:hover {
      background-color: $white;
      color: $red;
    }
  }
}
@media only screen and (max-width: 639px) {
  h3 {
    font-size: 1em;
    margin-bottom: 0.4rem;
  }
}

.club-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 24px;
  justify-content: space-between;
  .club {
    height: 42px;
    width: 42px;
    margin: 8px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    &.unselected {
      transform: scale(0.8);
      filter: grayscale(1);
      opacity: 0.5;
    }
    &:hover {
      filter: grayscale(0);
      opacity: 1;
    }
  }
}

.range-container {
  display: flex;
  width: 100%;
  input {
    text-align: center;
    height: 34px;
    line-height: 34px;
    transition: all 0.2s ease-in-out;
    width: 45%;
    &:focus {
      border-color: $red;
    }
  }
  .middle {
    width: 10%;
    line-height: 36px;
    text-align: center;
  }
}

.table-row {
  .item {
    .position {
      width: 8px;
      min-width: 8px;
      height: 44px;
      margin: 0 4px 0 -8px;
      &.GOALKEEPER {
        background-color: $green;
      }
      &.DEFENDER {
        background-color: $yellow;
      }
      &.MIDFIELDER {
        background-color: $blue;
      }
      &.FORWARD {
        background-color: $red;
      }
    }
    .photo {
      margin: 7px 2px;
      height: 28px;
      width: 28px;
      border-radius: 50%;
    }
    .team-badge {
      margin: 7px 2px;
      height: 28px;
      width: 28px;
    }
    .club-badge {
      margin: 7px 2px;
      height: 28px;
      width: 28px;
    }

    .display-name {
      margin-left: 4px;
      font-size: 16px;
    }
    .points {
      width: 48px;
    }
    .count {
      color: $label;
      margin-left: 8px;
      font-size: 14px;
      font-weight: 600;
      opacity: 0.5;
    }
    .fa-hand-holding-usd {
      margin-left: 8px;
    }
  }
}

@media only screen and (max-width: 639px) {
  /*.points {
    display: none;
  }*/
}

.actions {
  display: flex;
  flex-direction: row;
  margin-top: 24px;
  justify-content: space-around;
  button {
    height: 36px;
    line-height: 36px;
    padding: 0 64px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    background-color: var(--focus-color);
    &:hover {
      background-color: var(--hover-background-color);
    }
  }
}
