<div class="player" [class.startLineup]="player.ratingList[0].startLineup">
  <div class="position {{ player.seasonList[0].position }}"></div>
  <div class="displayname">{{ player.displayname }}</div>
  <div class="rating" *ngIf="player.ratingList[0]">
    <div
      class="startLineup"
      (click)="onToggleStartLineup()"
      [class.editable]="isEditable"
      [class.selected]="player.ratingList[0].startLineup"
    >
      11
    </div>
    <div
      class="substitution"
      (click)="onToggleSubstitution()"
      [class.editable]="isEditable"
      [class.selected]="player.ratingList[0].substitution"
    >
      <i class="fas fa-exchange-alt"></i>
    </div>
    <div
      class="grade grade{{ 10 * player.ratingList[0].grade }}"
      [class.editable]="isEditable && (player.ratingList[0].startLineup || player.ratingList[0].substitution)"
      (click)="onOpenGradeSelection()"
    >
      <ng-container *ngIf="player.ratingList[0].grade">
        {{ player.ratingList[0].grade.toFixed(1) }}
      </ng-container>
      <img
        class="placeholder kicker"
        [class.visible]="isEditable && (player.ratingList[0].startLineup || player.ratingList[0].substitution)"
        src="./../../../../../assets/img/kicker.png"
        *ngIf="!player.ratingList[0].grade"
      />
    </div>

    <div
      class="grade grade{{ 10 * player.ratingList[0].ligainsider_grade }}"
      [class.editable]="isEditable && (player.ratingList[0].startLineup || player.ratingList[0].substitution)"
      (click)="onOpenLigainsiderGradeSelection()"
    >
      <ng-container *ngIf="player.ratingList[0].ligainsider_grade">
        {{ player.ratingList[0].ligainsider_grade.toFixed(1) }}
      </ng-container>
      <img
        class="placeholder ligainsider"
        [class.visible]="isEditable && (player.ratingList[0].startLineup || player.ratingList[0].substitution)"
        src="./../../../../../assets/img/ligainsider.jpg"
        *ngIf="!player.ratingList[0].ligainsider_grade"
      />
    </div>

    <div class="scorer goals">
      <ng-container *ngIf="player.ratingList[0].startLineup || player.ratingList[0].substitution">
        <div class="count">
          <span *ngFor="let item of arrayOne(player.ratingList[0].goals); let i = index">
            <i class="fas fa-futbol"></i>
          </span>
          <span class="empty" *ngIf="player.ratingList[0].goals == 0"><i class="fas fa-futbol"></i></span>
        </div>
        <div class="add edtiable" *ngIf="isEditable" (click)="onEditGoal(1)">+TOR</div>
        <div class="remove editable" *ngIf="isEditable" (click)="onEditGoal(-1)" [class.hidden]="player.ratingList[0].goals == 0">
          <i class="fas fa-trash"></i>
        </div>
      </ng-container>
    </div>
    <div class="scorer assists">
      <ng-container *ngIf="player.ratingList[0].startLineup || player.ratingList[0].substitution">
        <div class="count">
          <span *ngFor="let item of arrayOne(player.ratingList[0].assists); let i = index">
            <i class="fas fa-parachute-box"></i>
          </span>
          <span class="empty" *ngIf="player.ratingList[0].assists == 0"><i class="fas fa-parachute-box"></i></span>
        </div>
        <div class="add editable" *ngIf="isEditable" (click)="onEditAssist(1)">+ASSIST</div>
        <div class="remove editable" *ngIf="isEditable" (click)="onEditAssist(-1)" [class.hidden]="player.ratingList[0].assists == 0">
          <i class="fas fa-trash"></i>
        </div>
      </ng-container>
    </div>
    <div class="sds" (click)="onToggleSds()">
      <ng-container *ngIf="player.ratingList[0].startLineup || player.ratingList[0].substitution">
        <i class="fas fa-star filled" *ngIf="player.ratingList[0].sds" [class.editable]="isEditable"></i>
        <i class="far fa-star" *ngIf="!player.ratingList[0].sds" [class.editable]="isEditable"></i>
      </ng-container>
    </div>
    <div class="cleanSheet" (click)="onToggleCleanSheet()">
      <ng-container *ngIf="player.seasonList[0].getPositionString() === 'Tor' && player.ratingList[0].startLineup">
        <i class="fas fa-hand-paper" [class.editable]="isEditable" [class.active]="player.ratingList[0].cleanSheet"></i>
      </ng-container>
    </div>
    <div class="card" (click)="onToggleYellowRedCard()">
      <ng-container *ngIf="player.ratingList[0].startLineup || player.ratingList[0].substitution">
        <img
          class="card"
          [class.editable]="isEditable"
          [class.active]="player.ratingList[0].yellowRedCard"
          src="./../../../../../assets/img/yellow_red_card.svg"
        />
      </ng-container>
    </div>
    <div class="card" (click)="onToggleRedCard()">
      <ng-container *ngIf="player.ratingList[0].startLineup || player.ratingList[0].substitution">
        <img
          class="card"
          [class.editable]="isEditable"
          [class.active]="player.ratingList[0].redCard"
          src="./../../../../../assets/img/red_card.png"
        />
      </ng-container>
    </div>
    <div class="points">{{ player.ratingList[0].points }}</div>
  </div>
</div>

<div id="gradeSelection" *ngIf="selectGrade">
  <div class="background" (click)="onCloseGradeSelection()"></div>
  <div class="grades">
    <div class="grade grade10" (click)="onSelectGrade(1)">1.0</div>
    <div class="grade grade15" (click)="onSelectGrade(1.5)">1.5</div>
    <div class="grade grade20" (click)="onSelectGrade(2)">2.0</div>
    <div class="grade grade25" (click)="onSelectGrade(2.5)">2.5</div>
    <div class="grade grade30" (click)="onSelectGrade(3)">3.0</div>
    <div class="grade grade35" (click)="onSelectGrade(3.5)">3.5</div>
    <div class="grade grade40" (click)="onSelectGrade(4)">4.0</div>
    <div class="grade grade45" (click)="onSelectGrade(4.5)">4.5</div>
    <div class="grade grade50" (click)="onSelectGrade(5)">5.0</div>
    <div class="grade grade55" (click)="onSelectGrade(5.5)">5.5</div>
    <div class="grade grade60" (click)="onSelectGrade(6)">6.0</div>
  </div>
</div>

<div id="gradeSelection" *ngIf="selectLigainsiderGrade">
  <div class="background" (click)="onCloseLigainsiderGradeSelection()"></div>
  <div class="grades">
    <div class="grade grade10" (click)="onSelectLigainsiderGrade(1)">1.0</div>
    <div class="grade grade15" (click)="onSelectLigainsiderGrade(1.5)">1.5</div>
    <div class="grade grade20" (click)="onSelectLigainsiderGrade(2)">2.0</div>
    <div class="grade grade25" (click)="onSelectLigainsiderGrade(2.5)">2.5</div>
    <div class="grade grade30" (click)="onSelectLigainsiderGrade(3)">3.0</div>
    <div class="grade grade35" (click)="onSelectLigainsiderGrade(3.5)">3.5</div>
    <div class="grade grade40" (click)="onSelectLigainsiderGrade(4)">4.0</div>
    <div class="grade grade45" (click)="onSelectLigainsiderGrade(4.5)">4.5</div>
    <div class="grade grade50" (click)="onSelectLigainsiderGrade(5)">5.0</div>
    <div class="grade grade55" (click)="onSelectLigainsiderGrade(5.5)">5.5</div>
    <div class="grade grade60" (click)="onSelectLigainsiderGrade(6)">6.0</div>
  </div>
</div>
