@import './../../../../../colors.scss';

.player {
  background-color: $white;
  border-bottom: 1px solid $mediumgray;
  display: flex;
  justify-content: space-between;
  height: 29px;
  line-height: 29px;
  padding: 0 8px;
  transition: all 0.2s ease-in-out;
  &:hover {
    .displayname {
      color: $blue;
    }
  }
  .position {
    width: 18px;
    height: 18px;
    border-radius: 9px;
    margin: 6px 12px 6px 0;
    &.GOALKEEPER {
      background-color: $green;
    }
    &.DEFENDER {
      background-color: $yellow;
    }
    &.MIDFIELDER {
      background-color: $blue;
    }
    &.FORWARD {
      background-color: $red;
    }
  }
  .displayname {
    transition: all 0.2s ease-in-out;
    width: 180px;
  }
  .rating {
    display: flex;
    flex-grow: 1;
    * {
      text-align: right;
    }
    .editable {
      cursor: pointer;
    }
    .startLineup {
      text-align: center;
      width: 48px;
      font-weight: bold;
      color: $mediumgray;
      letter-spacing: -3px;
      transition: all 0.2s ease-in-out;
      &.selected {
        color: $dark;
      }
      &.editable:hover {
        color: $blue;
      }
    }
    .substitution {
      text-align: center;
      width: 48px;
      color: $mediumgray;
      &.selected {
        color: $dark;
      }
      &.editable:hover {
        color: $blue;
      }
    }
    .grade {
      text-align: center;
      width: 64px;
      color: white;
      font-weight: bold;
      &.grade10 {
        background-color: $grade10;
      }
      &.grade15 {
        background-color: $grade15;
      }
      &.grade20 {
        background-color: $grade20;
      }
      &.grade25 {
        background-color: $grade25;
      }
      &.grade30 {
        background-color: $grade30;
      }
      &.grade35 {
        background-color: $grade35;
      }
      &.grade40 {
        background-color: $grade40;
      }
      &.grade45 {
        background-color: $grade45;
      }
      &.grade50 {
        background-color: $grade50;
      }
      &.grade55 {
        background-color: $grade55;
      }
      &.grade60 {
        background-color: $grade60;
      }
      .placeholder {
        object-fit: contain;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: 0.1s;

        &.kicker {
          background-color: #ca0000;
        }
        &.ligainsider {
          background-color: #016d5e;
        }
        &.visible {
          opacity: 0.5;
        }
        &:hover {
          opacity: 1;
        }
      }
    }
    .scorer {
      flex-grow: 1;
      display: flex;
      position: relative;
      .count {
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;
        z-index: 1;
        text-align: center;
        .empty {
          color: $mediumgray;
        }
      }
      .add {
        color: $white;
        flex-grow: 1;
        z-index: 2;
        font-weight: bold;
        font-size: 12px;
        text-align: center;
        transition: all 0.2s ease-in-out;
        opacity: 0;
        background-color: $green;
        &:hover:not(.hidden) {
          opacity: 0.8;
        }
      }
      .remove {
        color: $white;
        width: 36px;
        z-index: 2;

        background-color: $red;
        text-align: center;
        font-weight: bold;
        font-size: 12px;
        transition: all 0.2s ease-in-out;
        opacity: 0;
        &:hover:not(.hidden) {
          opacity: 1;
        }
      }
    }
    .assists {
      flex-grow: 1;
    }
    .sds {
      text-align: center;
      width: 48px;
      color: $mediumgray;
      transition: all 0.2s ease-in-out;
      &.editable:hover {
        color: $yellow;
      }
      .filled {
        color: $yellow;
      }
    }
    .card {
      text-align: center;
      width: 48px;
      transition: all 0.2s ease-in-out;
      height: 80%;
      margin-top: 3px;
      object-fit: contain;
      img {
        filter: grayscale(1) brightness(1.2);
        &.active {
          filter: grayscale(0) brightness(1);
        }
      }
      .editable:hover img {
        filter: grayscale(0) brightness(1);
      }
    }
    .cleanSheet {
      text-align: center;
      width: 48px;
      color: $mediumgray;
      .active {
        color: $green;
      }
      .editable:hover {
        color: $blue;
      }
    }
    .points {
      width: 48px;
      font-weight: bold;
      font-size: 18px;
    }
  }
}

#gradeSelection {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  .background {
    position: absolute;
    height: 100%;
    width: 100%;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .grades {
    display: flex;
    .grade {
      cursor: pointer;
      padding: 16px 24px;
      color: $white;
      font-weight: bold;
      transform: scale(1);
      transition: all 0.2s ease-in-out;
      &:hover {
        transform: scale(1.2);
        z-index: 2;
      }
      &.grade10 {
        background-color: $grade10;
      }
      &.grade15 {
        background-color: $grade15;
      }
      &.grade20 {
        background-color: $grade20;
      }
      &.grade25 {
        background-color: $grade25;
      }
      &.grade30 {
        background-color: $grade30;
      }
      &.grade35 {
        background-color: $grade35;
      }
      &.grade40 {
        background-color: $grade40;
      }
      &.grade45 {
        background-color: $grade45;
      }
      &.grade50 {
        background-color: $grade50;
      }
      &.grade55 {
        background-color: $grade55;
      }
      &.grade60 {
        background-color: $grade60;
      }
    }
  }
}
