<div class="container">
  <div class="column side">
    <h3>Saisonauswahl</h3>
    <select id="matchdays" class="rounded shadow" (change)="onSelectSeason($event.target)">
      <option value="{{ i }}" *ngFor="let i of seasonList" [selected]="i === formatSeasonToOriginal(seasonName)">{{ i }}</option>
    </select>

    <div class="settings">
      <h3>Einstellungen</h3>
      <div class="row">
        <div class="option radio-container">
          <input type="radio" id="complete" name="settings" value="complete" checked (change)="onChangeSettings('complete')" />
          <span class="checkmark"></span>
          <label for="complete">Komplette Saison</label>
        </div>
        <div class="spacer"></div>
        <div class="option radio-container">
          <input type="radio" id="range" name="settings" value="range" (change)="onChangeSettings('range')" />
          <span class="checkmark"></span>
          <label for="range">Abschnitt</label>
        </div>
      </div>
      <div class="row" [class.disabled]="settingsType === 'complete'">
        <div class="option">
          <h4>Von</h4>
          <select id="matchdays" class="rounded shadow" (change)="onSelectMinMatchdayNumber($event.target)">
            <option value="{{ i }}" *ngFor="let i of matchdayList" [selected]="i === minMatchdayNumber">{{ i }}</option>
          </select>
        </div>
        <div class="spacer"></div>
        <div class="option">
          <h4>Bis</h4>
          <select id="matchdays" class="rounded shadow" (change)="onSelectMaxMatchdayNumber($event.target)">
            <option value="{{ i }}" *ngFor="let i of matchdayList" [selected]="i === maxMatchdayNumber">{{ i }}</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="column main">
    <div class="title">
      <span class="seasonName">{{ formatSeasonToOriginal(seasonName) }}</span>
    </div>
    <div class="mode">
      Modus:
      <div class="items rounded shadow">
        <div class="item animated" [class.selected]="mode === 'stats'" (click)="mode = 'stats'">Spielerwerte</div>
        <div class="item animated" [class.selected]="mode === 'position'" (click)="mode = 'position'">Positionen</div>
        <div class="item animated" [class.selected]="mode === 'formation'" (click)="mode = 'formation'">Managerpotential</div>
        <div class="item animated" [class.selected]="mode === 'financial'" (click)="mode = 'financial'">Kegeln</div>
      </div>
    </div>
    <div class="table">
      <div class="table-header">
        <div class="item sortable" (click)="sortBy('team_name')" [class.active]="orderBy === 'team_name'">
          <i class="icon fa-solid fa-sort" *ngIf="orderBy !== 'team_name'"></i>
          <i class="icon fa-solid fa-sort-up" *ngIf="orderBy === 'team_name' && orderDirection === 'ASC'"></i>
          <i class="icon fa-solid fa-sort-down" *ngIf="orderBy === 'team_name' && orderDirection === 'DESC'"></i>
          Team
        </div>
        <div class="spacer"></div>
        <!-- STATS -->
        <ng-container *ngIf="mode === 'stats'">
          <div class="item right sortable w60" (click)="sortBy('sds')" [class.active]="orderBy === 'sds'">
            <i class="icon fa-solid fa-sort" *ngIf="orderBy !== 'sds'"></i>
            <i class="icon fa-solid fa-sort-up" *ngIf="orderBy === 'sds' && orderDirection === 'ASC'"></i>
            <i class="icon fa-solid fa-sort-down" *ngIf="orderBy === 'sds' && orderDirection === 'DESC'"></i>
            SDS
          </div>
          <div class="item right sortable w60" (click)="sortBy('goals')" [class.active]="orderBy === 'goals'">
            <i class="icon fa-solid fa-sort" *ngIf="orderBy !== 'goals'"></i>
            <i class="icon fa-solid fa-sort-up" *ngIf="orderBy === 'goals' && orderDirection === 'ASC'"></i>
            <i class="icon fa-solid fa-sort-down" *ngIf="orderBy === 'goals' && orderDirection === 'DESC'"></i>
            Tore
          </div>
          <div class="item right sortable w60" (click)="sortBy('assists')" [class.active]="orderBy === 'assists'">
            <i class="icon fa-solid fa-sort" *ngIf="orderBy !== 'assists'"></i>
            <i class="icon fa-solid fa-sort-up" *ngIf="orderBy === 'assists' && orderDirection === 'ASC'"></i>
            <i class="icon fa-solid fa-sort-down" *ngIf="orderBy === 'assists' && orderDirection === 'DESC'"></i>
            Assists
          </div>
          <div class="item right sortable w60" (click)="sortBy('clean_sheets')" [class.active]="orderBy === 'clean_sheets'">
            <i class="icon fa-solid fa-sort" *ngIf="orderBy !== 'clean_sheets'"></i>
            <i class="icon fa-solid fa-sort-up" *ngIf="orderBy === 'clean_sheets' && orderDirection === 'ASC'"></i>
            <i class="icon fa-solid fa-sort-down" *ngIf="orderBy === 'clean_sheets' && orderDirection === 'DESC'"></i>
            <i class="fa-solid fa-hand"></i>
          </div>
        </ng-container>

        <!-- POSITION -->
        <ng-container *ngIf="mode === 'position'">
          <div class="item right sortable w60 goalkeeper" (click)="sortBy('pos_goalkeeper')" [class.active]="orderBy === 'pos_goalkeeper'">
            <i class="icon fa-solid fa-sort" *ngIf="orderBy !== 'pos_goalkeeper'"></i>
            <i class="icon fa-solid fa-sort-up" *ngIf="orderBy === 'pos_goalkeeper' && orderDirection === 'ASC'"></i>
            <i class="icon fa-solid fa-sort-down" *ngIf="orderBy === 'pos_goalkeeper' && orderDirection === 'DESC'"></i>
            TOR
          </div>
          <div class="item right sortable w60 defender" (click)="sortBy('pos_defender')" [class.active]="orderBy === 'pos_defender'">
            <i class="icon fa-solid fa-sort" *ngIf="orderBy !== 'pos_defender'"></i>
            <i class="icon fa-solid fa-sort-up" *ngIf="orderBy === 'pos_defender' && orderDirection === 'ASC'"></i>
            <i class="icon fa-solid fa-sort-down" *ngIf="orderBy === 'pos_defender' && orderDirection === 'DESC'"></i>
            ABW
          </div>
          <div class="item right sortable w60 midfielder" (click)="sortBy('pos_midfielder')" [class.active]="orderBy === 'pos_midfielder'">
            <i class="icon fa-solid fa-sort" *ngIf="orderBy !== 'pos_midfielder'"></i>
            <i class="icon fa-solid fa-sort-up" *ngIf="orderBy === 'pos_midfielder' && orderDirection === 'ASC'"></i>
            <i class="icon fa-solid fa-sort-down" *ngIf="orderBy === 'pos_midfielder' && orderDirection === 'DESC'"></i>
            MIT
          </div>
          <div class="item right sortable w60 forward" (click)="sortBy('pos_forward')" [class.active]="orderBy === 'pos_forward'">
            <i class="icon fa-solid fa-sort" *ngIf="orderBy !== 'pos_forward'"></i>
            <i class="icon fa-solid fa-sort-up" *ngIf="orderBy === 'pos_forward' && orderDirection === 'ASC'"></i>
            <i class="icon fa-solid fa-sort-down" *ngIf="orderBy === 'pos_forward' && orderDirection === 'DESC'"></i>
            STU
          </div>
        </ng-container>

        <!-- FORMATION -->
        <ng-container *ngIf="mode === 'formation'">
          <div class="item right sortable w100" (click)="sortBy('missed_goals')" [class.active]="orderBy === 'missed_goals'">
            <i class="icon fa-solid fa-sort" *ngIf="orderBy !== 'missed_goals'"></i>
            <i class="icon fa-solid fa-sort-up" *ngIf="orderBy === 'missed_goals' && orderDirection === 'ASC'"></i>
            <i class="icon fa-solid fa-sort-down" *ngIf="orderBy === 'missed_goals' && orderDirection === 'DESC'"></i>
            Banktore
          </div>
          <div class="item right sortable w100" (click)="sortBy('missed_points')" [class.active]="orderBy === 'missed_points'">
            <i class="icon fa-solid fa-sort" *ngIf="orderBy !== 'missed_points'"></i>
            <i class="icon fa-solid fa-sort-up" *ngIf="orderBy === 'missed_points' && orderDirection === 'ASC'"></i>
            <i class="icon fa-solid fa-sort-down" *ngIf="orderBy === 'missed_points' && orderDirection === 'DESC'"></i>
            Bankpunkte
          </div>
          <div class="item right sortable w100" (click)="sortBy('maximal_points')" [class.active]="orderBy === 'maximal_points'">
            <i class="icon fa-solid fa-sort" *ngIf="orderBy !== 'maximal_points'"></i>
            <i class="icon fa-solid fa-sort-up" *ngIf="orderBy === 'maximal_points' && orderDirection === 'ASC'"></i>
            <i class="icon fa-solid fa-sort-down" *ngIf="orderBy === 'maximal_points' && orderDirection === 'DESC'"></i>
            Max. Punkte
          </div>
          <div class="item right sortable w100" (click)="sortBy('percentage')" [class.active]="orderBy === 'percentage'">
            <i class="icon fa-solid fa-sort" *ngIf="orderBy !== 'percentage'"></i>
            <i class="icon fa-solid fa-sort-up" *ngIf="orderBy === 'percentage' && orderDirection === 'ASC'"></i>
            <i class="icon fa-solid fa-sort-down" *ngIf="orderBy === 'percentage' && orderDirection === 'DESC'"></i>
            Ausbeute
          </div>
        </ng-container>

        <!-- FINANCIAL -->
        <ng-container *ngIf="mode === 'financial'">
          <div class="item right">Kegelstrafen</div>
        </ng-container>

        <div class="item sortable right w100" (click)="sortBy('points')" [class.active]="orderBy === 'points'">
          <i class="icon fa-solid fa-sort" *ngIf="orderBy !== 'points'"></i>
          <i class="icon fa-solid fa-sort-up" *ngIf="orderBy === 'points' && orderDirection === 'ASC'"></i>
          <i class="icon fa-solid fa-sort-down" *ngIf="orderBy === 'points' && orderDirection === 'DESC'"></i>
          Punkte
        </div>
      </div>
      <div class="table-body shadow rounded">
        <div
          class="table-row animated"
          *ngFor="let team of table; let i = index"
          [routerLink]="['/team', formatSeason(season.season_name), formatTeam(team.teamName), 'kader']"
        >
          <div class="item left">
            <span class="index">{{ i + 1 }}.</span>
            <img class="badge" src="{{ 'http://img.die-bestesten.de/img/team/' + season.season_id + '/' + team.teamId + '.png' }}" />{{
              team.teamName
            }}
          </div>
          <div class="spacer"></div>
          <!-- STATS -->
          <ng-container *ngIf="mode === 'stats'">
            <div class="item right w60">
              {{ team.sds }}
            </div>

            <div class="item right w60">
              {{ team.goals }}
            </div>

            <div class="item right w60">
              {{ team.assists }}
            </div>

            <div class="item right w60">
              {{ team.clean_sheet }}
            </div>
          </ng-container>

          <!-- POSITION -->
          <ng-container *ngIf="mode === 'position'">
            <div class="item right w60 position goalkeeper">
              {{ team.points_goalkeeper }}
            </div>
            <div class="item right w60 position defender">
              {{ team.points_defender }}
            </div>
            <div class="item right w60 position midfielder">
              {{ team.points_midfielder }}
            </div>
            <div class="item right w60 position forward">
              {{ team.points_forward }}
            </div>
          </ng-container>

          <!-- FORMATION -->
          <ng-container *ngIf="mode === 'formation'">
            <div class="item right w100">
              {{ team.missed_goals }}
            </div>
            <div class="item right w100">
              {{ team.getMissedPoints() }}
            </div>
            <div class="item right w100">
              {{ team.maximal_points }}
            </div>
            <div class="item right w100">{{ (100 * +team.points) / +team.maximal_points | number : '1.2-2' }} %</div>
          </ng-container>

          <!-- FINANCIAL -->
          <ng-container *ngIf="mode === 'financial'">
            <div class="item right w48">{{ team.getFine() + 5 | number : '1.2-2' }} €</div>
          </ng-container>

          <div class="item points right w100">{{ team.points }}</div>
        </div>
      </div>
    </div>

    <ng-container *ngIf="table">
      <div class="empty" *ngIf="table.length == 0">Noch keine Ergebnisse zur Saison {{ formatSeasonToOriginal(seasonName) }}.</div>
    </ng-container>
  </div>
</div>
