@import 'src/style/colors.scss';

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  gap: 32px;
  .column {
    &.main {
      flex-grow: 10;
      flex-shrink: 0;
      flex-basis: 240px;
      position: relative;
      .title {
        margin-bottom: 8px;
        .seasonName {
          font-size: 1.4rem;
          margin-right: 12px;
          font-weight: 600;
        }
      }
      .empty {
        width: 100%;
        text-align: center;
        margin: 36px 0;
        font-style: italic;
      }
    }
    &.side {
      flex-grow: 1;
      flex-basis: 240px;
      position: sticky;
      top: 0;
      overflow-y: auto;
      overflow-x: hidden;
      margin-bottom: 24px;
      select {
        width: 100%;
        height: 40px;
        text-align-last: center;
        cursor: pointer;
        padding-left: 12px;
        margin-bottom: 16px;
        outline: none;
        background-color: $white;
      }
      .settings {
        .row {
          display: flex;
          margin-bottom: 8px;
          .option {
            flex-grow: 1;
            position: relative;
            &.radio-container {
              display: block;
              position: relative;
              cursor: pointer;
              -webkit-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none;
              padding-left: 25px;
              input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 100%;
                width: 100%;
                left: 0;
                z-index: 2;
                &:checked ~ .checkmark {
                  background-color: $red !important;
                }
                &:checked ~ .checkmark:after {
                  display: block;
                }
              }
              .checkmark {
                position: absolute;
                top: 0;
                left: 0;
                height: 20px;
                width: 20px;
                background-color: $white;
                transition: all 0.2s ease-in-out;
                border-radius: 3px;
                &:after {
                  content: '';
                  position: absolute;
                  display: none;
                }
              }
              &:hover input ~ .checkmark {
                background-color: $hover;
              }
              .checkmark:after {
                left: 6px;
                top: 2px;
                width: 5px;
                height: 10px;
                border: solid $white;
                border-width: 0 3px 3px 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
              }
              label {
                cursor: pointer;
              }
            }
          }
          .spacer {
            width: 32px;
            flex-grow: 0;
          }
          &.disabled {
            opacity: 0.4;
            pointer-events: none;
          }
        }
      }
    }
    @media only screen and (max-width: 639px) {
      &.side {
        position: inherit;
      }
    }
  }
}

.mode {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  .items {
    display: flex;
    margin-left: 8px;
    .item {
      background-color: $white;
      height: 30px;
      line-height: 32px;
      padding: 0 12px;
      border-bottom: 2px solid $white;
      cursor: pointer;
      &:hover {
        border-bottom: 2px solid $red;
      }
      &.selected {
        border-bottom: 2px solid $red;
        background-color: $red;
        color: $white;
      }
    }
  }
}
