@import './../../../../../colors.scss';

#container {
  width: 100%;

  .question {
    width: 100%;
    text-align: center;
    margin-bottom: 24px;
  }

  #finish {
    display: flex;
    .button {
      text-align: center;
      cursor: pointer;
      font-weight: bold;
      transition: all 0.2s ease-in-out;
      border-radius: 3px;
      border-bottom: transparent;
      color: $red;
      background-color: transparent;
      flex-grow: 1;
      &.cancel {
        background-color: transparent;
        color: $darkgray;
        margin-right: 12px;
      }
      &.cancel:hover {
        background-color: transparent;
        color: $blue;
      }
      &.disabled {
        pointer-events: none;
        background-color: transparent;
        color: $gray;
        cursor: default;
        border-color: transparent;
      }
    }
    .button:hover {
      background-color: $red;
      color: $light;
    }
  }
}
