<form id="container">
  <div class="question">
    Möchtest du <b>{{ player.displayname }}</b> unwiderruflich löschen?
  </div>
  <div id="finish">
    <div class="button cancel" (click)="onCancel()">Abbrechen</div>
    <div class="button delete" (click)="onDelete()" [class.disabled]="false">Löschen</div>
  </div>
</form>
