<div class="container" *ngIf="step === 1">
  <div class="header">{{ apiService.status.season.season_name }}</div>
  <p>Neue Saison - Neues Glück</p>
  <p class="small">Wie soll dein Team dieses Jahr heißen?</p>
  <input [(ngModel)]="teamname" name="teamname" type="text" autocomplete="on" placeholder="Teamname" />

  <div class="buttons">
    <button type="submit" class="cancel" (click)="onClose()">Später</button>
    <div class="spacer"></div>
    <button type="submit" (click)="onNext()">Weiter</button>
  </div>

  <div class="steps">{{ step }}/2</div>
</div>

<div class="container" *ngIf="step === 2">
  <div class="header">{{ apiService.status.season.season_name }}</div>
  <p>Logoauswahl</p>
  <p class="small">Mit welchem Logo soll dein Team antreten?</p>

  <div id="badgeContainer">
    <ng-container *ngIf="!preview">
      <img
        class="badge"
        src="{{
          'http://img.die-bestesten.de/img/team/' +
            apiService.status.last_team.season_id +
            '/' +
            apiService.status.last_team.team_id +
            '.png'
        }}"
      />
    </ng-container>
    <ng-container *ngIf="preview">
      <img id="preview" class="photo" src="" />
    </ng-container>
    <div class="upload"><i class="fas fa-upload"></i></div>
    <input type="file" accept="image/*" #fileDropRef id="fileDropRef" (change)="onFileChange($event)" />
  </div>

  <p class="small">Achte darauf, dass die Bilddatei genauso breit wie hoch ist. <br />Optimal: 256x256 Pixel</p>

  <p class="small">Das Wappen kann bis zum Saisonstart noch geändert werden.</p>

  <div class="buttons">
    <button type="submit" class="cancel" (click)="onClose()">Später</button>
    <div class="spacer"></div>
    <button type="submit" class="cancel" (click)="onBack()">Zurück</button>
    <div class="spacer"></div>
    <button type="submit" (click)="onSubmit()">Speichern</button>
  </div>
  <div class="steps">{{ step }}/2</div>
</div>

<div class="container" *ngIf="step === 3">
  <svg id="successAnimation" class="animated" xmlns="http://www.w3.org/2000/svg" width="70" height="70" viewBox="0 0 70 70">
    <path
      id="successAnimationResult"
      fill="#D8D8D8"
      d="M35,60 C21.1928813,60 10,48.8071187 10,35 C10,21.1928813 21.1928813,10 35,10 C48.8071187,10 60,21.1928813 60,35 C60,48.8071187 48.8071187,60 35,60 Z M23.6332378,33.2260427 L22.3667622,34.7739573 L34.1433655,44.40936 L47.776114,27.6305926 L46.223886,26.3694074 L33.8566345,41.59064 L23.6332378,33.2260427 Z"
    />
    <circle
      id="successAnimationCircle"
      cx="35"
      cy="35"
      r="24"
      stroke="#979797"
      stroke-width="2"
      stroke-linecap="round"
      fill="transparent"
    />
    <polyline id="successAnimationCheck" stroke="#979797" stroke-width="2" points="23 34 34 43 47 27" fill="transparent" />
  </svg>
  <div class="buttons">
    <button type="submit" (click)="onClose()">Los gehts!</button>
  </div>
</div>
