@import 'src/style/colors.scss';

.container {
  text-align: center;
  margin: 0 12px;
  min-width: 256px;
  .header {
    margin-bottom: 12px;
    font-size: 12px;
    font-weight: 600;
  }
  input {
    margin-top: 4px;
  }
  p {
    margin: 12px 0;
    &.small {
      font-size: 12px;
    }
  }
  .buttons {
    display: flex;
    .cancel {
      background-color: $white;
      color: $label;
      border: none;
      &:hover {
        color: $dark;
      }
    }
    .spacer {
      width: 16px;
    }
  }
  .steps {
    margin-top: 20px;
    font-size: 12px;
  }

  .badge {
    width: 220px;
    max-width: 100%;
  }

  #badgeContainer {
    height: 256px;
    width: 256px;
    overflow: hidden;
    position: relative;
    margin: 12px auto;
    #preview {
      width: 100%;
      height: 100%;
      object-fit: contain;
      position: absolute;
      top: 0;
      left: 0;
      animation: popup 0.2s 1 ease-in-out;
      overflow: hidden;
    }
    .badge {
      height: 100%;
      width: 100%;
      transition: all 0.2s ease-in-out;
    }
    .upload {
      opacity: 0;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      position: absolute;
      top: 25%;
      left: 25%;
      width: 50%;
      height: 50%;
      background-color: $dark;
      color: $gray;
      text-align: center;
      line-height: 128px;
      font-size: 36px;
      border-radius: 50%;
    }
    input {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      cursor: pointer;
    }
  }
  #badgeContainer:hover {
    .upload {
      opacity: 0.8;
    }
    .badge {
      opacity: 0.5;
    }
  }
}

input {
  text-align: center;
  width: 100%;
  height: 40px;
  line-height: 40px;
  margin-bottom: 8px;
  border: 1px solid $shadow;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
  &:focus {
    border-color: $red;
  }
}

button {
  width: 100%;
  height: 42px;
  font-size: 16px;
  line-height: 42px;
  margin-top: 8px;
  border-radius: 4px;
  background-color: $red;
  color: $white;
  border: none;
  cursor: pointer;
  border-bottom: 2px solid $shadow;
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: darken($red, 10%);
  }
}

$circle: 151px;
$check: 36px;
@keyframes scaleAnimation {
  0% {
    opacity: 0;
    transform: scale(1.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes drawCircle {
  0% {
    stroke-dashoffset: $circle;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes drawCheck {
  0% {
    stroke-dashoffset: $check;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#successAnimationCircle {
  stroke-dasharray: $circle $circle;
  stroke: $green;
}

#successAnimationCheck {
  stroke-dasharray: $check $check;
  stroke: $green;
}

#successAnimationResult {
  fill: $green;
  opacity: 0;
}

#successAnimation.animated {
  margin: 32px;
  animation: 1s ease-out 0s 1 both scaleAnimation;

  #successAnimationCircle {
    animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCircle, 0.3s linear 0.9s 1 both fadeOut;
  }

  #successAnimationCheck {
    animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCheck, 0.3s linear 0.9s 1 both fadeOut;
  }

  #successAnimationResult {
    animation: 0.3s linear 0.9s both fadeIn;
  }
}
