<div class="container" *ngIf="player">
  <div id="summary" class="content-container">
    <img
      id="photo"
      src="{{ 'http://img.die-bestesten.de/img/player/' + player.season_list[0].season_id + '/' + player.player_id + '.png' }}"
    />
    <div id="player-info">
      <div id="name">
        <div id="firstname" class="bridge">{{ player.firstname }}</div>
        <div id="lastname" class="bridge">{{ player.lastname }}</div>
      </div>
      <div id="profile">
        <div class="box-item">
          <img class="box-circle flag" src="./../../../../../assets/img/flags/{{ player.country_code }}.svg" />
          <span>{{ player.country_name }}</span>
        </div>
        <div class="box-item">
          <div class="box-circle" matTooltip="Alter">{{ getAge(player.date_of_birth) }}</div>
          <span>{{ player.date_of_birth | date : 'dd.MM.yyyy' }}</span>
        </div>
        <div class="box-item">
          <div class="box-circle" matTooltip="Geburtsort"><i class="fa-solid fa-tree-city"></i></div>
          <span>{{ player.city }}</span>
        </div>
        <div class="box-item">
          <div class="box-circle" matTooltip="Größe"><i class="fa-solid fa-ruler"></i></div>
          <span>{{ (player.height / 100).toFixed(2) }} m</span>
        </div>
        <div class="box-item">
          <div class="box-circle" matTooltip="Gewicht"><i class="fa-solid fa-weight-hanging"></i></div>
          <span>{{ player.weight }} kg</span>
        </div>
      </div>
    </div>

    <div id="club-info">
      <div class="box-link">
        <img class="club" src="{{ 'http://img.die-bestesten.de/img/club/' + player.club_list[0].club_id + '.png' }}" />
        <div class="name">{{ player.club_list[0].club_name }}</div>
      </div>
      <div class="row">
        <div
          class="position-container position-{{ player.season_list[0].position.toLocaleLowerCase() }}"
          *ngIf="player.season_list[0].position"
        >
          <span>{{ getPositionLabel(player.season_list[0].position) }}</span>
        </div>

        <div class="box-item">
          <span>{{ player.season_list[0].price | number : '1.0' }} <i class="fa-solid fa-peseta-sign"></i></span>
        </div>
      </div>
      <div class="flex h" style="align-items: baseline">
        <div class="key-value-pair">
          <div class="value-big bridge">{{ player.season_list[0].points }}</div>
          <div class="key">Punkte</div>
        </div>
        <div class="key-value-pair">
          <div class="value-small bridge">{{ getAverageGrade() | number : '1.2-2' }}</div>
          <div class="key">⌀-Not</div>
        </div>
      </div>
    </div>
    <div id="team-info">
      <a [routerLink]="['/team', '2024-2025', player.team_list[0].team_name]" class="box-link" *ngIf="!isPlayerAvailable(player)">
        <img
          class="club"
          src="{{ 'http://img.die-bestesten.de/img/team/' + player.team_list[0].season_id + '/' + player.team_list[0].team_id + '.png' }}"
        />
        <div class="name">{{ player.team_list[0].team_name }}</div>
      </a>
      <div class="box-link" *ngIf="isPlayerAvailable(player)">
        <div class="name">Vereinslos</div>
      </div>

      <div class="row">
        <div class="box-item">
          <span>{{ player.team_list[0].first_matchday }}. Spieltag</span>
        </div>
        <div class="box-item" *ngIf="player.team_list[0].offer_price">
          <span>{{ player.team_list[0].offer_price | number : '1.0' }} <i class="fa-solid fa-peseta-sign"></i></span>
        </div>
      </div>

      <div class="spacer"></div>

      <div class="button-container">
        <div class="box-button sent" (click)="onSentOffer()" matTooltip="Spieler beobachten" [class.disabled]="1 == 1">
          <i class="fa-solid fa-eye"></i>
        </div>
        <div
          class="box-button sent"
          (click)="onSentOffer()"
          matTooltip="Gebot abgeben"
          [class.disabled]="existsOfferForPlayer(player.player_id) || !transferwindow"
        >
          <i class="fa-solid fa-cart-shopping"></i>
        </div>
        <div class="box-button edit" (click)="onEditOffer()" *ngIf="existsOfferForPlayer(player.player_id)" matTooltip="Gebot bearbeiten">
          <i class="fa-regular fa-pen-to-square"></i>
        </div>
        <div class="box-button delete" (click)="onDeleteOffer()" *ngIf="existsOfferForPlayer(player.player_id)" matTooltip="Gebot löschen">
          <i class="fa-solid fa-trash-can"></i>
        </div>
      </div>
    </div>
  </div>

  <div id="season" class="content-container">
    <label>Verlauf</label>
    <canvas id="season-chart"> {{ chart }}</canvas>
  </div>

  <div id="history">
    <div id="season-list" class="content-container">
      <label>Saisons</label>
      <table>
        <tr>
          <th class="left">Saison</th>
          <th>Position</th>
          <th>Marktwert</th>
          <th class="right">Punkte</th>
        </tr>
        <tr
          *ngFor="let season of player.season_list"
          class="selectable"
          [class.selected]="selected_season.season_id == season.season_id"
          (click)="onSelectSeason(season)"
        >
          <td>{{ season.season_name }}</td>
          <td class="center-content">
            <div class="position-container position-{{ season.position.toLocaleLowerCase() }}" *ngIf="season.position">
              <span>{{ getPositionLabel(season.position) }}</span>
            </div>
          </td>
          <td class="center">
            <span *ngIf="season.price">{{ season.price / 1000000 | number : '1.2' }} Mio. <i class="fa-solid fa-peseta-sign"></i></span>
          </td>
          <td class="right points">{{ season.points }}</td>
        </tr>
      </table>
    </div>

    <div id="matchday-list" class="content-container">
      <label>Spieltagswertung {{ selected_season.season_name }}</label>
      <table>
        <tr>
          <th class="center">Sp.</th>
          <th></th>
          <th>Note</th>
          <th></th>
          <th></th>
          <th>Tore</th>
          <th>Assists</th>
          <th class="right">Punkte</th>
        </tr>
        <tr *ngFor="let rating of player_rating_list" class="compact">
          <td class="center w32">{{ rating.matchday }}</td>
          <td class="center w48">
            <span class="starter" *ngIf="rating.start_lineup === 1" [matTooltip]="'Startelf'">11</span>
            <span class="substitution" *ngIf="rating.substitution === 1" [matTooltip]="'Eingewechselt'"
              ><i class="fa-solid fa-arrow-right-arrow-left"></i
            ></span>
          </td>
          <td class="center-container">
            <div class="grade-container grade-{{ rating.grade * 10 }}" *ngIf="rating.grade != 0">
              {{ rating.grade | number : '1.1' }}
            </div>
            <div class="grade-container grade-unset" *ngIf="rating.grade === 0">-</div>
          </td>
          <td>
            <i class="icon fa-solid fa-star" *ngIf="rating.sds === 1" [matTooltip]="'Spieler des Spiels'"></i>
          </td>
          <td>
            <i class="icon fa-solid fa-hand-sparkles" *ngIf="rating.clean_sheet === 1" [matTooltip]="'Weiße Weste'"></i>
          </td>

          <td class="center">
            <i class="icon fa-regular fa-futbol" *ngFor="let i of createArray(+rating.goals)"></i>
          </td>
          <td class="center">
            <i class="icon fa-solid fa-parachute-box" *ngFor="let i of createArray(+rating.assists)"></i>
          </td>
          <td class="right points" [class.negative]="rating.points < 0">{{ rating.points }}</td>
        </tr>
      </table>
    </div>

    <div id="team-list" class="content-container">
      <label>Teams</label>
      <table>
        <tr>
          <th></th>
          <th>Team</th>
          <th>Von</th>
          <th>Bis</th>
          <th>Preis</th>
        </tr>
        <tr *ngFor="let team of player.team_list" class="selectable" (click)="navigateToTeam(team.team_name, team)">
          <td>
            <img class="club" src="{{ 'http://img.die-bestesten.de/img/team/' + team.season_id + '/' + team.team_id + '.png' }}" />
          </td>
          <td class="link">
            {{ team.team_name }}
          </td>
          <td class="center">{{ team.first_matchday }}</td>
          <td class="center">
            <span *ngIf="team.last_matchday">{{ team.last_matchday }}</span>
            <span *ngIf="!team.last_matchday">Heute</span>
          </td>
          <td class="center">
            <span *ngIf="team.offer_price"
              >{{ team.offer_price / 1000000 | number : '1.3' }} Mio. <i class="fa-solid fa-peseta-sign"></i
            ></span>
            <span *ngIf="!team.offer_price">?</span>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
