.container {
  display: flex;
  flex-direction: column;
  gap: 64px;
  label {
    font-weight: 500;
    position: absolute;
    transform: translate(-16px, -48px);
    font-size: 18px;
  }
}

#summary {
  display: flex;
  gap: 32px;
  #photo {
    width: 25%;
    height: 256px;
    object-fit: contain;
    align-self: flex-end;
    transform: translateY(16px);
    margin-top: -16px;
  }
  #player-info {
    width: 25%;
    display: flex;
    flex-direction: column;
    #name {
      margin-bottom: 24px;
      text-transform: uppercase;
      #firstname {
        font-size: 18px;
        font-weight: 400;
        color: var(--text-color-medium);
      }
      #lastname {
        font-size: 48px;
      }
    }
    #profile {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
    }
  }
  #club-info {
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    .row {
      height: 36px;
      display: flex;
      gap: 16px;
      justify-content: space-evenly;
    }
    .key-value-pair {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 8px;
      .value-big {
        font-size: 64px;
        height: 64px;
      }
      .value-small {
        font-size: 48px;
        height: 48px;
      }
      .key {
        color: var(--text-color-medium);
        font-weight: 500;
      }
    }
  }
  #team-info {
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    .row {
      height: 36px;
      display: flex;
      gap: 16px;
      justify-content: space-evenly;
    }
  }

  .button-container {
    height: 54px;
    display: flex;
    justify-content: flex-end;
    gap: 16px;
  }
}

#season-chart {
  max-height: 320px;
  min-height: 320px;
}

#history {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  flex-wrap: wrap;
  #matchday-list {
    width: 30%;
  }
  .content-container {
    flex-grow: 1;
  }
}

@media only screen and (max-width: 639px) {
  #summary {
    flex-direction: column;
    #photo {
      width: unset !important;
      height: 200px;
      align-self: flex-end;
      border-radius: 50%;
      transform: translateX(16px) !important;
      margin-top: 0 !important;
      position: absolute;
      z-index: 5;
    }
    #player-info,
    #team-info,
    #club-info {
      width: 100%;
      #name {
        margin-bottom: 128px;
      }
    }
  }
  #history {
    gap: 64px !important;
    .status {
      width: 36px !important;
    }
  }
}
