@import 'src/style/colors.scss';
#hero {
  background-color: rgba(var(--primary));
  background: rgb(16, 16, 16);
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  color: rgba(var(--white));
  z-index: 999;

  #header {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    z-index: 3;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: calc(100vh / 2 - 322px / 2 - 24px);
    padding-bottom: 24px;
    #logo {
      width: 320px;
      display: flex;
      filter: drop-shadow(2px 0px 4px #111);
    }
  }

  #login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 36px 32px;
    transform: translate(-50%, -50%);
    background-color: rgba(165, 165, 165, 0.15);
    backdrop-filter: blur(4px);
    border: 2px solid rgba(255, 255, 255, 0.107);
    box-sizing: border-box;
    border-radius: 8px;
    z-index: 5;
    display: flex;
    flex-direction: column;
    gap: 48px;
    .input-box {
      position: relative;
      input {
        width: 100%;
        height: 44px;
        font-size: 14px;
        color: white;
        border: none;
        border-bottom: 1px solid white;
        outline: none;
        background-color: transparent;
        border-radius: 0px;
        font-weight: 600;
        &:focus ~ label,
        &:valid ~ label {
          top: -30px;
          left: 0px;
          font-size: 12px;
        }
        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus,
        &:-webkit-autofill:active {
          -webkit-background-clip: text;
          -webkit-text-fill-color: #ffffff;
          transition: background-color 5000s ease-in-out 0s;
          box-shadow: inset 0 0 20px 20px #23232300;
        }
      }
      label {
        position: absolute;
        top: 0;
        left: 8px;
        padding: 10px 0;
        font-size: 16px;
        color: white;
        pointer-events: none;
        transition: 0.35s ease;
      }
    }
  }

  video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: absolute;
    top: 0;
    z-index: 1;
    filter: grayscale(0.4);
  }

  #overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    pointer-events: none;
    z-index: 3;
    background: radial-gradient(at 0% 0%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.7) 100%);
  }
}

@media only screen and (max-width: 639px) {
  #hero {
    #header {
      #logo {
        max-width: 80%;
      }
    }
  }
  #login-box {
    width: 80%;
  }
}
