<div id="hero">
  <div id="header">
    <img src="./../../../../../assets/img/logo.png" id="logo" />
  </div>

  <form action="submit" id="login-box">
    <div class="input-box">
      <input [(ngModel)]="username" name="db-username" type="text" autocomplete="on" required />
      <label for="">Benutzername</label>
    </div>

    <div class="input-box">
      <input [(ngModel)]="password" name="db-password" type="password" autocomplete="on" required />
      <label for="">Passwort</label>
    </div>

    <button class="box-link" type="submit" (click)="onLogin()">Anmelden</button>
  </form>

  <video id="vid" autoplay muted loop playsinline>
    <source src="assets/video/field.mp4" />
  </video>
  <script>
    document.getElementById('vid').play();
  </script>

  <div id="overlay"></div>
</div>
