@import './../../../../colors.scss';

.content-filter {
  &.isExpanded {
    height: 25px;
  }
}

.content {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  .title {
    float: left;
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 8px;
    margin-bottom: 16px;
    border-bottom: 1px solid $mediumgray;
    position: relative;
    text-align: center;
  }
  .country {
    min-width: 80px;
    margin: 8px 0;
    display: flex;
    flex-direction: column;
    padding: 16px 32px;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    .flag {
      width: 48px;
      height: 48px;
      margin-bottom: 8px;
      transition: all 0.2s ease-in-out;
    }
    .info {
      display: flex;
      flex-direction: row;
      height: 24px;
      align-items: center;
      .code {
        font-size: 12px;
      }
      .name {
        font-size: 13px;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: bold;
        margin: 0 4px;
      }
      .count {
        background-color: $red;
        color: $light;
        font-size: 12px;
        height: 24px;
        min-width: 24px;
        line-height: 25px;
        border-radius: 12px;
        text-align: center;
        &.hidden {
          display: none;
        }
      }
    }
  }
  .country:hover {
    background-color: $white;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    .flag {
      transform: scale(1.1);
    }
  }
}
