<div class="content-menu-bar" *ngIf="filter">
  <div class="action" (click)="onToggleFilterView()" [class.isActive]="filter.country.isExpanded">
    <i class="fas fa-filter"></i> Filter
    <span *ngIf="selectedFilterCount > 0">({{ selectedFilterCount }} aktiv)</span>
  </div>
  <div class="title" *ngIf="apiService.countryList">{{ apiService.countryList.length }} Länder</div>
  <div class="action"></div>
</div>

<div class="content-filter" *ngIf="filter" [class.isExpanded]="filter.country.isExpanded">
  <div class="column">
    <mat-checkbox [(ngModel)]="filter.country.items.countriesWithPlayer" (change)="onChangeFilter()">
      Nur Länder mit Spielern
    </mat-checkbox>
  </div>
</div>

<div class="content">
  <ng-container *ngFor="let country of apiService.countryList">
    <div class="country" *ngIf="isCountryVisible(country)">
      <img class="flag" src="./../../../../assets/img/flags/{{ country.country_code }}.svg" />
      <div class="info">
        <span class="code">[{{ country.country_code }}]</span>
        <span class="name">{{ country.country_name }}</span>
        <span class="count" *ngIf="getPlayerCountByCountry(country.country_code) > 0">{{
          getPlayerCountByCountry(country.country_code)
        }}</span>
      </div>
    </div>
  </ng-container>
</div>
