@media only screen and (min-width: 640px) {
  #popup {
    background-color: var(--background-color);
    border-radius: 2rem;
    width: 60vw;
    height: 70vh;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: fade-in 400ms 1 ease;
    z-index: 201;
    overflow: hidden;
    padding: 2rem;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

@media only screen and (max-width: 639px) {
  #popup {
    background-color: var(--background-color);
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    width: calc(100vw - 4rem);
    height: calc(0.9 * (var(--app-height) - 4rem));
    //max-height: 90vh;
    position: fixed;
    left: 0;
    bottom: 0;
    animation: slide-up 400ms 1 ease;
    z-index: 201;
    overflow: hidden;
    padding: 2rem;
    #scroll-content {
      overflow-y: scroll;
      height: 100%;
    }
    &.close-anim {
      animation: slide-down 400ms 1 ease forwards;
    }
    #close {
      position: absolute;
      top: 0px;
      right: 0px;
      height: 64px;
      width: 64px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px;
    }
  }

  #background {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    animation: fade-in 300ms 1 ease;
    z-index: 200;
    &.closeAnim {
      animation: fade-out 300ms 1 ease forwards;
    }
  }

  @keyframes slide-up {
    from {
      transform: translateY(100vh);
    }
    to {
      transform: translateY(0);
    }
  }

  @keyframes slide-down {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(100vh);
    }
  }
}
