<ng-container *ngIf="popup_service.is_open">
  <div id="popup" [class.close-anim]="popup_service.is_closing">
    <div id="scroll-content">
      <div dynamicChildLoader=""></div>
    </div>
    <div id="close" (click)="onClose()"><i class="fa-solid fa-xmark"></i></div>
  </div>
  <div id="background" [class.close-anim]="popup_service.is_closing" (click)="onClose()"></div>
</ng-container>
