<ng-container *ngIf="player">
  <div class="player">
    <img
      class="photo"
      [class.interactable]="isInteractable"
      [class.sds]="player.sds === 1"
      (click)="onRemovePlayer(player.player_id)"
      src="{{ 'http://img.die-bestesten.de/img/player/' + team.seasonId + '/' + player.player_id + '.png' }}"
      *ngIf="player.has_photo == '1'"
    />
    <img
      class="photo"
      [class.interactable]="isInteractable"
      (click)="onRemovePlayer(player.player_id)"
      src="./../.././../assets/img/icon/64/player.png"
      *ngIf="player.has_photo == '0'"
    />
    <img
      class="badge"
      src="{{ 'http://img.die-bestesten.de/img/club/' + player.club_id + '.png' }}"
      onerror="this.src='./../.././../assets/img/transparent.png'"
    />

    <a id="info" class="flex h" [routerLink]="['/spieler/details', player.displayname]">
      <div id="grade" class="grade-{{ player.grade * 10 }}" *ngIf="!player.is_live || player.grade">
        <span *ngIf="player.grade"> {{ player.grade | number : '1.1' }} </span>
        <span class="no-grade" *ngIf="!player.grade"> / </span>
      </div>
      <div
        id="live"
        *ngIf="player.is_live && !player.grade"
        [class.start-lineup]="player.start_lineup"
        [class.substitution]="player.substitution"
        [class.unused]="!player.start_lineup && !player.substitution"
      >
        <span class="start_lineup" *ngIf="player.start_lineup"> <i class="fa-solid fa-person-running"></i> </span>
        <span class="substitution" *ngIf="player.substitution"> <i class="fa-solid fa-exchange-alt"></i> </span>
        <span class="unused" *ngIf="!player.start_lineup && !player.substitution"> <i class="fa-solid fa-xmark"></i> </span>
      </div>
      <div id="name" [class.longname]="player.displayname.length > 8">{{ player.displayname }}</div>
      <div id="points" [class.negative]="player.points < 0" *ngIf="player.points || player.grade" [class.smaller]="player.points < -9">
        {{ player.points }}
      </div>
    </a>

    <div id="stats" class="flex h gap-4">
      <span *ngIf="player.sds">⭐</span>
      <span *ngFor="let e of arrayOne(+player.goals)">⚽</span>
      <span *ngFor="let e of arrayOne(+player.assists)">👟</span>
      <span *ngIf="player.clean_sheet"><i class="fa-solid fa-hand"></i></span>
      <span *ngIf="player.red_card"><div class="card red"></div></span>
      <span *ngIf="player.yellow_red_card"
        ><div class="card yellow"></div>
        <div class="card red"></div
      ></span>
    </div>

    <div class="remove" *ngIf="isInteractable">
      <i class="fas fa-times"></i>
      <span>Entfernen</span>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="!player">
  <div class="player">
    <div class="name shadow">Freier Platz</div>
  </div>
</ng-container>
