@import 'src/style/colors.scss';

.player {
  width: 100%;
  height: 100%;
  float: left;
  position: relative;
  .photo {
    position: absolute;
    width: 60%;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -90%);
    z-index: 1;
    &.interactable {
      cursor: pointer;
    }
    &.interactable:hover {
      filter: invert(47%) sepia(99%) saturate(3584%) hue-rotate(336deg) brightness(123%) contrast(101%);
    }
    &.sds {
      filter: drop-shadow(2px 0px 16px #ffffff55) drop-shadow(-2px 0px 16px #ffffffaa) drop-shadow(0px -2px 16px #ffffff55);
    }
  }
  .badge {
    height: 32px;
    width: 32px;
    object-fit: contain;
    position: absolute;
    top: -48px;
    right: 12px;
  }

  #stats {
    transform: translateY(-5px);
    height: 24px;
    line-height: 24px;
    font-size: 24px;
    position: relative;
    z-index: 5;
    justify-content: center;
    text-shadow: 0 0 1px var(--border-color), -1px -1px 1px var(--border-color), -1px 1px 1px var(--border-color),
      1px 1px 1px var(--border-color), 1px -1px 1px var(--border-color);
    .card {
      height: 24px;
      width: 16px;
      border-radius: 3px;
      position: absolute;
      &.red {
        background-color: var(--forward);
      }
      &.yellow {
        background-color: var(--defender);
        transform: translate(-5px, -4px);
      }
    }
    .fa-hand {
      color: #009432;
    }
  }

  #info {
    border-radius: 5px;
    overflow: hidden;
    height: 32px;
    line-height: 32px;
    transition: 160ms;
    position: relative;
    z-index: 4;
    background-color: white;
    font-size: 14px;
    border: 1px solid var(--border-color);

    text-align: center;
    &:hover #name {
      color: var(--primary);
    }
    #grade {
      width: 28px;
      min-width: 28px;
      max-width: 28px;
      border-right: 1px solid var(--border-color);
      font-weight: 600;
      color: white;
    }
    #live {
      width: 28px;
      min-width: 28px;
      max-width: 28px;
      border-right: 1px solid var(--border-color);
      font-weight: 600;
      color: white;
      &.start-lineup {
        background-color: #009432;
      }
      &.substitution {
        background-color: #ffc312;
      }
      &.unused {
        background-color: #ff3f34;
      }
    }
    #name {
      color: var(--text-color-high);
      font-weight: 500;
      white-space: nowrap;
      flex-grow: 1;
      overflow: hidden;
      &.longname {
        font-size: 12px;
      }
    }
    #points {
      color: var(--text-color-high);
      width: 28px;
      min-width: 28px;
      max-width: 28px;
      text-align: center;
      border-left: 1px solid var(--border-color);
      font-weight: 600;
      font-size: 17px;
      line-height: 30px;
      font-variant-numeric: tabular-nums;
      &.negative {
        color: var(--error);
      }
      &.smaller {
        font-size: 13px;
      }
    }
  }

  .remove {
    width: 100%;
    height: 100%;
    top: -140%;
    left: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $white;
    font-size: 14px;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    z-index: 2;
    pointer-events: none;
  }
  .interactable:hover ~ .remove {
    opacity: 1;
  }
}

@media only screen and (max-width: 639px) {
  .badge {
    height: 24px !important;
    width: 24px !important;
    top: -32px !important;
    right: 4px !important;
  }

  #stats {
    height: 12px !important;
    line-height: 12px !important;
    font-size: 12px !important;
    .card {
      height: 14px !important;
      width: 10px !important;
      border-radius: 2px !important;
      &.yellow {
        transform: translate(-3px, -2px) !important;
      }
    }
  }

  #info {
    height: 22px !important;
    line-height: 22px !important;
    font-size: 10px !important;
    #grade {
      width: 20px !important;
      min-width: 20px !important;
      max-width: 20px !important;
    }
    #live {
      width: 16px !important;
      min-width: 16px !important;
      max-width: 16px !important;
    }
    #name {
      &.longname {
        font-size: 8px !important;
      }
    }
    #points {
      width: 16px !important;
      min-width: 16px !important;
      max-width: 16px !important;
      font-size: 14px !important;
      line-height: 23px !important;
      &.smaller {
        font-size: 9px !important;
      }
    }
  }
}

.grade-0 {
  background-color: var(--grade-0);
}
.grade-10 {
  background-color: var(--grade-10);
}
.grade-15 {
  background-color: var(--grade-15);
}
.grade-20 {
  background-color: var(--grade-20);
}
.grade-25 {
  background-color: var(--grade-25);
}
.grade-30 {
  background-color: var(--grade-30);
}
.grade-35 {
  background-color: var(--grade-35);
}
.grade-40 {
  background-color: var(--grade-40);
}
.grade-45 {
  background-color: var(--grade-45);
}
.grade-50 {
  background-color: var(--grade-50);
}
.grade-55 {
  background-color: var(--grade-55);
}
.grade-60 {
  background-color: var(--grade-60);
}
