@import './../../../../colors.scss';

.content-filter {
  &.isExpanded {
    height: 25px;
  }
}

.content {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  .club {
    min-width: 80px;
    display: flex;
    flex-direction: column;
    padding: 16px 12px;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    .logo {
      width: 48px;
      height: 48px;
      margin-bottom: 4px;
      transition: all 0.2s ease-in-out;
      object-fit: contain;
    }
    .name {
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: bold;
    }
  }
  .club:hover {
    background-color: $white;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  }
}
