<div class="content-menu-bar">
  <div class="action"></div>
  <div class="title">{{ bundesliga.length }} Bundesliga Clubs</div>
  <div class="action"></div>
</div>

<div class="content">
  <ng-container *ngFor="let club of bundesliga">
    <div class="club" (click)="copyToClipboard(club.clubId)">
      <img
        class="logo"
        src="./../../../../assets/img/club/{{ club.clubId }}.png"
        onerror="this.src='./../../../../assets/img/club/placeholder.png'"
      />
      <div class="name">{{ club.name }}</div>
    </div>
  </ng-container>
</div>

<div class="content-menu-bar">
  <div class="action" (click)="onToggleFilterView()" [class.isActive]="filter.club.isExpanded">
    <i class="fas fa-filter"></i> Filter
    <span *ngIf="selectedFilterCount > 0">({{ selectedFilterCount }} aktiv)</span>
  </div>
  <div class="title">{{ rest.length }} weitere Clubs</div>
  <div class="action" (click)="onOpenAddClubDialog()"><i class="fas fa-plus"></i> Neuer Club</div>
</div>

<div class="content-filter" *ngIf="filter" [class.isExpanded]="filter.club.isExpanded">
  <div class="column">
    <mat-checkbox [(ngModel)]="filter.club.items.germanClubs" (change)="onChangeFilter()"> Nur deutsche Clubs </mat-checkbox>
  </div>
</div>

<div class="content">
  <ng-container *ngFor="let club of rest">
    <div class="club" *ngIf="isClubVisible(club)" (click)="copyToClipboard(club.clubId)">
      <img
        class="logo"
        src="./../../../../assets/img/club/{{ club.clubId }}.png"
        onerror="this.src='./../../../../assets/img/club/placeholder.png'"
      />
      <div class="name">{{ club.name }}</div>
    </div>
  </ng-container>
</div>
