<form id="container">
  <mat-form-field>
    <mat-label>Kicker ID</mat-label>
    <input matInput [(ngModel)]="player.kickerId" name="kickerId" type="numbeer" (focusout)="onValidateInput('kickerId')" />
    <div class="error" *ngIf="error.kickerId.duplicate">Kicker ID ist bereits vergeben</div>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Vorname</mat-label>
    <input matInput [(ngModel)]="player.firstname" name="firstname" (focusout)="onValidateInput('firstname')" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Nachname</mat-label>
    <input matInput [(ngModel)]="player.lastname" name="lastname" (focusout)="onValidateInput('lastname')" />
    <div class="warning" *ngIf="warning.firstnamelastname.duplicate">Kombination aus Vorname + Nachname existiert bereits</div>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Anzeigename</mat-label>
    <input matInput [(ngModel)]="player.displayname" name="displayname" (focusout)="onValidateInput('displayname')" />
    <div class="error" *ngIf="error.displayname.missing">Anzeigename darf nicht leer sein</div>
    <div class="error" *ngIf="error.displayname.duplicate">Anzeigename ist bereits vergeben</div>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Nation</mat-label>
    <mat-select name="country" [(value)]="player.countryCode">
      <mat-option></mat-option>
      <mat-option *ngFor="let country of apiService.countryList" [value]="country.country_code">
        {{ country.country_name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Geburtsort</mat-label>
    <input matInput [(ngModel)]="player.city" name="city" />
  </mat-form-field>

  <div class="dateOfBirth">
    <mat-form-field class="small">
      <mat-label>Tag</mat-label>
      <input matInput [(ngModel)]="day" type="number" min="1" max="31" name="day" (ngModelChange)="onChangeDateOfBirth()" />
    </mat-form-field>
    <div class="seperator"></div>
    <mat-form-field class="small">
      <mat-label>Monat</mat-label>
      <input matInput [(ngModel)]="month" type="number" min="1" max="12" name="month" (ngModelChange)="onChangeDateOfBirth()" />
    </mat-form-field>
    <div class="seperator"></div>
    <mat-form-field class="middle">
      <mat-label>Jahr</mat-label>
      <input matInput [(ngModel)]="year" type="number" name="year" (ngModelChange)="onChangeDateOfBirth()" />
    </mat-form-field>
    <div class="validator">
      <i class="fas fa-check positive" *ngIf="isValidDate"></i>
    </div>
  </div>

  <mat-form-field>
    <mat-label>Größe (in cm)</mat-label>
    <input matInput [(ngModel)]="player.height" type="number" name="height" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Gewicht (in kg)</mat-label>
    <input matInput [(ngModel)]="player.weight" type="number" name="weight" />
  </mat-form-field>

  <div id="finish">
    <button type="submit" class="button cancel" (click)="onCancel()">Abbrechen</button>
    <button type="submit" class="button save" (click)="onSave()" [class.disabled]="!dataIsValid()" [disabled]="!dataIsValid()">
      Speichern
    </button>
  </div>
</form>
