<div class="container">
  <i class="fas fa-circle-notch loading" *ngIf="isLoading"></i>

  <div class="form-group" *ngIf="!csvFile">
    <i class="icon fas fa-upload"></i>
    <div class="message">Kicker Daten-Export</div>
    <input type="file" accept=".csv" #fileDropRef id="fileDropRef" (change)="onFileChange($event)" />
  </div>

  <ng-container *ngIf="csvFile && !isLoading">
    <div class="column">
      <div class="box" *ngIf="divergentPoints.length > 0">
        <i class="icon fas fa-exclamation-circle"></i>
        <div class="count">{{ divergentPoints.length }}</div>
        <div class="title">Abweichender Kicker-Punktestand:</div>
        <div class="player" *ngFor="let player of divergentPoints">
          <span class="club">{{ player.club }}</span>
          <span class="name">{{ player.name }}</span>
          <div class="spacer"></div>
          <div class="points">
            <b class="pad">{{ abs(player.kicker_points - player.system_points) }}</b> Punkt<span
              *ngIf="abs(player.kicker_points - player.system_points) > 1"
              >e</span
            >
            <span class="pad">zu</span>
            <span *ngIf="player.kicker_points > player.system_points">wenig</span>
            <span *ngIf="player.kicker_points < player.system_points">viel</span>
          </div>
        </div>
      </div>
      <div class="valid" *ngIf="divergentPoints.length == 0">
        <i class="icon fas fa-check"></i>
        Keine Spieler mit abweichendem Punktestand

        <button (click)="onFinishMatchday()" [disabled]="!checkCompleted">
          {{ apiService.status.matchday.number }}. Spieltag abschließen
        </button>
      </div>
    </div>
  </ng-container>
</div>
