@import './../../../../colors.scss';

.container {
  width: 100%;
  display: flex;
  margin-top: 32px;
  justify-content: center;
  .loading {
    width: 100%;
    text-align: center;
    font-size: 22px;
    margin-top: 48px;
    animation: rotating 1.5s infinite linear;
  }

  .form-group {
    min-width: 360px;
    height: 180px;
    max-width: 100%;
    border: 2px dashed $darkgray;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 64px;
    color: $darkgray;
    transition: all 0.2s ease-in-out;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .icon {
      font-size: 64px;
      margin: 8px;
    }
    .message {
      font-size: 18px;
      margin: 8px;
    }
    input {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      cursor: pointer;
    }
    &:hover {
      border-color: $blue;
      background-color: $mediumgray;
      color: $blue;
    }
  }

  .column {
    flex-basis: 0;
    .box {
      width: 100%;
      background-color: $white;
      border: 1px solid $gray;
      margin: 12px 20px;
      position: relative;
      .title {
        width: 80%;
        margin: 8px 10% 4px;
        font-weight: bold;
        font-size: 11px;
        text-transform: uppercase;
        text-align: center;
        border-bottom: 1px solid $gray;
        padding-bottom: 4px;
      }
      .player {
        padding: 8px;
        display: flex;
        justify-content: space-between;
        .club {
          width: 180px;
        }
        .name {
          width: 180px;
        }
        .points {
          display: flex;
          text-align: right;
          div {
            width: 140px;
            .value {
              font-weight: bold;
            }
          }
        }
      }
      .icon {
        position: absolute;
        top: -12px;
        left: -12px;
        font-size: 30px;
        color: $red;
      }
      .count {
        position: absolute;
        min-width: 13px;
        text-align: center;
        top: -12px;
        right: -4px;
        font-size: 10px;
        padding: 4px;
        border-radius: 50px;
        background-color: $blue;
        color: $white;
      }
    }
    .valid {
      display: flex;
      flex-direction: column;
      font-size: 12px;
      align-items: center;
      .icon {
        color: $green;
        font-size: 64px;
        margin: 32px 0 16px;
      }
    }
  }
}

@keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.pad {
  padding: 0 3px;
}

button {
  padding: 0 32px;
  height: 36px;
  border: none;
  background-color: #c01c00;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  line-height: 36px;
  text-align: center;
  transition: all 0.2s ease-in-out;
  outline: 4px solid transparent;
  margin-top: 100px;
  border-radius: 5px;
  white-space: nowrap;
  cursor: pointer;
  &:hover {
    outline-color: #c01c0044;
  }
}
