<ng-container *ngIf="offerList">
  <div class="info">
    <i class="fa-solid fa-circle-info"></i>
    Angebote an dich werden automatisch abgelehnt, sobald du bis zum Ende der Transferphase keine Entscheidung getroffen hast.
  </div>

  <h3>Gebote an dich</h3>
  <div class="empty" *ngIf="offerList.length === 0">Keine Gebote gefunden</div>

  <ng-container *ngFor="let offer of offerList">
    <div class="offer box rounded shadow" [class.lost]="offer.status === 'lost'">
      <div class="left-bar {{ offer.position }}" matTooltip="{{ getPositionName(offer.position) }}"></div>
      <img
        class="photo"
        src="{{ 'http://img.die-bestesten.de/img/player/' + offer.season_id + '/' + offer.player_id + '.png' }}"
        *ngIf="offer.has_photo == '1'"
      />
      <img class="photo" src="./../.././../assets/img/icon/32/player.png" *ngIf="offer.has_photo == '0'" />
      <a [routerLink]="['../../details', offer.displayname]">
        <div class="firstname">{{ offer.firstname }}</div>
        <div class="lastname">{{ offer.lastname }}</div>
      </a>
      <div class="status {{ offer.status }}">{{ getStatusText(offer.status) }}</div>

      <a [routerLink]="['/team', '2024-2025', offer.team_id]" class="team">
        von:
        <img class="badge" src="{{ 'http://img.die-bestesten.de/img/team/' + offer.season_id + '/' + offer.team_id + '.png' }}" />
      </a>
      <div class="spacer"></div>
      <div class="value">{{ offer.offer_value | number : '1.0' }}<i class="fa-solid fa-peseta-sign"></i></div>
      <div class="action">
        <div class="button refuse" *ngIf="offer.status === 'pending'" (click)="onRefuseOffer(offer)" matTooltip="Angebot ablehnen">
          <i class="fa-solid fa-ban"></i>
        </div>
        <div class="button accept" *ngIf="offer.status === 'pending'" (click)="onAcceptOffer(offer)" matTooltip="Angebot annehmen">
          <i class="fa-regular fa-circle-check"></i>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>

<db-loading class="loading" *ngIf="!offerList" style="height: 180px"></db-loading>
