@import 'src/style/colors.scss';

.info {
  background-color: rgb(242, 238, 217);
  padding: 8px 16px;
  border-radius: 8px;
  margin-bottom: 32px;
  .fa-solid {
    margin-right: 8px;
    color: rgb(191, 170, 64);
    font-size: 1.2em;
  }
}

.left-bar {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 6px;
  &.GOALKEEPER {
    background-color: $green;
  }
  &.DEFENDER {
    background-color: $yellow;
  }
  &.MIDFIELDER {
    background-color: $blue;
  }
  &.FORWARD {
    background-color: $red;
  }
}

.offer {
  display: flex;
  height: 32px;
  line-height: 32px;
  position: relative;
  &.lost {
    opacity: 0.5;
  }
  .status {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 11px;
    margin: 0 8px;
    &.pending {
      color: $blue;
    }
    &.lost,
    &.rejected {
      color: $red;
    }
    &.success,
    &.accepted {
      color: $green;
    }
  }
  .photo {
    height: 32px;
    width: 32px;
    border-radius: 50%;
  }
  .firstname {
    color: $label;
    margin: 0 4px 0 8px;
    font-size: 16px;
  }
  .lastname {
    font-weight: 600;
    font-size: 16px;
  }
  .displayname {
    font-weight: 600;
    font-size: 16px;
    display: none;
  }
  .value {
    .fa-peseta-sign {
      margin-left: 2px;
    }
  }
  .team {
    display: flex;
    margin-left: 24px;
    gap: 4px;
    img {
      height: 32px;
      width: 32px;
    }
  }
  .action {
    width: 72px;
    margin-left: 24px;
    display: flex;
    .button {
      height: 32px;
      width: 32px;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 3px;

      margin-left: 4px;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      &:hover {
        &.refuse {
          color: $red;
        }
        &.accept {
          color: $green;
        }
      }
    }
  }
}

.empty {
  width: 100%;
  text-align: center;
  font-style: italic;
  margin-top: 12px;
}

a {
  display: flex;
  color: $dark;
  transition: all 0.2s ease-in-out;
  &:hover {
    color: $red !important;
  }
}

@media only screen and (max-width: 639px) {
  .status {
    display: none;
  }
  .firstname {
    display: none;
  }
  .lastname {
    display: none;
  }
  .displayname {
    display: initial !important;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0px 0px 8px $red;
    transform: scale(1);
  }
  50% {
    box-shadow: 0px 0px 4px $red;
    transform: scale(0.95);
  }
  100% {
    box-shadow: 0px 0px 8px $red;
    transform: scale(1);
  }
}
