#error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  height: calc(100vh - 200px);
  font-weight: 500;
  span {
    font-size: 1.65rem;
  }
  img {
    width: 256px;
    max-width: 65vw;
  }
}
