<div class="flex h group-list" *ngIf="!isLoading">
  <div class="column">
    <div class="matchday-list">
      <div
        class="matchday rounded shadow"
        [class.selected]="i + 1 === selected_matchday"
        *ngFor="let matchday of createArray(11); let i = index"
        (click)="selected_matchday = i + 1"
      >
        {{ i + 1 }}
      </div>
    </div>

    <div class="matchday-list flex h">
      <div
        class="matchday rounded shadow"
        [class.selected]="i + 12 === selected_matchday"
        *ngFor="let matchday of createArray(11); let i = index"
        (click)="selected_matchday = i + 12"
      >
        {{ i + 12 }}
      </div>
    </div>

    <!-- HINRUNDE -->

    <ng-container *ngIf="selected_matchday === 1">
      <h4>
        1. Spieltag
        <span class="hint">BL-Spieltag 3</span>
      </h4>
      <div class="table">
        <div class="table-body">
          <app-match [home]="getTeam(2)" [away]="getTeam(8)" [matchday]="3"></app-match>
          <app-match [home]="getTeam(7)" [away]="getTeam(11)" [matchday]="3"></app-match>
          <app-match [home]="getTeam(6)" [away]="getTeam(9)" [matchday]="3"></app-match>
          <app-match [home]="getTeam(10)" [away]="getTeam(4)" [matchday]="3"></app-match>
          <app-match [home]="getTeam(0)" [away]="getTeam(3)" [matchday]="3"></app-match>
          <app-match [home]="getTeam(5)" [away]="getTeam(1)" [matchday]="3"></app-match>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="selected_matchday === 2">
      <h4>
        2. Spieltag
        <span class="hint">BL-Spieltag 4</span>
      </h4>
      <div class="table">
        <div class="table-body">
          <app-match [home]="getTeam(3)" [away]="getTeam(10)" [matchday]="4"></app-match>
          <app-match [home]="getTeam(4)" [away]="getTeam(6)" [matchday]="4"></app-match>
          <app-match [home]="getTeam(9)" [away]="getTeam(7)" [matchday]="4"></app-match>
          <app-match [home]="getTeam(11)" [away]="getTeam(5)" [matchday]="4"></app-match>
          <app-match [home]="getTeam(1)" [away]="getTeam(2)" [matchday]="4"></app-match>
          <app-match [home]="getTeam(8)" [away]="getTeam(0)" [matchday]="4"></app-match>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="selected_matchday === 3">
      <h4>
        3. Spieltag
        <span class="hint">BL-Spieltag 6</span>
      </h4>
      <div class="table">
        <div class="table-body">
          <app-match [home]="getTeam(2)" [away]="getTeam(0)" [matchday]="6"></app-match>
          <app-match [home]="getTeam(7)" [away]="getTeam(4)" [matchday]="6"></app-match>
          <app-match [home]="getTeam(6)" [away]="getTeam(3)" [matchday]="6"></app-match>
          <app-match [home]="getTeam(10)" [away]="getTeam(8)" [matchday]="6"></app-match>
          <app-match [home]="getTeam(1)" [away]="getTeam(11)" [matchday]="6"></app-match>
          <app-match [home]="getTeam(5)" [away]="getTeam(9)" [matchday]="6"></app-match>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="selected_matchday === 4">
      <h4>
        4. Spieltag
        <span class="hint">BL-Spieltag 8</span>
      </h4>
      <div class="table">
        <div class="table-body">
          <app-match [home]="getTeam(3)" [away]="getTeam(7)" [matchday]="8"></app-match>
          <app-match [home]="getTeam(4)" [away]="getTeam(5)" [matchday]="8"></app-match>
          <app-match [home]="getTeam(9)" [away]="getTeam(1)" [matchday]="8"></app-match>
          <app-match [home]="getTeam(11)" [away]="getTeam(2)" [matchday]="8"></app-match>
          <app-match [home]="getTeam(0)" [away]="getTeam(10)" [matchday]="8"></app-match>
          <app-match [home]="getTeam(8)" [away]="getTeam(6)" [matchday]="8"></app-match>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="selected_matchday === 5">
      <h4>
        5. Spieltag
        <span class="hint">BL-Spieltag 9</span>
      </h4>
      <div class="table">
        <div class="table-body">
          <app-match [home]="getTeam(2)" [away]="getTeam(10)" [matchday]="9"></app-match>
          <app-match [home]="getTeam(7)" [away]="getTeam(8)" [matchday]="9"></app-match>
          <app-match [home]="getTeam(6)" [away]="getTeam(0)" [matchday]="9"></app-match>
          <app-match [home]="getTeam(11)" [away]="getTeam(9)" [matchday]="9"></app-match>
          <app-match [home]="getTeam(1)" [away]="getTeam(4)" [matchday]="9"></app-match>
          <app-match [home]="getTeam(5)" [away]="getTeam(3)" [matchday]="9"></app-match>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="selected_matchday === 6">
      <h4>
        6. Spieltag
        <span class="hint">BL-Spieltag 11</span>
      </h4>
      <div class="table">
        <div class="table-body">
          <app-match [home]="getTeam(3)" [away]="getTeam(1)" [matchday]="11"></app-match>
          <app-match [home]="getTeam(4)" [away]="getTeam(11)" [matchday]="11"></app-match>
          <app-match [home]="getTeam(9)" [away]="getTeam(2)" [matchday]="11"></app-match>
          <app-match [home]="getTeam(10)" [away]="getTeam(6)" [matchday]="11"></app-match>
          <app-match [home]="getTeam(0)" [away]="getTeam(7)" [matchday]="11"></app-match>
          <app-match [home]="getTeam(8)" [away]="getTeam(5)" [matchday]="11"></app-match>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="selected_matchday === 7">
      <h4>
        7. Spieltag
        <span class="hint">BL-Spieltag 12</span>
      </h4>
      <div class="table">
        <div class="table-body">
          <app-match [home]="getTeam(2)" [away]="getTeam(6)" [matchday]="12"></app-match>
          <app-match [home]="getTeam(7)" [away]="getTeam(10)" [matchday]="12"></app-match>
          <app-match [home]="getTeam(9)" [away]="getTeam(4)" [matchday]="12"></app-match>
          <app-match [home]="getTeam(11)" [away]="getTeam(3)" [matchday]="12"></app-match>
          <app-match [home]="getTeam(1)" [away]="getTeam(8)" [matchday]="12"></app-match>
          <app-match [home]="getTeam(5)" [away]="getTeam(0)" [matchday]="12"></app-match>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="selected_matchday === 8">
      <h4>
        8. Spieltag
        <span class="hint">BL-Spieltag 14</span>
      </h4>
      <div class="table">
        <div class="table-body">
          <app-match [home]="getTeam(3)" [away]="getTeam(9)" [matchday]="14"></app-match>
          <app-match [home]="getTeam(4)" [away]="getTeam(2)" [matchday]="14"></app-match>
          <app-match [home]="getTeam(6)" [away]="getTeam(7)" [matchday]="14"></app-match>
          <app-match [home]="getTeam(10)" [away]="getTeam(5)" [matchday]="14"></app-match>
          <app-match [home]="getTeam(0)" [away]="getTeam(1)" [matchday]="14"></app-match>
          <app-match [home]="getTeam(8)" [away]="getTeam(11)" [matchday]="14"></app-match>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="selected_matchday === 10">
      <h4>
        10. Spieltag
        <span class="hint">BL-Spieltag 17</span>
      </h4>
      <div class="table">
        <div class="table-body">
          <app-match [home]="getTeam(2)" [away]="getTeam(3)" [matchday]="17"></app-match>
          <app-match [home]="getTeam(7)" [away]="getTeam(5)" [matchday]="17"></app-match>
          <app-match [home]="getTeam(6)" [away]="getTeam(1)" [matchday]="17"></app-match>
          <app-match [home]="getTeam(10)" [away]="getTeam(11)" [matchday]="17"></app-match>
          <app-match [home]="getTeam(0)" [away]="getTeam(9)" [matchday]="17"></app-match>
          <app-match [home]="getTeam(8)" [away]="getTeam(4)" [matchday]="17"></app-match>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="selected_matchday === 11">
      <h4>
        11. Spieltag
        <span class="hint">BL-Spieltag 18</span>
      </h4>
      <div class="table">
        <div class="table-body">
          <app-match [home]="getTeam(3)" [away]="getTeam(8)" [matchday]="18"></app-match>
          <app-match [home]="getTeam(4)" [away]="getTeam(0)" [matchday]="18"></app-match>
          <app-match [home]="getTeam(9)" [away]="getTeam(10)" [matchday]="18"></app-match>
          <app-match [home]="getTeam(11)" [away]="getTeam(6)" [matchday]="18"></app-match>
          <app-match [home]="getTeam(1)" [away]="getTeam(7)" [matchday]="18"></app-match>
          <app-match [home]="getTeam(5)" [away]="getTeam(2)" [matchday]="18"></app-match>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="selected_matchday === 9">
      <h4>
        9. Spieltag
        <span class="hint">BL-Spieltag 16</span>
      </h4>
      <div class="table">
        <div class="table-body">
          <app-match [home]="getTeam(2)" [away]="getTeam(7)" [matchday]="16"></app-match>
          <app-match [home]="getTeam(4)" [away]="getTeam(3)" [matchday]="16"></app-match>
          <app-match [home]="getTeam(9)" [away]="getTeam(8)" [matchday]="16"></app-match>
          <app-match [home]="getTeam(11)" [away]="getTeam(0)" [matchday]="16"></app-match>
          <app-match [home]="getTeam(1)" [away]="getTeam(10)" [matchday]="16"></app-match>
          <app-match [home]="getTeam(5)" [away]="getTeam(6)" [matchday]="16"></app-match>
        </div>
      </div>
    </ng-container>

    <!-- RÜCKRUNDE -->

    <ng-container *ngIf="selected_matchday === 12">
      <h4>
        12. Spieltag
        <span class="hint">BL-Spieltag 19</span>
      </h4>
      <div class="table">
        <div class="table-body">
          <app-match [home]="getTeam(8)" [away]="getTeam(2)" [matchday]="19"></app-match>
          <app-match [home]="getTeam(11)" [away]="getTeam(7)" [matchday]="19"></app-match>
          <app-match [home]="getTeam(9)" [away]="getTeam(6)" [matchday]="19"></app-match>
          <app-match [home]="getTeam(4)" [away]="getTeam(10)" [matchday]="19"></app-match>
          <app-match [home]="getTeam(3)" [away]="getTeam(0)" [matchday]="19"></app-match>
          <app-match [home]="getTeam(1)" [away]="getTeam(5)" [matchday]="19"></app-match>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="selected_matchday === 13">
      <h4>
        13. Spieltag
        <span class="hint">BL-Spieltag 21</span>
      </h4>
      <div class="table">
        <div class="table-body">
          <app-match [home]="getTeam(10)" [away]="getTeam(3)" [matchday]="21"></app-match>
          <app-match [home]="getTeam(6)" [away]="getTeam(4)" [matchday]="21"></app-match>
          <app-match [home]="getTeam(7)" [away]="getTeam(9)" [matchday]="21"></app-match>
          <app-match [home]="getTeam(5)" [away]="getTeam(11)" [matchday]="21"></app-match>
          <app-match [home]="getTeam(2)" [away]="getTeam(1)" [matchday]="21"></app-match>
          <app-match [home]="getTeam(0)" [away]="getTeam(8)" [matchday]="21"></app-match>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="selected_matchday === 14">
      <h4>
        14. Spieltag
        <span class="hint">BL-Spieltag 23</span>
      </h4>
      <div class="table">
        <div class="table-body">
          <app-match [home]="getTeam(2)" [away]="getTeam(0)" [matchday]="23"></app-match>
          <app-match [home]="getTeam(7)" [away]="getTeam(4)" [matchday]="23"></app-match>
          <app-match [home]="getTeam(6)" [away]="getTeam(3)" [matchday]="23"></app-match>
          <app-match [home]="getTeam(10)" [away]="getTeam(8)" [matchday]="23"></app-match>
          <app-match [home]="getTeam(1)" [away]="getTeam(11)" [matchday]="23"></app-match>
          <app-match [home]="getTeam(5)" [away]="getTeam(9)" [matchday]="23"></app-match>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="selected_matchday === 15">
      <h4>
        15. Spieltag
        <span class="hint">BL-Spieltag 24</span>
      </h4>
      <div class="table">
        <div class="table-body">
          <app-match [home]="getTeam(3)" [away]="getTeam(7)" [matchday]="24"></app-match>
          <app-match [home]="getTeam(4)" [away]="getTeam(5)" [matchday]="24"></app-match>
          <app-match [home]="getTeam(9)" [away]="getTeam(1)" [matchday]="24"></app-match>
          <app-match [home]="getTeam(11)" [away]="getTeam(2)" [matchday]="24"></app-match>
          <app-match [home]="getTeam(0)" [away]="getTeam(10)" [matchday]="24"></app-match>
          <app-match [home]="getTeam(8)" [away]="getTeam(6)" [matchday]="24"></app-match>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="selected_matchday === 16">
      <h4>
        16. Spieltag
        <span class="hint">BL-Spieltag 25</span>
      </h4>
      <div class="table">
        <div class="table-body">
          <app-match [home]="getTeam(2)" [away]="getTeam(10)" [matchday]="25"></app-match>
          <app-match [home]="getTeam(7)" [away]="getTeam(8)" [matchday]="25"></app-match>
          <app-match [home]="getTeam(6)" [away]="getTeam(0)" [matchday]="25"></app-match>
          <app-match [home]="getTeam(11)" [away]="getTeam(9)" [matchday]="25"></app-match>
          <app-match [home]="getTeam(1)" [away]="getTeam(4)" [matchday]="25"></app-match>
          <app-match [home]="getTeam(5)" [away]="getTeam(3)" [matchday]="25"></app-match>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="selected_matchday === 17">
      <h4>
        17. Spieltag
        <span class="hint">BL-Spieltag 26</span>
      </h4>
      <div class="table">
        <div class="table-body">
          <app-match [home]="getTeam(3)" [away]="getTeam(1)" [matchday]="26"></app-match>
          <app-match [home]="getTeam(4)" [away]="getTeam(11)" [matchday]="26"></app-match>
          <app-match [home]="getTeam(9)" [away]="getTeam(2)" [matchday]="26"></app-match>
          <app-match [home]="getTeam(10)" [away]="getTeam(6)" [matchday]="26"></app-match>
          <app-match [home]="getTeam(0)" [away]="getTeam(7)" [matchday]="26"></app-match>
          <app-match [home]="getTeam(8)" [away]="getTeam(5)" [matchday]="26"></app-match>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="selected_matchday === 18">
      <h4>
        18. Spieltag
        <span class="hint">BL-Spieltag 28</span>
      </h4>
      <div class="table">
        <div class="table-body">
          <app-match [home]="getTeam(2)" [away]="getTeam(6)" [matchday]="28"></app-match>
          <app-match [home]="getTeam(7)" [away]="getTeam(10)" [matchday]="28"></app-match>
          <app-match [home]="getTeam(9)" [away]="getTeam(4)" [matchday]="28"></app-match>
          <app-match [home]="getTeam(11)" [away]="getTeam(3)" [matchday]="28"></app-match>
          <app-match [home]="getTeam(1)" [away]="getTeam(8)" [matchday]="28"></app-match>
          <app-match [home]="getTeam(5)" [away]="getTeam(0)" [matchday]="28"></app-match>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="selected_matchday === 19">
      <h4>
        19. Spieltag
        <span class="hint">BL-Spieltag 30</span>
      </h4>
      <div class="table">
        <div class="table-body">
          <app-match [home]="getTeam(3)" [away]="getTeam(9)" [matchday]="30"></app-match>
          <app-match [home]="getTeam(4)" [away]="getTeam(2)" [matchday]="30"></app-match>
          <app-match [home]="getTeam(6)" [away]="getTeam(7)" [matchday]="30"></app-match>
          <app-match [home]="getTeam(10)" [away]="getTeam(5)" [matchday]="30"></app-match>
          <app-match [home]="getTeam(0)" [away]="getTeam(1)" [matchday]="30"></app-match>
          <app-match [home]="getTeam(8)" [away]="getTeam(11)" [matchday]="30"></app-match>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="selected_matchday === 20">
      <h4>
        20. Spieltag
        <span class="hint">BL-Spieltag 31</span>
      </h4>
      <div class="table">
        <div class="table-body">
          <app-match [home]="getTeam(2)" [away]="getTeam(3)" [matchday]="31"></app-match>
          <app-match [home]="getTeam(7)" [away]="getTeam(5)" [matchday]="31"></app-match>
          <app-match [home]="getTeam(6)" [away]="getTeam(1)" [matchday]="31"></app-match>
          <app-match [home]="getTeam(10)" [away]="getTeam(11)" [matchday]="31"></app-match>
          <app-match [home]="getTeam(0)" [away]="getTeam(9)" [matchday]="31"></app-match>
          <app-match [home]="getTeam(8)" [away]="getTeam(4)" [matchday]="31"></app-match>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="selected_matchday === 21">
      <h4>
        21. Spieltag
        <span class="hint">BL-Spieltag 32</span>
      </h4>
      <div class="table">
        <div class="table-body">
          <app-match [home]="getTeam(3)" [away]="getTeam(8)" [matchday]="32"></app-match>
          <app-match [home]="getTeam(4)" [away]="getTeam(0)" [matchday]="32"></app-match>
          <app-match [home]="getTeam(9)" [away]="getTeam(10)" [matchday]="32"></app-match>
          <app-match [home]="getTeam(11)" [away]="getTeam(6)" [matchday]="32"></app-match>
          <app-match [home]="getTeam(1)" [away]="getTeam(7)" [matchday]="32"></app-match>
          <app-match [home]="getTeam(5)" [away]="getTeam(2)" [matchday]="32"></app-match>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="selected_matchday === 22">
      <h4>
        22. Spieltag
        <span class="hint">BL-Spieltag 33</span>
      </h4>
      <div class="table">
        <div class="table-body">
          <app-match [home]="getTeam(2)" [away]="getTeam(7)" [matchday]="33"></app-match>
          <app-match [home]="getTeam(4)" [away]="getTeam(3)" [matchday]="33"></app-match>
          <app-match [home]="getTeam(9)" [away]="getTeam(8)" [matchday]="33"></app-match>
          <app-match [home]="getTeam(11)" [away]="getTeam(0)" [matchday]="33"></app-match>
          <app-match [home]="getTeam(1)" [away]="getTeam(10)" [matchday]="33"></app-match>
          <app-match [home]="getTeam(5)" [away]="getTeam(6)" [matchday]="33"></app-match>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="column sticky">
    <h3>Tabelle</h3>
    <div class="table">
      <div class="table-header">
        <div class="item">Team</div>
        <div class="spacer"></div>
        <div class="item right tiny">Tore</div>
        <div class="item right tiny">Punkte</div>
      </div>
      <div class="table-body shadow rounded">
        <!-- Stand 17. H2H Spieltag -->
        <app-table-row [team]="getTeam(9)" [goals]="'43:39'" [points]="41"></app-table-row>
        <app-table-row [team]="getTeam(0)" [goals]="'39:28'" [points]="39"></app-table-row>
        <app-table-row [team]="getTeam(5)" [goals]="'33:30'" [points]="38"></app-table-row>
        <app-table-row [team]="getTeam(11)" [goals]="'28:22'" [points]="37"></app-table-row>
        <app-table-row [team]="getTeam(3)" [goals]="'37:37'" [points]="36"></app-table-row>
        <app-table-row [team]="getTeam(4)" [goals]="'29:27'" [points]="34"></app-table-row>
        <app-table-row [team]="getTeam(7)" [goals]="'31:30'" [points]="30"></app-table-row>
        <app-table-row [team]="getTeam(6)" [goals]="'19:29'" [points]="28"></app-table-row>
        <app-table-row [team]="getTeam(1)" [goals]="'27:30'" [points]="27"></app-table-row>
        <app-table-row [team]="getTeam(8)" [goals]="'31:30'" [points]="24"></app-table-row>
        <app-table-row [team]="getTeam(10)" [goals]="'27:28'" [points]="21"></app-table-row>
        <app-table-row [team]="getTeam(2)" [goals]="'21:35'" [points]="16"></app-table-row>
      </div>
    </div>
  </div>
</div>
