@import './../colors.scss';

#container {
  display: flex;
  #sidebar {
    top: 0px;
    bottom: 0;
    left: 0;
    position: fixed;
    z-index: 600;
    width: 50px;
    background-color: $dark;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    &.expanded {
      width: 240px;
    }
    &.hidden {
      transform: translateX(-100%);
    }
  }
  #content {
    width: 100%;
    margin-left: 50px;
    padding-bottom: 100px;
    flex-grow: 1;
    transition: all 300ms ease-in-out;
    &.sidebarExpanded {
      margin-left: 240px;
    }
    &.sidebarHidden {
      margin-left: 0px;
    }
  }
}

.devMode {
  position: fixed;
  bottom: 0px;
  padding: 12px 0 10px;
  width: 320px;
  background-color: $yellow;
  color: $dark;
  text-align: center;
  left: 50%;
  z-index: 5;
  margin-left: -160px;
  font-weight: bold;
}

/* mobile */
@media only screen and (max-width: 600px) {
  #container {
    #sidebar {
      &.expanded {
        width: 50px !important;
      }
    }
    #content {
      &.sidebarExpanded {
        margin-left: 50px !important;
        width: calc(100% - 50px) !important;
      }
      &.sidebarHidden {
        margin-left: 0px !important;
      }
    }
  }
}

.issue {
  position: fixed;
  bottom: 12px;
  right: 16px;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
