<div id="container">
  <div id="sidebar" [class.expanded]="stateService.sidebar.expanded" [class.hidden]="!stateService.sidebar.visible" *ngIf="authService.isLoggedIn()">
    <app-sidebar></app-sidebar>
  </div>
  <div id="content" [class.sidebarExpanded]="stateService.sidebar.expanded" [class.sidebarHidden]="!stateService.sidebar.visible">
    <app-topbar *ngIf="authService.isLoggedIn()"></app-topbar>
    <router-outlet></router-outlet>
  </div>
</div>

<app-notification></app-notification>
<div class="devMode animated" *ngIf="isDevMode">Development Mode</div>

<a class="issue" href="https://gitlab.com/MarcelKrause/DieBestesten/-/issues/new?issue%5Btitle%5D={{ currentRoute }}" target="blank">⚠️ Problem melden</a>
