$white: #ffffff;
$light: #f0f0f7;
$gray: #dfe6e9;
$mediumgray: #dcdde1;
$darkgray: #747d8c;
$medium: #404040;
$dark: #303030;

$red: #c01c00;
$yellow: #ffd32a;
$green: #05c46b;
$blue: #1e90ff;

$grade10: #1565c0;
$grade15: #2e7d32;
$grade20: #43a047;
$grade25: #7cb342;
$grade30: #c0ca33;
$grade35: #fdd835;
$grade40: #ffb300;
$grade45: #fb8c00;
$grade50: #f4511e;
$grade55: #d84315;
$grade60: #212121;
