@import './colors.scss';

@import '~@angular/material/prebuilt-themes/indigo-pink.css';

* {
  margin: 0;
  padding: 0;
  outline: unset;
}

html,
body {
  height: 100%;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: $dark;
  background-color: $light;
  font-family: 'Muli', sans-serif;
}

a {
  display: block;
  text-decoration: none;
  color: $dark;
  &.underline {
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    transition: all 0.2s ease-in-out;
  }
  &.underline:hover {
    border-bottom: 1px solid rgba(0, 0, 0, 0.75);
  }
}

h1,
h2,
h3,
h4,
h5 {
  margin: 8px;
}

input {
  font-size: inherit;
}

.button {
  color: $light;
  background-color: $blue;
  transition: all 0.2s ease-in-out;
  text-align: center;
  cursor: pointer;
  border-bottom: 2px solid darken($blue, 10%);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 100%;
  height: 40px;
  line-height: 40px;
  border-radius: 3px;
  font-size: 13px;
}
.button:hover {
  background-color: darken($blue, 10%);
}

button {
  border: none;
  transition: transform 0.2s ease-in-out;
}
button:focus {
  &.cancel {
    color: $blue !important;
    transform: scale(0.96);
  }
  &.save {
    transform: scale(0.96);
  }
}

.tooltip {
  padding: 6px;
  .value {
    margin: 4px;
    font-weight: bold;
  }
  .name {
    margin: 4px;
  }
}

.copy {
  cursor: pointer;
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
  padding: 0 4px;
}
.copy:hover {
  background-color: $gray;
}

.copy:active {
  transform: scale(0.95);
}

.content-menu-bar {
  float: left;
  width: 90%;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  padding-bottom: 8px;
  margin: 36px 5% 0;
  border-bottom: 1px solid $mediumgray;
  .action {
    cursor: pointer;
    text-align: center;
    min-width: 100px;
    transition: all 0.2s ease-in-out;
    &.isActive {
      color: $blue;
    }
  }
  .action:hover {
    color: $blue;
  }
  .title {
  }
}

.content-filter {
  width: calc(80% - 20px);
  height: 0px;
  display: flex;
  justify-content: space-between;
  margin: 0 10% 16px;
  padding: 0 10px;
  background-color: #fff;
  border: 0px solid $gray;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
  opacity: 0;
  &.isExpanded {
    border: 1px solid $gray;
    border-top: none;
    padding: 15px 10px;
    opacity: 1;
  }
  .column {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    flex-basis: 0;
    margin: 0 20px;
    .title {
      width: 80%;
      text-align: center;
      font-size: 11px;
      letter-spacing: 1px;
      text-transform: uppercase;
      font-weight: bold;
      padding-bottom: 6px;
      margin-bottom: 6px;
      border-bottom: 1px solid $gray;
    }
    .title:not(:first-child) {
      margin-top: 16px;
    }
    mat-radio-button {
      width: 100%;
    }
    mat-select {
      display: inline-block;
      width: calc(80% - 4px);
      border: 2px solid rgba(0, 0, 0, 0.54);
      padding: 2px 0;
      outline: none;
      margin: 4px 0;
    }
  }
}
