#content {
  display: flex;
  flex-direction: column;

  padding-bottom: 48px;
  width: 640px;
  margin: 0 auto 0;
  background-color: white;
  border-radius: 25px;
  padding: 24px;
  p {
    margin-bottom: 24px;
  }
}

@media (max-width: 480px) {
  #content {
    padding: 12px !important;
    width: calc(90vw - 24px) !important;
  }
}
