<div id="content">
  <h1>Impressum</h1>
  <h3>Angaben gemäß § 5 TMG:</h3>
  <p>
    Marcel Hellmundt<br />
    Am Kirchenkamp 8<br />
    49078 Osnabrück
  </p>
  <h3>Kontakt</h3>
  <p>
    Telefon: 0176 27886062 <br />
    Email: kontakt&#64;die-bestesten.de
  </p>
  <h3>Haftung für Links</h3>
  <p>
    Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb können wir für diese
    fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der
    Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige
    Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne
    konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links
    umgehend entfernen.
  </p>
</div>
