<menu class="flex v" *ngIf="auth_service.isLoggedIn()" [class.is-expanded]="state_service.is_menu_expanded">
  <div id="search">
    <input #search placeholder="Suche" [ngModel]="search_input" (ngModelChange)="onSearch($event)" (click)="onSelectSearch(search)" />
  </div>
  <div id="header" class="flex h">
    <a class="logo" [routerLink]="['/liga']">
      <img src="./../../../../assets/img/logo/square.png" class="rounded shadow" />
    </a>
    <div class="spacer"></div>
    <div id="info" class="flex v">
      <a [routerLink]="['manager', api_service.status.manager.manager_name]" class="manager">{{
        api_service.status.manager.manager_name
      }}</a>
      <a
        [routerLink]="['team', formatSeason(api_service.status.season.season_name), formatTeam(api_service.status.team.team_name)]"
        class="team"
        >{{ api_service.status.team.team_name }}</a
      >
    </div>
  </div>

  <ul id="navigation">
    <!--<button>
      <i class="icon fi fi-br-home"></i>
      Dashboard
      <div class="spacer"></div>
    </button>-->
    <a [routerLink]="['benachrichtigungen']"
      ><button>
        <i class="icon fi fi-br-bell"></i>Benachrichtigungen
        <div class="counter" *ngIf="api_service.status.unread_notifications > 0">{{ api_service.status.unread_notifications }}</div>
        <div class="spacer"></div></button
    ></a>

    <div class="line"></div>

    <li *ngFor="let item of menu">
      <button (click)="onExpandItem(item.label)" [class.selected]="isSelectedRoute(item.label)">
        <i class="icon fi {{ item.icon }}"></i>
        {{ item.label }}
        <div class="spacer"></div>
        <img src="./../../../../assets/img/chevron-right-solid.svg" class="chevron" [class.rotate]="item.is_expanded" />
      </button>
      <div class="items" [class.is_expanded]="item.is_expanded">
        <ul>
          <a
            *ngFor="let subitem of item.subitems"
            [routerLink]="item.link + subitem.link"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <li>
              <span class="icon">{{ subitem.icon }}</span>
              <span class="label">{{ subitem.label }}</span>
            </li>
          </a>
        </ul>
      </div>
    </li>

    <div class="spacer"></div>

    <div class="line"></div>
    <!--<button>
      <i class="icon fi fi-rr-settings-sliders"></i>
      <span class="label">Einstellungen</span>
      <div class="spacer"></div>
    </button>-->

    <a [routerLink]="['kicker']" [routerLinkActive]="['active']">
      <button>
        <i class="icon fi fi-br-football"></i>
        Kickerpunkte
        <div class="spacer"></div>
      </button>
    </a>

    <a [routerLink]="['podcasts']" [routerLinkActive]="['active']">
      <button>
        <i class="icon fi fi-br-microphone-alt"></i>
        Podcasts
        <div class="spacer"></div>
      </button>
    </a>

    <a
      href="https://gitlab.com/MarcelKrause/DieBestesten/-/issues/?sort=created_at_desc&state=opened&label_name%5B%5D=project%3A%3AGame&label_name%5B%5D=type%3A%3ABug"
      target="_blank"
    >
      <button>
        <i class="icon fi fi-br-code-branch"></i>
        <span class="label">Fehler melden</span>
        <div class="spacer"></div>
      </button>
    </a>

    <button id="logout" (click)="onLogout()" [class.activated]="logout_activated">
      <i class="icon fi fi-br-sign-out-alt"></i>
      <span class="label">Abmelden</span>
      <div class="spacer"></div>
    </button>
  </ul>
</menu>

<div id="search-result" *ngIf="search_result_visible">
  <div class="search-result-group" *ngIf="search_result.manager.length > 0">
    <div class="title">Manager</div>
    <a class="item" [routerLink]="['manager', manager.manager_name]" *ngFor="let manager of search_result.manager">
      <img class="photo" src="{{ 'http://img.die-bestesten.de/img/manager/' + manager.manager_id + '.jpg' }}" />
      {{ manager.manager_name }}
    </a>
  </div>

  <div class="search-result-group" *ngIf="search_result.player.length > 0">
    <div class="title">Spieler</div>
    <a class="item" [routerLink]="['spieler', 'details', player.displayname]" *ngFor="let player of search_result.player">
      <img
        class="photo"
        src="{{ 'http://img.die-bestesten.de/img/player/' + api_service.status.season.season_id + '/' + player.player_id + '.png' }}"
      />
      {{ player.displayname }}
    </a>
  </div>
</div>
