menu {
  width: 244px;
  padding: 24px;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-y: scroll;

  #search {
    display: none;
  }

  #header {
    height: 48px;
    display: flex;
    img {
      height: 44px;
      width: 44px;
      border-radius: 8px;
    }
    #info {
      font-weight: 500;
      text-align: left;
      height: 44px;
      justify-content: space-around;
      align-items: flex-start;
      margin-left: 8px;
      * {
        padding: 0 8px;
        border-radius: 8px;
      }
      *:hover {
        background-color: #f7f8fa;
      }
      .manager {
        color: var(--text-color-high);
        font-size: 18px;
      }
      .team {
        color: var(--text-color-low);
        font-size: 12px;
        font-weight: 700;
      }
    }
  }

  #navigation {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 16px;
    flex-grow: 1;
    .counter {
      height: 20px;
      padding: 0 7px;
      text-align: center;
      line-height: 20px;
      margin: 0 8px;
      color: white;
      background-color: var(--primary);
      font-size: 10px;
      font-weight: 500;
      border-radius: 10px;
    }
    button {
      height: 42px;
      width: 100%;
      border: none;
      font-weight: 600;
      transition: 100ms all ease-in-out;
      text-align: left;
      font-size: 14px;
      padding: 0 16px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      color: var(--text-color-medium);
      &:hover {
        background-color: var(--hover-background-color);
        color: var(--text-color-high);
        .icon {
          color: var(--text-color-high);
        }
      }
      &.selected {
        color: var(--text-color-high);
        background-color: var(--hover-background-color);
        .icon {
          color: var(--text-color-high);
        }
      }
      .icon {
        font-size: 18px;
        margin-right: 12px;
        color: var(--text-color-medium);
        transform: translateY(2px);
        transition: 100ms all ease-in-out;
      }
      .chevron {
        color: black;
        fill: black;
        height: 14px;
        transition: 120ms all ease-in-out;
        &.rotate {
          transform: rotate(90deg);
        }
      }
    }
    .items {
      max-height: 0;
      transition: max-height 0.15s ease-out;
      overflow: hidden;
      padding-top: 4px;
      &.is_expanded {
        max-height: 500px;
        transition: max-height 0.25s ease-in;
      }
      ul {
        display: flex;
        flex-direction: column;
        gap: 8px;
        a {
          display: flex;
          flex-direction: row;
          border-radius: 8px;
          margin-left: 20px;
          li {
            background-color: transparent;
            height: 36px;
            border: none;
            font-weight: 600;
            cursor: pointer;
            transition: 100ms all ease-in-out;
            text-align: left;
            font-size: 14px;
            padding: 0 16px;
            display: flex;

            .icon {
              display: flex;
              height: 36px;
              display: flex;
              align-items: center;
              font-size: 18px;
              margin-right: 6px;
            }
            .label {
              display: flex;
              height: 36px;
              align-items: center;
              color: var(--text-color-high);
            }
          }
        }
      }
    }

    #logout {
      .icon,
      .label {
        transition: 200ms all ease-in-out;
      }
      &.activated {
        .icon {
          animation: move 400ms ease-in-out 0s 1 forwards;
        }
        .label {
          opacity: 0;
        }
      }
    }
  }

  .line {
    min-height: 1px;
    background-color: var(--border-color);
    width: 90%;
    transform: translateX(5%);
    margin: 4px 0;
  }
}

a {
  &.active {
    background-color: var(--hover-background-color);
  }
  &:hover {
    background-color: var(--hover-background-color);
  }
}

#search-result {
  height: calc(var(--app-height) - 130px - 2 * 24px);
  width: calc(100vw - 2 * 24px);
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 24px;
  background-color: var(--background-color);
  box-shadow: var(--shadow);
  border: 1px solid var(--border-color);
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  z-index: 4;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 8px;
  animation: slide-up 200ms 1 ease;
  .search-result-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 16px;
    .title {
      font-weight: 600;
      font-size: 18px;
      margin-bottom: 8px;
    }
    a {
      color: var(--text-color-high);
    }
    .item {
      height: 36px;
      width: 100%;
      display: flex;
      align-items: center;
      gap: 8px;
      transition: 0.15s all ease-in-out;
      cursor: pointer;
      border-radius: 5px;
      font-weight: 500;
      font-size: 16px;
      &:hover {
        background-color: var(--hover-background-color);
      }
      .photo {
        height: 36px;
        width: 36px;
        border-radius: 50%;
      }
    }
  }
}

@keyframes move {
  from {
    transform: translateX(0px);
    opacity: 1;
  }
  to {
    transform: translateX(100px);
    opacity: 0;
  }
}

@keyframes slide-up {
  from {
    transform: translateY(100vh);
  }
  to {
    transform: translateY(0);
  }
}

@media only screen and (max-width: 639px) {
  menu {
    width: calc(100vw - 2 * 24px) !important;
    left: calc(-100vw - 2 * 24px) !important;
    transition: 200ms ease-in-out all !important;
    z-index: 3;
    top: 49px !important;
    &.is-expanded {
      left: 0 !important;
    }
    #search {
      display: flex;
      margin-bottom: 24px;
      input {
        border: 1px solid var(--border-color);
        height: 40px;
        line-height: 42px;
        padding: 0 16px;
        border-radius: 21px;
        font-size: 14px;
        width: 100%;
        background-color: var(--background-color);
      }
    }
  }
}
