$white: #ffffff;
$gray: #fdfcfc;
$hover: #ffcccc;
$label: #747d8c;
$dark: #222;
$black: #181a18;
$shadow: #00000032;

$darkRed: #c01c00;
$red: #ff5252;
$yellow: #ffda79;
$green: #2ed573;
$blue: #34ace0;

$sds: #ffdd59;
