@import 'colors.scss';
@import 'table.scss';

@import '~@angular/material/prebuilt-themes/indigo-pink.css';

@font-face {
  font-family: 'Bridge';
  src: url('./../assets/font/bridge/bridge.ttf');
  font-weight: 400;
}

:root {
  --grade-unset: #dfe6e9;
  --grade-10: #1565c0;
  --grade-15: #2e7d32;
  --grade-20: #43a047;
  --grade-25: #7cb342;
  --grade-30: #c0ca33;
  --grade-35: #fdd835;
  --grade-40: #ffb300;
  --grade-45: #fb8c00;
  --grade-50: #f4511e;
  --grade-55: #d84315;
  --grade-60: #212121;

  --primary: #c01c00;
  --forward: #ff5252;
  --midfielder: #34ace0;
  --defender: #ffda79;
  --goalkeeper: #2ed573;

  --field-color: #20d588;
  --link: #ff5252;

  --text-color-high: rgba(0, 0, 0, 0.87);
  --text-color-medium: rgba(0, 0, 0, 0.6);
  --text-color-low: rgba(0, 0, 0, 0.38);

  --input-background-color: #ffffff12;
  --shadow: rgba(50, 50, 105, 0.15) 0px 1px 4px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;

  --border-radius: 5px;

  --app-height: 100%;

  .light {
    --focus-color: #fff;
    --background-color: #fafbfc;
    --hover-background-color: #f7f8fa;
    --border-color: #e4e9f6;
  }
  .dark {
    --background-color: #131313;
    --border-color: #242424;
  }
}

* {
  margin: 0px;
  padding: 0px;
  &:focus {
    outline: none;
  }
}

html,
body {
  height: 100%;
}

html {
  height: -webkit-fill-available;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  font-size: 14px;
  color: $dark;
  background-color: var(--focus-color);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  height: 100vh; /* fallback for Js load */
  height: var(--app-height);

  &.fixed {
    height: 100px;
    overflow: hidden;
  }
}

input {
  border: none;
}

button {
  border: none;
  background-color: transparent;
  color: var(--text-color-high);
  border-radius: 8px;
  cursor: pointer;
  &:hover {
    background-color: var(--hover-background-color);
  }
}

a {
  text-decoration: none;
  color: $red;
}

h1,
h2,
h3 {
  font-weight: 600;
}
h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
h2 {
  font-size: 1.4rem;
  margin-bottom: 0.7rem;
}
h3 {
  font-size: 1.2rem;
  margin-bottom: 0.6rem;
}
h4 {
  font-size: 1rem;
  margin-bottom: 0.4rem;
  font-weight: 600;
}

.bridge {
  font-family: 'Bridge', Arial, 'Segoe UI', Helvetica;
}

.bold {
  font-weight: bold;
}

::-webkit-scrollbar {
  display: none;
}

.spacer {
  flex-grow: 1;
  &.line {
    background-color: var(--border-color);
    height: 1px;
    margin: 0 12px;
  }
}

.rounded {
  border-radius: 5px;
  overflow: hidden;
}
.shadow {
  box-shadow: rgba(0, 0, 0, 0.04) 0px 4px 24px 0px, rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;
}
.animated {
  transition: all 120ms ease-in-out;
}

.notification-snackbar {
  white-space: pre-wrap;
  padding: 0 !important;
  overflow: hidden !important;

  .title {
    font-size: 2rem;
    font-weight: 700;
  }
}

.column {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
}

.box {
  background-color: $white;
  overflow: hidden;
  margin-bottom: 12px;
  display: flex;
  padding: 10px;
  &.center {
    justify-content: center;
  }
}

select {
  border: none;
  padding: 6px 12px;
  font-size: 1rem;
  color: $black;
}

.full-dialog .mat-dialog-container {
  padding: 0;
}

.desktop {
  display: flex !important;
}
.mobile {
  display: none !important;
}

@media only screen and (max-width: 639px) {
  .mobile {
    display: flex !important;
  }
  .desktop {
    display: none !important;
  }
  .column {
    padding: 0;
    min-width: calc(100% - 40px);
  }
}

.flex {
  display: flex;
  width: 100%;
  &.h {
    flex-direction: row;
  }
  &.v {
    flex-direction: column;
  }
  .column {
    flex-grow: 1;
  }
}

.box,
.box-item,
.box-link,
.box-button {
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
}
.box-item,
.box-link,
.box-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-item {
  height: 30px;
  line-height: 30px;
  border-radius: 16px;
  font-weight: 500;
  .box-circle {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 1px solid var(--border-color);
    background-color: var(--focus-color);
    font-size: 18px;
    &img {
      height: 32px;
      width: 32px;
    }
  }
  span {
    padding: 0 12px;
  }
}
.box-link {
  height: 48px;
  padding: 0 16px 0 12px;
  gap: 12px;
  border-radius: var(--border-radius);
  cursor: pointer;
  img {
    height: 36px;
    width: 36px;
  }
  .name {
    font-weight: 500;
    color: var(--text-color-hight);
    white-space: nowrap;
  }
  &:hover {
    background-color: var(--hover-background-color);
  }
}
.box-button {
  height: 62px;
  width: 62px;
  border-radius: 32px;
  font-size: 24px;
  cursor: pointer;
  &.disabled {
    pointer-events: none;
    color: var(--text-color-low);
    border: 1px solid var(--background-color);
  }
}

.content-container {
  background-color: var(--focus-color);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  padding: 16px;
}

/*
* POSITION
*/
.position-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  padding: 0 8px;
  border-radius: var(--border-radius);
  color: white;
  transform: skewX(-20deg);
  color: var(--focus-color);
  font-weight: 500;
  font-size: 12px;
  float: left;
  span {
    transform: skewX(20deg);
  }
  &.position-forward {
    background-color: var(--forward);
  }
  &.position-midfielder {
    background-color: var(--midfielder);
  }
  &.position-defender {
    background-color: var(--defender);
  }
  &.position-goalkeeper {
    background-color: var(--goalkeeper);
  }
}

/*
* GRADE
*/
.grade-container {
  display: flex;
  justify-content: center;
  height: 26px;
  line-height: 26px;
  width: 34px;
  border-radius: var(--border-radius);
  color: var(--focus-color);
  font-weight: 500;
  font-size: 14px;

  &.grade-10 {
    background-color: var(--grade-10);
  }
  &.grade-15 {
    background-color: var(--grade-15);
  }
  &.grade-20 {
    background-color: var(--grade-20);
  }
  &.grade-25 {
    background-color: var(--grade-25);
  }
  &.grade-30 {
    background-color: var(--grade-30);
  }
  &.grade-35 {
    background-color: var(--grade-35);
  }
  &.grade-40 {
    background-color: var(--grade-40);
  }
  &.grade-45 {
    background-color: var(--grade-45);
  }
  &.grade-50 {
    background-color: var(--grade-50);
  }
  &.grade-55 {
    background-color: var(--grade-55);
  }
  &.grade-60 {
    background-color: var(--grade-50);
  }
  &.grade-unset {
    background-color: var(--grade-unset);
  }
}
