@import 'colors.scss';

.table {
  margin-bottom: 48px;
  a {
    color: $dark;
  }
  .table-header {
    display: flex;
    align-items: center;
    height: 42px;
    padding: 0 8px;
    color: $label;
    font-weight: 500;
    font-size: 0.8rem;
    user-select: none;
    .item {
      display: flex;
      align-items: baseline;
      width: 140px;
      white-space: nowrap;
      .icon {
        margin-right: 4px;
      }
      &.left {
        width: auto;
      }
      &.right {
        justify-content: end;
      }
      &.w32 {
        width: 32px;
      }
      &.w48 {
        width: 48px;
      }
      &.w60 {
        width: 60px;
      }
      &.w72 {
        width: 72px;
      }
      &.w100 {
        width: 100px;
      }
    }
    .sortable {
      transition: all 120ms ease-in-out;
      cursor: pointer;
      &.active {
        color: $black;
      }
      &:hover {
        color: $black;
      }
    }
  }
  .table-body {
    .table-row {
      display: flex;
      align-items: center;
      height: 42px;
      padding: 0 8px;
      background-color: $white;
      border-bottom: 2px solid $gray;
      cursor: pointer;
      &:last-of-type {
        border-color: $white;
      }
      &:hover {
        border-bottom: 2px solid $red;
      }
      .item {
        display: flex;
        align-items: center;
        width: 140px;
        font-weight: 500;
        white-space: nowrap;
        font-variant-numeric: tabular-nums;
        .index {
          font-weight: 500;
          font-size: 0.8rem;
          color: $label;
          min-width: 20px;
          text-align: right;
          margin-right: 8px;
        }
        img {
          height: 36px;
          min-width: 36px;
          float: left;
          margin-right: 8px;
          object-fit: contain;
          &.team {
            object-fit: contain;
          }
          &.photo {
            object-fit: cover;
          }
          &.circle {
            border-radius: 50%;
          }
          &.tiny {
            height: 18px;
            min-width: 18px;
          }
          &.small {
            height: 28px;
            width: 28px;
          }
        }
        &.points {
          font-size: 1.25rem;
          font-weight: 600;
          font-variant-numeric: tabular-nums;
        }
        &.center {
          justify-content: center;
        }
        &.right {
          justify-content: end;
        }

        &.w32 {
          width: 32px;
        }
        &.w48 {
          width: 48px;
        }
        &.w60 {
          width: 60px;
        }
        &.w72 {
          width: 72px;
        }
        &.w100 {
          width: 100px;
        }
        &.w180 {
          width: 180px;
        }

        &.position-bar {
          height: 100%;
          border: none;
          border-left: 6px solid transparent;
          transform: translateX(-8px);
          padding-left: 8px;
          margin-right: -8px;
          &.GOALKEEPER {
            border-color: $green;
          }
          &.DEFENDER {
            border-color: $yellow;
          }
          &.MIDFIELDER {
            border-color: $blue;
          }
          &.FORWARD {
            border-color: $red;
          }
        }
        &.position {
          width: 60px;
          font-weight: 600;
          &.goalkeeper {
            color: $green;
          }
          &.defender {
            color: $yellow;
          }
          &.midfielder {
            color: $blue;
          }
          &.forward {
            color: $red;
          }
        }
        &.live-state {
          width: 32px !important;
          margin-right: 8px;
          align-items: baseline;
          font-size: 1.2rem;
          font-weight: 700;
          justify-content: end;
          .fa-solid {
            font-size: 0.6rem;
            opacity: 0.6;
            margin-left: 4px;
          }
          &.green {
            color: #009432;
          }
          &.yellow {
            color: #ffc312;
          }
          &.red {
            color: #ff3f34;
          }
          &.zero {
            color: $black !important;
            opacity: 0.3;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 639px) {
  .table-body {
    font-size: 0.8rem;
    .item {
      .badge,
      .photo {
        height: 28px !important;
        min-width: 28px !important;
        margin-right: 4px !important;
      }
      &.points {
        font-size: 0.9rem !important;
      }
      &.scorer {
        width: auto !important;
        margin-left: 4px !important;
      }
    }
  }
}

.fa-sort,
.fa-sort-up,
.fa-sort-down {
  margin-right: 4px;
}

table {
  min-width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  transition: 100ms ease;
  background: var(--box-color);
  tr {
    border-radius: 4px;
    overflow: hidden;
    height: 48px;
    outline: 2px solid transparent;
    &.compact {
      height: 32px;
    }
    th {
      font-weight: 500;
      font-size: 12px;
    }

    .left {
      text-align: left;
    }
    .center {
      text-align: center;
    }
    .center-container {
      display: flex;
      justify-content: center;
      height: 32px;
    }
    .right {
      text-align: right;
    }
    &.selectable {
      cursor: pointer;
      transition: 100ms ease;
      &:hover {
        background-color: var(--hover-background-color);
      }
    }
    &.selected {
      outline: 1px solid var(--border-color);
      background-color: var(--hover-background-color) !important;
    }

    td {
      font-weight: 500;
      img {
        height: 32px;
        width: 32px;
        float: left;
        object-fit: contain;
      }
      &:first-child {
        border-radius: 10px 0 0 10px;
      }
      &:last-child {
        border-radius: 0 10px 10px 0;
      }

      &.w32 {
        width: 32px;
      }
      &.w48 {
        width: 48px;
      }

      &.link {
        color: var(--link);
      }

      &.points {
        font-size: 18px;
      }
    }

    > :nth-child(1) {
      padding-left: 8px;
    }
    > :nth-last-child(1) {
      padding-right: 8px;
    }

    &:nth-child(even) {
      background: var(--background-color);
    }

    .starter {
      font-size: 0.8em;
      font-weight: 800;
      letter-spacing: -1px;
      text-align: center;
    }
    .substitution {
      color: var(--text-color-low);
      font-size: 14px;
      text-align: center;
    }
    .name {
      font-weight: 500;
    }
    .fa-star {
      color: #ffd32a;
    }
    .fa-hand-sparkles {
      color: #05c46b;
      color: #fff;
      text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }
  }
}
