@import 'src/style/colors.scss';

.container {
  text-align: center;
  margin: 0 12px;
  min-width: 256px;
  position: relative;
  .date {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  input {
    padding: 4px;
  }
  .buttons {
    display: flex;
    flex-direction: row-reverse;
    .cancel {
      background-color: $white;
      color: $label;
      border: none;
      &:hover {
        color: $dark;
      }
    }
    .spacer {
      width: 16px;
    }
  }
}

input {
  text-align: center;
  width: 100%;
  height: 40px;
  line-height: 40px;
  margin-bottom: 8px;
  border: 1px solid $shadow;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
  &:focus {
    border-color: $red;
  }
}

button {
  width: 100%;
  height: 42px;
  font-size: 16px;
  line-height: 42px;
  margin-top: 8px;
  border-radius: 4px;
  background-color: $red;
  color: $white;
  border: none;
  cursor: pointer;
  border-bottom: 2px solid $shadow;
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: darken($red, 10%);
  }
}
