<div class="container">
  <form>
    <div class="date">
      <label>Startzeitpunkt</label>
      <input [(ngModel)]="startDateDay" name="start_date" type="date" />
      <input [(ngModel)]="startDateHour" name="start_hh" type="number" />
      <input [(ngModel)]="startDateMinutes" name="start_mm" type="number" />
    </div>

    <div class="date">
      <label>Endzeitpunkt</label>
      <input [(ngModel)]="endDateDay" name="end_date" type="date" />
      <input [(ngModel)]="endDateHour" name="end_hh" type="number" />
      <input [(ngModel)]="endDateMinutes" name="end_mm" type="number" />
    </div>

    <div class="buttons">
      <button type="submit" (click)="onSubmit()">Speichern</button>
      <div class="spacer"></div>
      <button type="submit" class="cancel" (click)="onCancel()">Abbrechen</button>
    </div>
  </form>
</div>
