<form id="container">
  <mat-form-field>
    <mat-label>Club</mat-label>
    <mat-select name="country" [(value)]="playerInClub.clubId" disabled>
      <mat-option></mat-option>
      <mat-option *ngFor="let club of apiService.clubList" [value]="club.clubId">
        {{ club.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-label>Im Club seit</mat-label>
  <div class="date">
    <mat-form-field class="small">
      <mat-label>Tag</mat-label>
      <input matInput [(ngModel)]="fromDateDay" type="number" min="1" max="31" name="fromDateDay" (ngModelChange)="onChangeFromDate()" />
    </mat-form-field>
    <div class="seperator"></div>
    <mat-form-field class="small">
      <mat-label>Monat</mat-label>
      <input
        matInput
        [(ngModel)]="fromDateMonth"
        type="number"
        min="1"
        max="12"
        name="fromDateMonth"
        (ngModelChange)="onChangeFromDate()"
      />
    </mat-form-field>
    <div class="seperator"></div>
    <mat-form-field class="middle">
      <mat-label>Jahr</mat-label>
      <input matInput [(ngModel)]="fromDateYear" type="number" name="fromDateYear" (ngModelChange)="onChangeFromDate()" />
    </mat-form-field>
    <div class="validator">
      <i class="fas fa-check positive" *ngIf="isValidFromDate"></i>
    </div>
  </div>

  <mat-checkbox (change)="onChangeIsActiveClub()" [checked]="isActiveClub">Aktueller Club</mat-checkbox>

  <ng-container *ngIf="!isActiveClub">
    <mat-label>Im Club bis</mat-label>
    <div class="date">
      <mat-form-field class="small">
        <mat-label>Tag</mat-label>
        <input matInput [(ngModel)]="toDateDay" type="number" min="1" max="31" name="toDateDay" (ngModelChange)="onChangeToDate()" />
      </mat-form-field>
      <div class="seperator"></div>
      <mat-form-field class="small">
        <mat-label>Monat</mat-label>
        <input matInput [(ngModel)]="toDateMonth" type="number" min="1" max="12" name="toDateMonth" (ngModelChange)="onChangeToDate()" />
      </mat-form-field>
      <div class="seperator"></div>
      <mat-form-field class="middle">
        <mat-label>Jahr</mat-label>
        <input matInput [(ngModel)]="toDateYear" type="number" name="toDateYear" (ngModelChange)="onChangeToDate()" />
      </mat-form-field>
      <div class="validator">
        <i class="fas fa-check positive" *ngIf="isValidToDate"></i>
      </div>
    </div>
  </ng-container>

  <mat-checkbox (change)="playerInClub.isLoan = !playerInClub.isLoan" [checked]="playerInClub.isLoan">Leihe</mat-checkbox>

  <div id="finish">
    <div class="button delete" (click)="onDelete()"><i class="fas fa-trash-alt"></i></div>
    <div class="button cancel" (click)="onCancel()">Abbrechen</div>
    <div
      class="button save"
      (click)="onSave()"
      [class.disabled]="!playerInClub.clubId || !playerInClub.fromDate || (!isActiveClub && !playerInClub.toDate)"
    >
      Speichern
    </div>
  </div>
</form>
