<div class="player rounded shadow">
  <img
    class="photo"
    src="{{ 'http://img.die-bestesten.de/img/player/' + team.seasonId + '/' + player.player_id + '.png' }}"
    *ngIf="player.has_photo == '1'"
  />
  <img class="photo" src="./../.././../assets/img/icon/64/player.png" *ngIf="player.has_photo == '0'" />

  <a [routerLink]="['/spieler/details', player.displayname]" class="name">
    {{ player.displayname }}
    <span *ngIf="player.points">{{ player.points }}</span>
  </a>
  <div class="position {{ player.position }}"></div>
  <div class="hover" [class.add]="isAddable" [class.blocked]="!isAddable" *ngIf="isInteractable" (click)="onAddPlayer(player.player_id)">
    <ng-container *ngIf="isAddable">
      <i class="fas fa-plus"></i>
      <span>Hinzufügen</span>
    </ng-container>
    <ng-container *ngIf="!isAddable">
      <i class="fas fa-ban"></i>
      <span>Position voll</span>
    </ng-container>
  </div>
</div>
