@import 'src/style/colors.scss';

.player {
  width: 100px;
  min-height: 90px;
  margin: 5px;
  background-color: $white;
  height: auto;
  float: left;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 0 0;
  position: relative;
  .photo {
    width: 80px;
    height: 80px;
    z-index: 1;
    border-radius: 50%;
    object-fit: cover;
  }
  .name {
    width: 100%;
    line-height: 32px;
    color: $dark;
    text-align: center;
    border-radius: 4px;
    font-weight: 600;
    &:hover {
      color: $red;
    }
  }
  .position {
    height: 6px;
    width: 100%;
    &.GOALKEEPER {
      background-color: $green;
    }
    &.DEFENDER {
      background-color: $yellow;
    }
    &.MIDFIELDER {
      background-color: $blue;
    }
    &.FORWARD {
      background-color: $red;
    }
  }

  .hover {
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    opacity: 0.5;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $white;
    font-size: 14px;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    z-index: 2;
    &.add {
      background-color: $green;
      cursor: pointer;
    }
    &.blocked {
      background-color: $red;
    }
    &:hover {
      opacity: 1;
    }
  }
}
