<div id="container" class="flex h">
  <db-header></db-header>
  <db-menu></db-menu>
  <div id="view" [class.menu-visible]="auth_service.isLoggedIn()">
    <db-ribbon></db-ribbon>
    <div id="content" [class.fullscreen]="fullscreen">
      <router-outlet></router-outlet>
    </div>
  </div>
  <db-popup></db-popup>
</div>

<db-notification></db-notification>
