#container {
  width: 100%;
  min-height: 100vh;
  #view {
    background-color: var(--background-color);
    flex-grow: 1;
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    overflow-y: scroll;
    &.menu-visible {
      margin-left: 292px;
    }
    #content {
      width: 1280px;
      max-width: calc(100% - 300px);
      padding-top: 32px;
      &::after {
        content: '';
        display: table;
        clear: both;
        height: 64px;
        width: 100%;
      }
      &.fullscreen {
        width: 100%;
        max-width: unset;
        padding: unset;
        display: flex;
        height: 100%;
      }
    }
  }
}

@media only screen and (max-width: 639px) {
  #container {
    #view {
      &.menu-visible {
        margin-left: 0;
      }
      #content {
        padding-top: 64px !important;
        width: calc(100vw - 2 * 16px) !important;
        max-width: calc(100vw - 2 * 16px) !important;
        &.fullscreen {
          padding-top: 49px !important;
          width: 100vw !important;
          max-width: 100vw !important;
        }
      }
    }
  }
}
