@import './../../../../colors.scss';

.container {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 100%);
  text-align: center;
  display: flex;
  flex-direction: column;
  .icon {
    font-size: 6em;
    color: $mediumgray;
    margin: 32px;
  }
  .title {
    font-size: 32px;
    letter-spacing: 2px;
  }
}
