<div id="ribbon" *ngIf="auth_service.isLoggedIn()">
  <input #search placeholder="Suche" [ngModel]="search_input" (ngModelChange)="onSearch($event)" (click)="onSelectSearch(search)" />
  <div class="spacer"></div>
  <!--<div class="budget">{{ api_service.status.team.budget / 1000000 | number : '1.3' }} Mio.</div>
  <div class="phase" *ngIf="phase" class="{{ phase }}" [style.background]="getGradient()" [matTooltip]="getTooltip()">
    <div class="inner"></div>
    <img src="./../../../../assets/img/phase/{{ phase }}.png" />
  </div>-->
  <a [routerLink]="['manager', api_service.status.manager.manager_name]"
    ><img class="photo" src="{{ 'http://img.die-bestesten.de/img/manager/' + api_service.status.manager.manager_id + '.jpg' }}"
  /></a>
</div>

<div id="search-result" *ngIf="search_result_visible">
  <div class="search-result-group" *ngIf="search_result.manager.length > 0">
    <div class="title">Manager</div>
    <a class="item" [routerLink]="['manager', manager.manager_name]" *ngFor="let manager of search_result.manager">
      <img class="photo" src="{{ 'http://img.die-bestesten.de/img/manager/' + manager.manager_id + '.jpg' }}" />
      {{ manager.manager_name }}
    </a>
  </div>

  <div class="search-result-group" *ngIf="search_result.player.length > 0">
    <div class="title">Spieler</div>
    <a class="item" [routerLink]="['spieler', 'details', player.displayname]" *ngFor="let player of search_result.player">
      <img
        class="photo"
        src="{{ 'http://img.die-bestesten.de/img/player/' + api_service.status.season.season_id + '/' + player.player_id + '.png' }}"
      />
      {{ player.displayname }}
    </a>
  </div>

  <div class="search-result-group" *ngIf="isEmptySearchResult()">Keine Ergebnisse</div>
</div>
<div id="search-background" *ngIf="search_result_visible" (click)="hideSearchResults()"></div>
