#ribbon {
  background-color: var(--focus-color);
  height: 64px;
  width: calc(100vw - 292px - 2 * 24px);
  border-bottom: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  padding: 0 24px;
  gap: 16px;
  input {
    border: 1px solid var(--border-color);
    height: 36px;
    line-height: 38px;
    padding: 0 16px;
    border-radius: 18px;
    font-size: 14px;
    width: 320px;
    background-color: var(--background-color);
  }
  .phase {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    outline: 1px solid var(--border-color);
    transform: translateY(1px);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    .inner {
      height: 34px;
      width: 34px;
      border-radius: 50%;
      background-color: white;
    }
    img {
      height: 50%;
      width: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  a {
    height: 40px;
    .photo {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      outline: 1px solid var(--border-color);
      transform: translateY(1px);
    }
  }
}

#search-result {
  width: 320px;
  position: absolute;
  top: 64px;
  left: 316px;
  padding: 16px;
  background-color: var(--focus-color);
  border: 1px solid var(--border-color);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  z-index: 4;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 20px;
  animation: fade-in 200ms 1 ease;
  .search-result-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
    .title {
      font-weight: 600;
      font-size: 18px;
      margin-bottom: 8px;
    }
    a {
      color: var(--text-color-high);
    }
    .item {
      height: 36px;
      width: 100%;
      display: flex;
      align-items: center;
      gap: 8px;
      transition: 0.15s all ease-in-out;
      cursor: pointer;
      border-radius: 5px;
      font-weight: 500;
      font-size: 16px;
      &:hover {
        background-color: var(--hover-background-color);
      }
      .photo {
        height: 36px;
        width: 36px;
        border-radius: 50%;
      }
    }
  }
}

#search-background {
  height: 100vh;
  top: 0;
  width: 100vw;
  left: 0;
  z-index: 3;
  cursor: pointer;
  position: fixed;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 639px) {
  #ribbon {
    display: none;
  }
}
