<div id="container" class="flex v" *ngIf="!loading">
  <div class="counter">{{ index + 1 }} / {{ groupedOfferList.length }}</div>
  <div id="content" class="flex h">
    <div class="arrow left" (click)="onUpdateIndex(-1)" [class.inactive]="index == 0"><i class="fa-solid fa-chevron-left"></i></div>
    <div id="auction" class="flex v">
      <div class="player flex v blur-in">
        <img
          class="photo"
          src="{{
            'http://img.die-bestesten.de/img/player/' +
              groupedOfferList[index].player.season_list[0].season_id +
              '/' +
              groupedOfferList[index].player.player_id +
              '.png'
          }}"
        />
        <div class="name flex h">
          <span class="firstname">{{ groupedOfferList[index].player.firstname }}</span>
          <span class="lastname">{{ groupedOfferList[index].player.lastname }}</span>
        </div>
      </div>
      <div class="pricing">
        <div class="box market-price">
          <span class="info">Marktwerkt</span>
          <span
            >{{ groupedOfferList[index].player.season_list[0].price / 1000000 | number : '1.2' }}M <i class="fa-solid fa-peseta-sign"></i
          ></span>
        </div>
        <div class="box offer-price fade-in in2s">
          <span class="info">Kaufgebot</span>
          <span
            >{{ groupedOfferList[index].offer_list[0].offer_value / 1000000 | number : '1.2' }}M <i class="fa-solid fa-peseta-sign"></i
          ></span>
          <span
            class="relative"
            [class.overpriced]="groupedOfferList[index].offer_list[0].offer_value > groupedOfferList[index].player.season_list[0].price"
          >
            {{
              (groupedOfferList[index].offer_list[0].offer_value / groupedOfferList[index].player.season_list[0].price) * 100
                | number : '1.2'
            }}
            %
          </span>
        </div>
      </div>
      <div class="offers">
        <div class="winner fade-in in3s">
          <img
            class="logo"
            src="{{ 'http://img.die-bestesten.de/img/team/' + seasonId + '/' + groupedOfferList[index].offer_list[0].team_id + '.png' }}"
          />
          {{ groupedOfferList[index].offer_list[0].team_name }}
        </div>
        <div class="loser fade-in in1s">
          <ng-container *ngIf="groupedOfferList[index].offer_list.length > 1">
            <ng-container *ngFor="let offer of groupedOfferList[index].offer_list; let i = index">
              <div class="offer" *ngIf="i != 0">
                <img class="logo" src="{{ 'http://img.die-bestesten.de/img/team/' + seasonId + '/' + offer.team_id + '.png' }}" />
                {{ offer.team_name }}
              </div>
            </ng-container>
          </ng-container>
          <div class="empty" *ngIf="groupedOfferList[index].offer_list.length == 1">Keine weiteren Gebote</div>
        </div>
      </div>
    </div>
    <div class="arrow right" (click)="onUpdateIndex(1)" [class.inactive]="index == groupedOfferList.length - 1">
      <i class="fa-solid fa-chevron-right"></i>
    </div>
  </div>
</div>
