@import 'src/style/colors.scss';

#container {
  height: 100%;
  .counter {
    width: 100%;
    height: 64px;
    line-height: 64px;
    text-align: center;
  }
  #content {
    height: 480px;
    .arrow {
      width: 64px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      font-size: 1.4rem;
      transition: 0.1s;
      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }
      &.inactive {
        pointer-events: none;
        cursor: default;
        opacity: 0.5;
      }
    }
    #auction {
      position: relative;
      .pricing {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 2rem;
        width: 100%;
        .box {
          display: flex;
          flex-direction: column;
          position: absolute;
          top: 0;
          display: flex;
          padding-top: 60px;
          align-items: center;
          background-color: transparent;
          gap: 4px;
          .info {
            font-size: 0.75rem;
          }
          &.market-price {
            top: 0;
            left: 0;
          }
          &.offer-price {
            top: 0;
            right: 0;
            .relative {
              font-size: 0.8rem;
              &.overpriced {
                color: $red;
              }
            }
          }
        }
      }
      .player {
        align-items: center;
        gap: 16px;
        .photo {
          height: 192px;
          width: 192px;
          border-radius: 50%;
        }
        .name {
          gap: 8px;
          height: 32px;
          align-items: baseline;
          justify-content: center;
          .firstname {
            font-size: 0.8rem;
            opacity: 0.8;
          }
          .lastname {
            font-size: 1.2rem;
          }
        }
      }
      .offers {
        margin-top: 32px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        .winner {
          height: 92px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1.3rem;
          gap: 16px;
          .logo {
            height: 64px;
            width: 64px;
            object-fit: contain;
          }
        }
        .loser {
          height: 48px;
          display: flex;
          justify-content: center;
          flex-direction: column;
          gap: 16px;
          .offer {
            height: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 4px;
            .logo {
              height: 32px;
              width: 32px;
              object-fit: contain;
            }
          }
          .logo {
            height: 48px;
            width: 48px;
          }
          .empty {
            width: 100%;
            text-align: center;
          }
        }
      }
    }
  }
}

.blur-in {
  filter: blur(8px);
  animation: blur-in 500ms linear 1s 1 normal forwards;
}

.fade-in {
  opacity: 0;
  filter: blur(8px);
  &.in1s {
    animation: fade-in 500ms linear 1s 1 normal forwards;
  }
  &.in2s {
    animation: fade-in 500ms linear 3s 1 normal forwards;
  }
  &.in3s {
    animation: fade-in 500ms linear 5s 1 normal forwards;
  }
  &.in4s {
    animation: fade-in 500ms linear 7s 1 normal forwards;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    filter: blur(0px);
  }
}

@keyframes blur-in {
  from {
    filter: blur(8px);
  }
  to {
    filter: blur(0px);
  }
}

@media only screen and (max-width: 639px) {
  #content {
    position: relative;
    .arrow {
      position: absolute !important;
      &.left {
        top: -44px;
        left: 44px;
      }
      &.right {
        top: -44px;
        right: 44px;
      }
    }
  }

  .pricing {
    font-size: 1.25rem !important;
    .box {
      padding-top: 25px !important;
    }
  }
}
