@import './../../../../colors.scss';

#login {
  width: 240px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  mat-form-field {
    width: 100%;
  }
  input {
    text-align: center;
  }
  .button {
    margin-top: 12px;
  }
}
