<div id="login">
  <form id="container">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="name" name="lastname" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Passwort</mat-label>
      <input matInput [(ngModel)]="password" name="lastname" type="password" />
    </mat-form-field>

    <button type="submit" class="button" (click)="onLogin()">Anmelden</button>
  </form>
</div>
