@import 'src/style/colors.scss';

.container {
  text-align: center;
  margin: 0 12px;
  min-width: 256px;
  position: relative;
  .fa-fingerprint {
    color: $shadow;
    font-size: 32px;
  }
  .header {
    margin-top: -4px;
    margin-bottom: 12px;
    font-size: 12px;
    font-weight: 600;
  }
  input {
    margin-top: 4px;
  }
  p {
    margin: 12px 0;
    &.small {
      font-size: 12px;
    }
  }
  .buttons {
    display: flex;
    flex-direction: row-reverse;
    .cancel {
      background-color: $white;
      color: $label;
      border: none;
      &:hover {
        color: $dark;
      }
    }
    .spacer {
      width: 16px;
    }
  }

  .badge {
    width: 220px;
    max-width: 100%;
  }
}

input {
  text-align: center;
  width: 100%;
  height: 40px;
  line-height: 40px;
  margin-bottom: 8px;
  border: 1px solid $shadow;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
  &:focus {
    border-color: $red;
  }
}

button {
  width: 100%;
  height: 42px;
  font-size: 16px;
  line-height: 42px;
  margin-top: 8px;
  border-radius: 4px;
  background-color: $red;
  color: $white;
  border: none;
  cursor: pointer;
  border-bottom: 2px solid $shadow;
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: darken($red, 10%);
  }
}

$circle: 151px;
$check: 36px;
@keyframes scaleAnimation {
  0% {
    opacity: 0;
    transform: scale(1.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes drawCircle {
  0% {
    stroke-dashoffset: $circle;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes drawCheck {
  0% {
    stroke-dashoffset: $check;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#successAnimationCircle {
  stroke-dasharray: $circle $circle;
  stroke: $green;
}

#successAnimationCheck {
  stroke-dasharray: $check $check;
  stroke: $green;
}

#successAnimationResult {
  fill: $green;
  opacity: 0;
}

#successAnimation.animated {
  margin: 32px;
  animation: 1s ease-out 0s 1 both scaleAnimation;

  #successAnimationCircle {
    animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCircle, 0.3s linear 0.9s 1 both fadeOut;
  }

  #successAnimationCheck {
    animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCheck, 0.3s linear 0.9s 1 both fadeOut;
  }

  #successAnimationResult {
    animation: 0.3s linear 0.9s both fadeIn;
  }
}
