<div id="content">
  <div id="control">
    <div id="year">
      <span class="desktop">{{ getSeasonLong() }}</span>
      <span class="mobile">{{ getSeasonShort() }}</span>
    </div>
    <div id="select" (click)="toggleSelect()">
      <i class="fa-solid fa-chevron-down"></i>
      <span *ngIf="matchday">{{ matchday }}. Spieltag</span>
      <span *ngIf="!matchday">1. Spieltag</span>
    </div>
    <div id="background" [class.visible]="is_selecting" (click)="toggleSelect()"></div>
    <div id="options" [class.visible]="is_selecting">
      <ng-container *ngFor="let i of matchdays">
        <div class="option" [class.selected]="i.toString() === matchday" (click)="selectMatchday(i)">{{ i }}. Spieltag</div>
      </ng-container>
    </div>
    <div class="spacer"></div>
    <div id="toggle" (click)="toggleModus()">
      <div id="thumb" [class.left]="modus === 'kicker'" [class.right]="modus === 'ligainsider'"></div>
    </div>
    <a
      id="info"
      class="circle"
      href="https://www.kicker.de/spielregeln-managerspiel-interactive-782799/artikel/interactive-spielregeln"
      target="_blank"
      *ngIf="modus === 'kicker'"
    >
      <i class="fa-solid fa-info"></i>
      <div id="kicker"></div>
    </a>
    <a
      id="info"
      class="circle"
      href="https://www.ligainsider.de/deutschlands-fairste-fussballnote/"
      target="_blank"
      *ngIf="modus === 'ligainsider'"
    >
      <i class="fa-solid fa-info"></i>
      <div id="ligainsider"></div>
    </a>
    <div class="circle desktop" (click)="onRefresh()">
      <i class="fa-solid fa-arrows-rotate"></i>
    </div>
  </div>

  <ng-container *ngIf="!is_loading">
    <div class="club" *ngFor="let club of club_list">
      <div class="header">
        <div class="name">{{ club.name }}</div>
        <div class="spacer"></div>
        <div class="points" matTooltip="Gesamtpunkte">{{ sumPoints(club) }}</div>
      </div>

      <img class="logo" src="http://img.die-bestesten.de/img/club/{{ club.club_id }}.png" />

      <table class="players" *ngIf="club.players.length > 0">
        <tr>
          <th>Pos.</th>
          <th></th>
          <th class="left">Spieler</th>
          <th class="desktop">Tore</th>
          <th class="desktop">Assists</th>
          <th class="right">Punkte</th>
        </tr>
        <tr *ngFor="let player of club.players">
          <td class="center">
            <span class="position {{ player.position }}" [matTooltip]="getPositionLong(player.position)">{{
              getPositionShort(player.position)
            }}</span>
          </td>
          <td class="center">
            <span class="starter" *ngIf="player.start_lineup === 1" [matTooltip]="'Startelf'">11</span>
          </td>
          <td class="left name" [class.substitution]="player.substitution === 1">
            {{ player.displayname }}
            <i class="icon fa-solid fa-star" *ngIf="player.sds === 1" [matTooltip]="'Spieler des Spiels'"></i>
            <i class="icon fa-solid fa-hand-sparkles" *ngIf="player.clean_sheet === 1" [matTooltip]="'Weiße Weste'"></i>
            <div class="mobile">
              <i class="icon fa-regular fa-futbol" *ngFor="let i of createArray(+player.goals)"></i>
              <i class="icon fa-solid fa-parachute-box" *ngFor="let i of createArray(+player.assists)"></i>
            </div>
          </td>
          <td class="center desktop">
            <i class="icon fa-regular fa-futbol" *ngFor="let i of createArray(+player.goals)"></i>
          </td>
          <td class="center desktop">
            <i class="icon fa-solid fa-parachute-box" *ngFor="let i of createArray(+player.assists)"></i>
          </td>
          <td class="right points" [class.negative]="+player.points < 0">
            {{ calcPoints(player, modus) }}
            <ng-container *ngIf="player.start_lineup === 1">
              <i
                class="status-icon pending fa-regular fa-hourglass-half"
                *ngIf="player.status === 'pending'"
                [matTooltip]="'Note ausstehend'"
              ></i>
              <i class="status-icon complete fa-solid fa-check" *ngIf="player.status === 'complete'" [matTooltip]="'Note eingetragen'"></i>
            </ng-container>
          </td>
        </tr>
      </table>
      <div class="empty" *ngIf="club.players.length === 0">Für {{ club.name }} wurden noch keine Spieltagswerte eingetragen</div>
    </div>
  </ng-container>
</div>

<db-loading class="loading" *ngIf="is_loading" style="height: 360px; width: 100%; float: left"></db-loading>
