@font-face {
  font-family: 'Euclid Circular A';
  src: url('./../../../assets/font/euklid/euclid_regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Euclid Circular A';
  src: url('./../../../assets/font/euklid/euclid_medium.ttf');
  font-weight: 500;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  padding-bottom: 48px;
  &.fixed {
    max-height: 100%;
    overflow-x: hidden;
    position: fixed;
  }

  #control {
    display: flex;
    justify-content: space-between;
    width: 688px;
    position: relative;
    gap: 12px;

    #year {
      height: 39px;
      line-height: 39px;
      background-color: #fff;
      padding: 0 16px;
      border-radius: 20px;
      font-weight: 500;
    }
    .circle {
      height: 37px;
      width: 37px;
      display: flex !important;
      align-items: center;
      justify-content: center;
      background-color: #fff;
      border-radius: 50%;
      border: 1px solid transparent;
      transition: 0.2s ease-in-out;
      position: relative;
      cursor: pointer;
      overflow: hidden;
      &:hover {
        border-color: rgba(0, 0, 0, 0.15);
        #kicker,
        #ligainsider {
          top: 0;
          left: 0;
        }
      }
      #kicker {
        height: 37px;
        width: 37px;
        background-image: url('./../../../assets/img/kicker.png');
        background-size: contain;
        position: absolute;
        top: 100%;
        left: 100%;
        transition: 0.2s ease-in-out;
        border-radius: 50%;
      }
      #ligainsider {
        height: 37px;
        width: 37px;
        background-image: url('./../../../assets/img/ligainsider.jpg');
        background-size: contain;
        position: absolute;
        top: 100%;
        left: 100%;
        transition: 0.2s ease-in-out;
        border-radius: 50%;
      }
    }

    #select {
      position: absolute;
      left: 50%;
      transform: translate(-50%);
    }
  }

  .club {
    background-color: #fff;
    border-radius: 25px;
    padding: 12px 24px;
    width: 640px;
    position: relative;
    .header {
      display: flex;
      align-items: baseline;
      font-family: 'Euclid Circular A';
      font-weight: 500;
      margin-bottom: 24px;
      .name {
        font-size: 1.4rem;
      }
      .spacer {
        flex-grow: 1;
      }
      .points {
        font-size: 2rem;
      }
    }

    .logo {
      position: absolute;
      height: 64px;
      width: 64px;
      top: -20px;
      left: 50%;
      transform: translate(-50%);
    }
    .empty {
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-style: italic;
    }
  }
}

table {
  display: grid;
  border-collapse: collapse;
  min-width: 100%;
  background: var(--box-color);
  grid-template-columns: 40px 48px minmax(240px, 1fr) minmax(64px, 1fr) minmax(64px, 1fr) minmax(100px, 1fr);
  thead,
  tbody,
  tr {
    display: contents;
    .left {
      text-align: left;
    }
    .center {
      text-align: center;
    }
    .right {
      text-align: right;
      padding-right: 24px;

      &.points {
        font-weight: 500;
        &.negative {
          color: #ff3f34;
        }
      }
    }
    th,
    td {
      height: 32px;
      line-height: 32px;
    }
    th {
      font-weight: 600;
    }
  }

  tr:nth-child(even) td {
    background: var(--background-color);
  }

  .icon {
    line-height: 32px;
  }

  .position {
    font-size: 0.8em;
    font-weight: 600;
    letter-spacing: -1px;
    color: white;
    padding: 2px 6px;
    border-radius: 5px;
    width: 100%;
    &.GOALKEEPER {
      background-color: #05c46b;
    }
    &.DEFENDER {
      background-color: #f5ce32;
    }
    &.MIDFIELDER {
      background-color: #1e90ff;
    }
    &.FORWARD {
      background-color: #ff3f34;
    }
  }
  .starter {
    font-size: 0.8em;
    font-weight: 800;
    letter-spacing: -1px;
  }
  .name {
    font-weight: 500;
  }
  .fa-star {
    color: #ffd32a;
  }
  .fa-hand-sparkles {
    color: #05c46b;
    color: #fff;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }

  td {
    position: relative;
    .status-icon {
      position: absolute;
      right: 4px;
      top: 9px;
      font-size: 14px;
      &.pending {
        opacity: 0.25;
      }
      &.complete {
        color: #05c46b;
      }
    }
  }
}

#select {
  width: 200px;
  font-weight: 500;
  background-color: white;
  border-radius: 25px;
  border: 1px solid transparent;
  padding: 8px 0;
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 12px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  &:hover {
    border-color: rgba(0, 0, 0, 0.15);
  }
}
#options {
  top: 110px;
  left: calc(50% - 10px);
  transform: translateX(-50%);
  background-color: white;
  border-radius: 25px;
  cursor: pointer;
  display: none;
  height: 640px;
  max-height: 50vh;
  width: 240px;
  z-index: 100;
  overflow-y: scroll;
  position: fixed;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  animation: open-modal 160ms ease-in-out 0s 1 forwards;
  &.visible {
    display: block;
  }
  .option {
    padding: 4px 0;
    text-align: center;
    &.selected {
      color: var(--primary);
      font-weight: 500;
    }
    &:hover {
      background-color: var(--background-color);
    }
  }
}

#background {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  z-index: 99;
  transition: 160ms ease-in-out;
  &.visible {
    opacity: 1;
    pointer-events: all;
  }
}

#toggle {
  width: 64px;
  font-weight: 500;
  background-color: white;
  border-radius: 25px;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  &:hover {
    border-color: rgba(0, 0, 0, 0.15);
  }
  #thumb {
    height: 32px;
    width: 32px;
    background-color: white;
    border-color: rgba(0, 0, 0, 0.15);
    border-radius: 50%;
    z-index: 2;
    transition: 150ms ease-in-out;

    &.left {
      transform: translateX(4px);
      background-color: #ca0000;
      background-image: url('./../../../assets/img/kicker.png');
      background-size: contain;
    }
    &.right {
      transform: translateX(28px);
      background-color: #016d5e;
      background-image: url('./../../../assets/img/ligainsider.jpg');
      background-size: contain;
    }
  }
}

@keyframes open-modal {
  0% {
    transform: scale(0.8) translateX(-50%);
    opacity: 0;
  }
  100% {
    transform: scale(1) translateX(-50%);
    opacity: 1;
  }
}

.mobile {
  display: none !important;
}
.desktop {
  display: block !important;
}

@media (max-width: 480px) {
  #content {
    #control {
      width: 100%;
      gap: 4px;
      position: relative;
      #year {
        width: 39px;
      }
      #select {
        width: auto !important;
        padding: 8px 16px !important;
        position: absolute;
        left: 145px;
        top: 0;
      }
    }

    .club {
      padding: 16px 0 !important;
      max-width: 90vw !important;
      .header {
        padding: 0 16px !important;
        margin-bottom: 16px !important;
        .name {
          font-size: 1.2rem !important;
        }
        .points {
          font-size: 1.4rem !important;
        }
      }
      .logo {
        height: 32px !important;
        width: 32px !important;
        top: -16px !important;
      }
    }
    .empty {
      max-width: 60%;
      font-size: 0.8em;
      margin: 0 20%;
    }
  }

  table {
    grid-template-columns: 40px 40px minmax(120px, 1fr) 64px;
    thead,
    tbody,
    tr {
      .right {
        padding-right: 24px !important;
      }
      th,
      td {
        height: 32px !important;
        line-height: 32px !important;
        .icon {
          font-size: 0.9rem;
        }
      }
    }
  }

  .substitution {
    opacity: 0.63;
  }

  .mobile {
    display: block !important;
    float: right;
  }
  .desktop {
    display: none !important;
  }
}
