@import 'src/style/colors.scss';

.container {
  display: flex;
  flex-direction: column;
  .honours {
    display: flex;
    flex-direction: row-reverse;
    padding: 0 24px;
    min-height: 16px;
    .icon {
      height: 72px;
      width: 72px;
    }
  }

  .header-container {
    position: relative;
    .badge {
      object-fit: contain;
      width: 124px;
      height: 124px;
      position: absolute;
      top: 0px;
      left: 0px;
    }
    .header {
      background-color: $white;
      height: auto;
      display: flex;
      flex-wrap: wrap;
      height: 84px;
      padding: 0 16px 0 132px;
      margin: 20px 0;
      .info {
        flex-grow: 1;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        .teamName {
          font-size: 1.6rem;
          font-weight: 600;
          white-space: nowrap;
        }
        .managerName {
        }
        .position {
          font-size: 1.9rem;
        }
        .points {
          font-weight: 600;
        }
        &.right {
          text-align: right;
        }
      }
    }
  }

  .navigation {
    display: flex;
    width: 100%;
    margin: 16px 0 24px;
    font-weight: 600;
    .item {
      flex-grow: 1;
      text-align: center;
      margin: 0 5px 0;
      height: 36px;
      line-height: 38px;
      transition: all 0.2s ease-in-out;
      cursor: pointer;
      color: $dark;
      border-bottom: 4px solid transparent;
      &.active {
        background-color: $white;
        border-bottom: 4px solid $red;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
      }
      &:hover {
        background-color: $white;
      }
    }
    :first-child {
      margin-left: 0px;
    }
    :last-child {
      margin-right: 0px;
    }
  }
}

@media only screen and (max-width: 639px) {
  .header-container {
    position: relative;
    .badge {
      width: 72px !important;
      height: 72px !important;
    }
    .header {
      height: 64px !important;
      padding-left: 72px !important;
      margin-top: 4px !important;
      .info {
        .teamName {
          font-size: 1.2rem !important;
        }
      }
    }
  }
}
