<div class="container" *ngIf="team">
  <div class="honours">
    <div class="honour" *ngFor="let honour of team.honourList">
      <img class="icon" src="./../../../../../assets/img/icon/128/{{ honour.icon }}.png" matTooltip="{{ honour.honourName }}" />
    </div>
  </div>
  <div class="header-container">
    <img class="badge" src="{{ 'http://img.die-bestesten.de/img/team/' + team.seasonId + '/' + team.teamId + '.png' }}" />
    <div class="header shadow rounded" *ngIf="team">
      <div class="info">
        <div class="teamName">{{ team.teamName }}</div>
        <div class="managerName" *ngIf="manager">
          von <a [routerLink]="['/manager', manager.managerName]">{{ manager.managerName }}</a>
        </div>
      </div>
      <div class="info right">
        <div class="position">#{{ team.position }}</div>
        <div class="points">{{ team.points | number : '1.0' }} Pkt.</div>
      </div>
    </div>
  </div>

  <div class="navigation">
    <a [routerLink]="'kader'" class="item rounded" [routerLinkActive]="['active', 'shadow']" [routerLinkActiveOptions]="{ exact: true }"
      >Kader</a
    >
    <a
      [routerLink]="['aufstellung', apiService.status.matchday.number]"
      class="item rounded"
      [routerLinkActive]="['active', 'shadow']"
      [routerLinkActiveOptions]="{ exact: true }"
      >Aufstellungen</a
    >
  </div>

  <router-outlet></router-outlet>
</div>
