<div class="container">
  <div class="column side" *ngIf="apiService.status">
    <div>
      <h3>Termine</h3>
      <div class="event rounded shadow" *ngFor="let event of events">
        <div class="date">
          <div class="day">
            {{ event.date | date : 'dd' }}
            <div class="day_of_week">{{ event.date | date : 'EE' }}</div>
          </div>
          <div class="month">{{ event.date | date : 'MMM' }}</div>
        </div>
        <div class="title">
          {{ event.title }}
        </div>
      </div>
    </div>
    <!--<div>
      <h3>Powerranking</h3>
      <div class="news rounded shadow">
        <div class="date">10.08.2023</div>
        Bis zum Anpfiff des 1. Spieltages hast du die Möglichkeit dein ganz persönliches Powerranking zusammenzuklicken.
        <a [routerLink]="'/powerranking'"><button>Los gehts</button></a>
        <img src="./../../../../../assets/img/powerranking.gif" class="gif" />
      </div>
    </div>
    <div>
      <h3>News</h3>
      <div class="news rounded shadow">
        <div class="date">25.07.2023</div>
        <div class="content">
          Dieses Jahr gibts eine Auslosung. Die Auslosung findet am 27.07.2023 um 20:00 Uhr statt. Die Auslosung wird live auf
          <s>Onlyfans</s> Skype übertragen.
          <img src="./../../../../../assets/img/lottery.gif" class="gif" />
        </div>
      </div>
    </div>-->
  </div>

  <div class="column main">
    <h3>Ewige Tabelle</h3>
    <div class="table">
      <div class="table-header">
        <div class="item sortable" (click)="sortBy('manager_name')" [class.active]="orderBy === 'manager_name'">
          <i class="icon fa-solid fa-sort" *ngIf="orderBy !== 'manager_name'"></i>
          <i class="icon fa-solid fa-sort-up" *ngIf="orderBy === 'manager_name' && orderDirection === 'ASC'"></i>
          <i class="icon fa-solid fa-sort-down" *ngIf="orderBy === 'manager_name' && orderDirection === 'DESC'"></i>
          Team
        </div>
        <div class="spacer"></div>
        <div class="item sortable right desktop" (click)="sortBy('seasons')" [class.active]="orderBy === 'seasons'">
          <i class="icon fa-solid fa-sort" *ngIf="orderBy !== 'seasons'"></i>
          <i class="icon fa-solid fa-sort-up" *ngIf="orderBy === 'seasons' && orderDirection === 'ASC'"></i>
          <i class="icon fa-solid fa-sort-down" *ngIf="orderBy === 'seasons' && orderDirection === 'DESC'"></i>
          Saisons
        </div>
        <div class="item sortable right" (click)="sortBy('average')" [class.active]="orderBy === 'average'">
          <i class="icon fa-solid fa-sort" *ngIf="orderBy !== 'average'"></i>
          <i class="icon fa-solid fa-sort-up" *ngIf="orderBy === 'average' && orderDirection === 'ASC'"></i>
          <i class="icon fa-solid fa-sort-down" *ngIf="orderBy === 'average' && orderDirection === 'DESC'"></i>
          ⌀ Punkte/Spieltag
        </div>
        <div class="item sortable right" (click)="sortBy('points')" [class.active]="orderBy === 'points'">
          <i class="icon fa-solid fa-sort" *ngIf="orderBy !== 'points'"></i>
          <i class="icon fa-solid fa-sort-up" *ngIf="orderBy === 'points' && orderDirection === 'ASC'"></i>
          <i class="icon fa-solid fa-sort-down" *ngIf="orderBy === 'points' && orderDirection === 'DESC'"></i>
          Punkte
        </div>
      </div>
      <div class="table-body shadow rounded">
        <a class="table-row animated" *ngFor="let manager of managerList; let i = index" [routerLink]="['/manager', manager.managerName]">
          <div class="item left">
            <span class="index">{{ i + 1 }}.</span>
            <img
              class="circle photo"
              src="{{ 'http://img.die-bestesten.de/img/manager/' + manager.managerId + '.jpg' }}"
              *ngIf="manager.hasPhoto"
            />{{ manager.managerName }}
            <div class="trophies">
              <img
                class="tiny"
                src="./../../../../assets/img/icon/24/trophy.png"
                *ngFor="let item of createArray(getHonourByManagerCount(manager))"
              />
            </div>
          </div>
          <div class="spacer"></div>
          <div class="item right desktop">{{ manager.teamList.length }}</div>
          <div class="item right">{{ manager.getAveragePoints() | number : '1.2-2' }}</div>
          <div class="item points right">{{ manager.points | number : '1.0' }}</div>
        </a>
      </div>
    </div>
  </div>
</div>
