@import 'src/style/colors.scss';

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  gap: 32px;
  .column {
    &.main {
      flex-grow: 10;
      flex-shrink: 0;
      flex-basis: 240px;
    }
    &.side {
      flex-grow: 1;
      flex-basis: 240px;
      position: sticky;
      top: 0;
      margin-bottom: 24px;
    }
    @media only screen and (max-width: 639px) {
      &.side {
        position: inherit;
      }
    }
  }
}

.trophies {
  display: flex;
  gap: 0px;
  margin-left: 8px;
}

.news {
  background-color: $white;
  padding: 12px 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 24px;
  .date {
    font-weight: 600;
    font-size: 0.8rem;
    color: #777;
  }
  .content {
  }
}

.event {
  background-color: $white;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  padding: 8px;
  .date {
    width: 48px;
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
    &:hover .day .day_of_week {
      opacity: 1;
    }
    .day {
      font-size: 1rem;
      font-weight: 500;
      background-color: $red;
      color: $white;
      border-radius: 3px;
      padding: 3px 8px;
      position: relative;
      overflow: hidden;
      cursor: pointer;
      .day_of_week {
        font-size: 0.8rem;
        font-weight: 500;
        background-color: $red;
        color: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        transition: all 120ms ease-in-out;
        opacity: 0;
      }
    }
    .month {
      font-size: 0.8rem;
      font-weight: 500;
    }
  }
  .title {
    font-size: 1.2rem;
    font-weight: 500;
  }
}

.gif {
  width: 100%;
  margin-top: 12px;
  border-radius: 5px;
}

button {
  width: 100%;
  height: 42px;
  font-size: 16px;
  line-height: 42px;
  margin-top: 8px;
  border-radius: 4px;
  background-color: $red;
  color: $white;
  border: none;
  cursor: pointer;
  border-bottom: 2px solid $shadow;
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: darken($red, 10%);
  }
}

@media only screen and (max-width: 639px) {
  .mobile-reverse {
    flex-direction: column-reverse;
  }
}
