@import 'src/style/colors.scss';

.container {
  text-align: center;
  margin: 0 12px;
  min-width: 256px;
  position: relative;
  padding: 24px 0;
  .hint {
    border: 5px;
    background-color: #ffeaa7;
    padding: 5px;
    margin-bottom: 16px;
  }
  .header {
    margin-top: -4px;
    margin-bottom: 12px;
    font-size: 12px;
    font-weight: 600;
  }
  .info {
    display: flex;
    .allin {
      display: flex;
      height: 32px;
      align-items: center;
      color: $red;
      border: 2px solid $red;
      border-radius: 3px;
      padding: 0 12px;
      cursor: pointer;
      font-weight: 600;
      margin: 6px 24px 6px 8px;
      font-size: 12px;
      text-transform: uppercase;
      transition: all 0.2s ease-in-out;
      &:hover {
        background-color: $red;
        color: $white;
      }
    }
    .budget-container {
      flex-grow: 1;
      .budget {
        flex-grow: 1;
        display: flex;
        justify-content: space-between;
        height: 24px;
        line-height: 24px;
        .key {
          color: $label;
          font-size: 12px;
          font-weight: 600;
        }
        .value {
          font-variant-numeric: tabular-nums;
        }
        .unit {
          margin-left: 4px;
        }
      }
    }
  }

  input {
    margin-top: 4px;
  }
  p {
    margin: 12px 0;
    &.small {
      font-size: 12px;
    }
  }

  .offer {
    display: flex;
    width: 100%;
    margin-top: 12px;
    justify-content: center;
    .seperator {
      height: 102px;
      line-height: 102px;
      padding: 0 4px;
    }
    .currency {
      height: 102px;
      line-height: 102px;
      padding: 0 12px;
    }
    .bar {
      display: flex;
      flex-direction: column;
      .arrow {
        height: 24px;
        line-height: 24px;
        width: 100%;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        color: $label;
        &.disabled {
          opacity: 0;
        }
        &:hover {
          color: $blue;
        }
      }
      input {
        margin: 0;
        border-radius: 0px;
      }
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
  }
  .buttons {
    display: flex;
    flex-direction: row-reverse;
    margin: 0 24px;
    .space {
      width: 36px;
    }
    .cancel {
      background-color: $white;
      color: $label;
      border: none;
      &:hover {
        color: $dark;
      }
    }
    .spacer {
      width: 16px;
    }
    button {
      &.disabled {
        cursor: inherit;
        pointer-events: none;
        opacity: 0.8;
        filter: grayscale(1);
      }
    }
  }
}

input {
  text-align: center;
  width: 100%;
  height: 40px;
  line-height: 40px;
  margin-bottom: 8px;
  border: 1px solid $shadow;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
  &:focus {
    border-color: $red;
  }
}

button {
  width: 100%;
  height: 42px;
  font-size: 16px;
  line-height: 42px;
  margin-top: 8px;
  border-radius: 4px;
  background-color: $red;
  color: $white;
  border: none;
  cursor: pointer;
  border-bottom: 2px solid $shadow;
  transition: all 0.2s ease-in-out;
  &:hover:not(.disabled) {
    background-color: darken($red, 10%);
  }
}

form {
  display: initial;
}

@media only screen and (max-width: 639px) {
  .budget {
    font-size: 12px;
  }
}

$circle: 151px;
$check: 36px;
@keyframes scaleAnimation {
  0% {
    opacity: 0;
    transform: scale(1.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes drawCircle {
  0% {
    stroke-dashoffset: $circle;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes drawCheck {
  0% {
    stroke-dashoffset: $check;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#successAnimationCircle {
  stroke-dasharray: $circle $circle;
  stroke: $green;
}

#successAnimationCheck {
  stroke-dasharray: $check $check;
  stroke: $green;
}

#successAnimationResult {
  fill: $green;
  opacity: 0;
}

#successAnimation.animated {
  margin: 32px;
  animation: 1s ease-out 0s 1 both scaleAnimation;

  #successAnimationCircle {
    animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCircle, 0.3s linear 0.9s 1 both fadeOut;
  }

  #successAnimationCheck {
    animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCheck, 0.3s linear 0.9s 1 both fadeOut;
  }

  #successAnimationResult {
    animation: 0.3s linear 0.9s both fadeIn;
  }
}
