#container {
  height: 100%;
  width: calc(100vw - 292px);
  #list {
    width: 320px;
    background-color: var(--focus-color);
    border-right: 2px solid var(--border-color);
    .preview {
      padding: 24px;
      border-bottom: 1px solid var(--border-color);
      gap: 12px;
      width: unset;
      cursor: pointer;
      transition: 100ms ease-in-out;
      &:hover {
        background-color: var(--hover-background-color);
      }
      .status {
        display: flex;
        align-items: center;
        gap: 8px;
        .photo {
          height: 28px;
          width: 28px;
          border-radius: 50%;
        }
        .new {
          background-color: var(--primary);
          font-size: 12px;
          color: white;
          padding: 4px 6px;
          border-radius: 12px;
          font-weight: 500;
          text-transform: uppercase;
        }
        .date {
          color: var(--text-color-low);
        }
      }
      .title {
        &.unread {
          font-weight: 500;
        }
      }
    }
    #empty {
      color: var(--text-color-low);
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 64px 0;
      font-size: 13px;
    }
  }
  #viewer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--focus-color);
    #control {
      display: none;
    }
    #message {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      #header {
        height: 84px;
        display: flex;
        align-items: center;
        width: calc(100% - 2 * 24px);
        padding: 0 24px;
        gap: 12px;
        .photo {
          height: 36px;
          width: 36px;
          border-radius: 50%;
        }
        .sender {
          font-weight: 500;
        }
        .date {
          text-align: right;
        }
      }
      #text {
        width: 640px;
        max-width: calc(100% - 2 * 24px);
        padding: 12px 24px;
      }
    }
  }
}

@media only screen and (max-width: 639px) {
  #container {
    width: 100vw !important;
    #list {
      width: 100% !important;
    }
    #viewer {
      position: absolute;
      top: 49px;
      left: 0;
      width: 100vw;
      height: calc(100vh - 49px);
      #control {
        display: flex;
        height: 48px;
        align-items: center;
        border-bottom: 1px solid var(--border-color);

        button {
          height: 48px;
          padding: 0 24px;
        }
      }
    }
  }
}
