<div id="container" class="flex h">
  <div id="list">
    <div class="preview flex v" *ngFor="let notification of notification_list" (click)="onSelectNotification(notification)">
      <div class="status flex h">
        <img class="photo" src="{{ getSenderPhoto(notification) }}" />
        <div class="new" *ngIf="!notification.read_at">Neu</div>
        <div class="spacer"></div>
        <div class="date">{{ notification.notification_date | date : 'HH:mm' }} Uhr</div>
      </div>
      <div class="title" [class.unread]="!notification.read_at">{{ notification.title }}</div>
    </div>
    <div id="empty" *ngIf="notification_list.length === 0">Keine Benachrichtigungen vorhanden</div>
  </div>
  <div id="viewer" *ngIf="selected_notification">
    <div id="control">
      <button (click)="selected_notification = null"><i class="fa-solid fa-arrow-left"></i> Zurück</button>
    </div>
    <div id="message">
      <div id="header" class="flex h">
        <img class="photo" src="{{ getSenderPhoto(selected_notification) }}" />
        <span *ngIf="selected_notification.sender_id"> Absender: </span>
        <span *ngIf="!selected_notification.sender_id" class="sender"> Systemnachricht </span>
        <div class="spacer"></div>
        <span class="date flex v">
          <span>{{ selected_notification.notification_date | date : 'dd.MM.yyyy' }}</span>
          <span>{{ selected_notification.notification_date | date : 'HH:mm' }} Uhr</span>
        </span>
      </div>
      <div id="text">
        <h3>{{ selected_notification.title }}</h3>
        <div [innerHTML]="selected_notification.message"></div>
      </div>
    </div>
  </div>
</div>
