<div class="container" *ngIf="step === 1">
  <ng-container *ngIf="player">
    <div class="header">Gebot bearbeiten für: {{ player.displayname }}</div>

    <div class="info">
      <div class="allin" (click)="onAllIn()">Alles setzen</div>
      <div class="budget-container">
        <div class="budget">
          <div class="key">Verfügbares Budget:</div>
          <div class="spacer"></div>
          <div class="value">{{ budget - getOpenOfferValue() | number : '1.0' }}</div>
          <div class="unit"><i class="fa-solid fa-peseta-sign"></i></div>
        </div>
        <div class="budget">
          <div class="key">Marktwert:</div>
          <div class="spacer"></div>
          <div class="value">{{ price | number : '1.0' }}</div>
          <div class="unit"><i class="fa-solid fa-peseta-sign"></i></div>
        </div>
        <div class="budget">
          <div class="key">Bisheriges Gebot:</div>
          <div class="spacer"></div>
          <div class="value">{{ initialOfferValue | number : '1.0' }}</div>
          <div class="unit"><i class="fa-solid fa-peseta-sign"></i></div>
        </div>
      </div>
    </div>
  </ng-container>

  <form>
    <div class="offer">
      <div class="bar">
        <div class="arrow up" (click)="updateOffer(1, 'offerE10000000')"><i class="fas fa-chevron-up"></i></div>
        <input
          [(ngModel)]="offerE10000000"
          (input)="onChangeInput($event.target, 'offerE10000000')"
          name="offerE10000000"
          type="number"
          min="0"
          max="9"
          autocomplete="off"
        />
        <div class="arrow down" (click)="updateOffer(-1, 'offerE10000000')"><i class="fas fa-chevron-down"></i></div>
      </div>

      <div class="bar">
        <div class="arrow up" (click)="updateOffer(1, 'offerE1000000')"><i class="fas fa-chevron-up"></i></div>
        <input
          [(ngModel)]="offerE1000000"
          (input)="onChangeInput($event.target, 'offerE1000000')"
          name="offerE1000000"
          type="number"
          min="0"
          max="9"
          autocomplete="off"
        />
        <div class="arrow down" (click)="updateOffer(-1, 'offerE1000000')"><i class="fas fa-chevron-down"></i></div>
      </div>

      <div class="seperator">.</div>

      <div class="bar">
        <div class="arrow up" (click)="updateOffer(1, 'offerE100000')"><i class="fas fa-chevron-up"></i></div>
        <input
          [(ngModel)]="offerE100000"
          (input)="onChangeInput($event.target, 'offerE100000')"
          name="offerE100000"
          type="number"
          min="0"
          max="9"
          autocomplete="off"
        />
        <div class="arrow down" (click)="updateOffer(-1, 'offerE100000')"><i class="fas fa-chevron-down"></i></div>
      </div>

      <div class="bar">
        <div class="arrow up" (click)="updateOffer(1, 'offerE10000')"><i class="fas fa-chevron-up"></i></div>
        <input
          [(ngModel)]="offerE10000"
          (input)="onChangeInput($event.target, 'offerE100000')"
          name="offerE10000"
          type="number"
          min="0"
          max="9"
          autocomplete="off"
        />
        <div class="arrow down" (click)="updateOffer(-1, 'offerE10000')"><i class="fas fa-chevron-down"></i></div>
      </div>
      <div class="bar">
        <div class="arrow up disabled"><i class="fas fa-chevron-up"></i></div>
        <input type="number" disabled value="0" autocomplete="off" min="0" max="9" />
        <div class="arrow down disabled"><i class="fas fa-chevron-down"></i></div>
      </div>

      <div class="seperator">.</div>

      <div class="bar">
        <div class="arrow up disabled"><i class="fas fa-chevron-up"></i></div>
        <input type="number" disabled value="0" autocomplete="off" min="0" max="9" />
        <div class="arrow down disabled"><i class="fas fa-chevron-down"></i></div>
      </div>
      <div class="bar">
        <div class="arrow up disabled"><i class="fas fa-chevron-up"></i></div>
        <input type="number" disabled value="0" autocomplete="off" min="0" max="9" />
        <div class="arrow down disabled"><i class="fas fa-chevron-down"></i></div>
      </div>
      <div class="bar">
        <div class="arrow up disabled"><i class="fas fa-chevron-up"></i></div>
        <input type="number" disabled value="0" autocomplete="off" min="0" max="9" />
        <div class="arrow down disabled"><i class="fas fa-chevron-down"></i></div>
      </div>

      <i class="fa-solid fa-peseta-sign"></i>
    </div>

    <div class="buttons">
      <button type="submit" [class.disabled]="!isValidOffer()" [disabled]="!isValidOffer()" (click)="onNext()">Abschicken</button>
      <div class="spacer"></div>
      <button type="submit" class="cancel" (click)="onCancel()">Abbrechen</button>
    </div>
  </form>
</div>

<div class="container" *ngIf="step === 2">
  <svg id="successAnimation" class="animated" xmlns="http://www.w3.org/2000/svg" width="70" height="70" viewBox="0 0 70 70">
    <path
      id="successAnimationResult"
      fill="#D8D8D8"
      d="M35,60 C21.1928813,60 10,48.8071187 10,35 C10,21.1928813 21.1928813,10 35,10 C48.8071187,10 60,21.1928813 60,35 C60,48.8071187 48.8071187,60 35,60 Z M23.6332378,33.2260427 L22.3667622,34.7739573 L34.1433655,44.40936 L47.776114,27.6305926 L46.223886,26.3694074 L33.8566345,41.59064 L23.6332378,33.2260427 Z"
    />
    <circle
      id="successAnimationCircle"
      cx="35"
      cy="35"
      r="24"
      stroke="#979797"
      stroke-width="2"
      stroke-linecap="round"
      fill="transparent"
    />
    <polyline id="successAnimationCheck" stroke="#979797" stroke-width="2" points="23 34 34 43 47 27" fill="transparent" />
  </svg>
  <div class="buttons">
    <button type="submit" (click)="onMarket()">Weiter zum Transfermarkt</button>
    <div class="space"></div>
    <button type="submit" (click)="onOffer()">Eigene Gebote sehen</button>
  </div>
</div>
