<div id="content">
  <div class="column main">
    <h3>Ewige Tabelle</h3>
    <div class="table">
      <div class="table-header">
        <div class="item sortable" (click)="sortBy('manager_name')" [class.active]="orderBy === 'manager_name'">
          <i class="icon fa-solid fa-sort" *ngIf="orderBy !== 'manager_name'"></i>
          <i class="icon fa-solid fa-sort-up" *ngIf="orderBy === 'manager_name' && orderDirection === 'ASC'"></i>
          <i class="icon fa-solid fa-sort-down" *ngIf="orderBy === 'manager_name' && orderDirection === 'DESC'"></i>
          Team
        </div>
        <div class="spacer"></div>
        <div class="item sortable right desktop" (click)="sortBy('seasons')" [class.active]="orderBy === 'seasons'">
          <i class="icon fa-solid fa-sort" *ngIf="orderBy !== 'seasons'"></i>
          <i class="icon fa-solid fa-sort-up" *ngIf="orderBy === 'seasons' && orderDirection === 'ASC'"></i>
          <i class="icon fa-solid fa-sort-down" *ngIf="orderBy === 'seasons' && orderDirection === 'DESC'"></i>
          Saisons
        </div>
        <div class="item sortable right" (click)="sortBy('average')" [class.active]="orderBy === 'average'">
          <i class="icon fa-solid fa-sort" *ngIf="orderBy !== 'average'"></i>
          <i class="icon fa-solid fa-sort-up" *ngIf="orderBy === 'average' && orderDirection === 'ASC'"></i>
          <i class="icon fa-solid fa-sort-down" *ngIf="orderBy === 'average' && orderDirection === 'DESC'"></i>
          ⌀ Punkte/Spieltag
        </div>
        <div class="item sortable right" (click)="sortBy('points')" [class.active]="orderBy === 'points'">
          <i class="icon fa-solid fa-sort" *ngIf="orderBy !== 'points'"></i>
          <i class="icon fa-solid fa-sort-up" *ngIf="orderBy === 'points' && orderDirection === 'ASC'"></i>
          <i class="icon fa-solid fa-sort-down" *ngIf="orderBy === 'points' && orderDirection === 'DESC'"></i>
          Punkte
        </div>
      </div>
      <div class="table-body shadow rounded">
        <a class="table-row animated" *ngFor="let manager of manager_list; let i = index" [routerLink]="['/manager', manager.managerName]">
          <div class="item left">
            <span class="index">{{ i + 1 }}.</span>
            <img
              class="circle photo"
              src="{{ 'http://img.die-bestesten.de/img/manager/' + manager.managerId + '.jpg' }}"
              *ngIf="manager.hasPhoto"
            />{{ manager.managerName }}
            <div class="trophies">
              <img
                class="tiny"
                src="./../../../../assets/img/icon/24/trophy.png"
                *ngFor="let item of createArray(getHonourByManagerCount(manager))"
              />
            </div>
          </div>
          <div class="spacer"></div>
          <div class="item right desktop">{{ manager.teamList.length }}</div>
          <div class="item right">{{ manager.getAveragePoints() | number : '1.2-2' }}</div>
          <div class="item points right">{{ manager.points | number : '1.0' }}</div>
        </a>
      </div>
    </div>
  </div>
</div>
