<div id="content">
  <div class="powerranking">
    <div class="manager">
      <div class="bold">Echte Tabelle</div>
    </div>
    <div class="team" *ngFor="let team of league_table">
      <img src="http://img.die-bestesten.de/img/team/{{ season_id }}/{{ team.teamId }}.png" />
    </div>
  </div>

  <ng-container *ngFor="let manager of manager_list">
    <ng-container *ngIf="manager.powerranking.length > 0">
      <div class="powerranking">
        <div class="manager">
          <img class="avatar" src="http://img.die-bestesten.de/img/manager/{{ manager.manager_id }}.jpg" />
          <div class="diff" [class.perfect]="getDiffOfManager(manager) === 0">{{ getDiffOfManager(manager) }}</div>
        </div>

        <div class="team" *ngFor="let team of manager.powerranking; let i = index">
          <img src="http://img.die-bestesten.de/img/team/{{ season_id }}/{{ team.team_id }}.png" />
          <div
            class="diff"
            [class.perfect]="getDiffOfSingleTeam(team.team_id, i) === 0"
            [class.bad]="getDiffOfSingleTeam(team.team_id, i) > 9"
          >
            {{ getDiffOfSingleTeam(team.team_id, i) }}
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>
