#content {
  display: flex;
  justify-content: center;
  gap: 48px;
  margin-top: 48px;
  .powerranking {
    display: flex;
    flex-direction: column;
    width: 40px;
    gap: 8px;
    .team,
    .manager {
      position: relative;
      img {
        width: 40px;
        height: 40px;
        object-fit: cover;
        &.avatar {
          border-radius: 50%;
        }
      }
      .bold {
        height: 40px;
        width: 40px;
        text-align: center;
        margin-bottom: 12px;
      }
      .diff {
        border-radius: 5px;
        padding: 1px 0;
        width: 24px;
        text-align: center;
        color: #444;
        background-color: #ddd;
        border: 1px solid rgba(0, 0, 0, 0.2);
        font-size: 0.75rem;
        font-weight: 700;
        position: absolute;
        top: 50%;
        right: -24px;
        transform: translateY(-50%);
        &.perfect {
          background-color: #2da533;
          color: white;
        }
        &.bad {
          background-color: #e23528;
          color: white;
        }
      }
    }
  }
}
