.center {
  width: 100%;
  text-align: center;
}

.group-list {
  gap: 64px;
  display: flex;
  flex-direction: column;
  .phase {
    display: flex;
  }
  .group {
    display: flex;
  }
}

h3 {
  display: flex;
  justify-content: center;
  align-items: baseline;
  text-decoration: underline;
  b {
    margin-left: 4px;
  }
}

h4 {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.info {
  background-color: hsl(50, 50, 90%);
  padding: 8px 16px;
  border-radius: 8px;
  .fa-solid {
    margin-right: 8px;
    color: hsl(50, 50, 50%);
    font-size: 1.2em;
  }
}
