<div class="flex h group-list" *ngIf="!isLoading">
  <div class="direct">
    <h2>Viertelfinale</h2>
    <div class="info">
      <i class="fa-solid fa-circle-info"></i>
      Auslosung für die weitere Runde folgt. @Thommy
    </div>
  </div>
  <div class="direct">
    <h2>Achtelfinale</h2>
    <div class="phase">
      <div class="column">
        <h4>Hinspiel (27. Spieltag)</h4>
        <app-match [home]="getTeam(0)" [away]="getTeam(6)" [matchday]="27" [mode]="'points'"></app-match>
        <app-match [home]="getTeam(1)" [away]="getTeam(8)" [matchday]="27" [mode]="'points'"></app-match>
        <app-match [home]="getTeam(4)" [away]="getTeam(2)" [matchday]="27" [mode]="'points'"></app-match>
        <app-match [home]="getTeam(10)" [away]="getTeam(11)" [matchday]="27" [mode]="'points'"></app-match>
      </div>
      <div class="column">
        <h4>Rückspiel (28. Spieltag)</h4>
        <app-match [home]="getTeam(6)" [away]="getTeam(0)" [matchday]="28" [mode]="'points'"></app-match>
        <app-match [home]="getTeam(8)" [away]="getTeam(1)" [matchday]="28" [mode]="'points'"></app-match>
        <app-match [home]="getTeam(2)" [away]="getTeam(4)" [matchday]="28" [mode]="'points'"></app-match>
        <app-match [home]="getTeam(11)" [away]="getTeam(10)" [matchday]="28" [mode]="'points'"></app-match>
      </div>
    </div>
  </div>
  <div class="group">
    <div class="column">
      <h3>Gruppe <b>A</b></h3>
      <div class="table">
        <div class="table-header">
          <div class="item">Team</div>
          <div class="spacer"></div>
          <div class="item right tiny">Tore</div>
          <div class="item right tiny">Punkte</div>
        </div>

        <!-- Stand 15. BL Spieltag -->
        <div class="table-body shadow rounded">
          <app-table-row [team]="getTeam(3)" [goals]="'746:523'" [points]="48"></app-table-row>
          <app-table-row [team]="getTeam(9)" [goals]="'804:613'" [points]="48"></app-table-row>
          <app-table-row [team]="getTeam(0)" [goals]="'587:664'" [points]="27"></app-table-row>
          <app-table-row [team]="getTeam(1)" [goals]="'611:697'" [points]="27"></app-table-row>
          <app-table-row [team]="getTeam(11)" [goals]="'606:672'" [points]="18"></app-table-row>
          <app-table-row [team]="getTeam(2)" [goals]="'507:692'" [points]="12"></app-table-row>
        </div>
      </div>

      <!-- HINRUNDE -->
      <h3>1. Quartal</h3>

      <h4>1. Spieltag</h4>
      <div class="table">
        <div class="table-body">
          <app-match [home]="getTeam(11)" [away]="getTeam(1)" [matchday]="1" [mode]="'points'"></app-match>
          <app-match [home]="getTeam(0)" [away]="getTeam(9)" [matchday]="1" [mode]="'points'"></app-match>
          <app-match [home]="getTeam(2)" [away]="getTeam(3)" [matchday]="1" [mode]="'points'"></app-match>
        </div>
      </div>

      <h4>2. Spieltag</h4>
      <div class="table">
        <div class="table-body">
          <app-match [home]="getTeam(9)" [away]="getTeam(2)" [matchday]="2" [mode]="'points'"></app-match>
          <app-match [home]="getTeam(3)" [away]="getTeam(11)" [matchday]="2" [mode]="'points'"></app-match>
          <app-match [home]="getTeam(1)" [away]="getTeam(0)" [matchday]="2" [mode]="'points'"></app-match>
        </div>
      </div>

      <h4>3. Spieltag</h4>
      <div class="table">
        <div class="table-body">
          <app-match [home]="getTeam(11)" [away]="getTeam(0)" [matchday]="3" [mode]="'points'"></app-match>
          <app-match [home]="getTeam(3)" [away]="getTeam(9)" [matchday]="3" [mode]="'points'"></app-match>
          <app-match [home]="getTeam(2)" [away]="getTeam(1)" [matchday]="3" [mode]="'points'"></app-match>
        </div>
      </div>

      <h4>5. Spieltag</h4>
      <div class="table">
        <div class="table-body">
          <app-match [home]="getTeam(11)" [away]="getTeam(9)" [matchday]="5" [mode]="'points'"></app-match>
          <app-match [home]="getTeam(0)" [away]="getTeam(2)" [matchday]="5" [mode]="'points'"></app-match>
          <app-match [home]="getTeam(1)" [away]="getTeam(3)" [matchday]="5" [mode]="'points'"></app-match>
        </div>
      </div>

      <h4>6. Spieltag</h4>
      <div class="table">
        <div class="table-body">
          <app-match [home]="getTeam(9)" [away]="getTeam(1)" [matchday]="6" [mode]="'points'"></app-match>
          <app-match [home]="getTeam(3)" [away]="getTeam(0)" [matchday]="6" [mode]="'points'"></app-match>
          <app-match [home]="getTeam(2)" [away]="getTeam(11)" [matchday]="6" [mode]="'points'"></app-match>
        </div>
      </div>

      <h3>2. Quartal</h3>

      <h4>8. Spieltag</h4>
      <div class="table">
        <div class="table-body">
          <app-match [home]="getTeam(1)" [away]="getTeam(11)" [matchday]="8" [mode]="'points'"></app-match>
          <app-match [home]="getTeam(9)" [away]="getTeam(0)" [matchday]="8" [mode]="'points'"></app-match>
          <app-match [home]="getTeam(3)" [away]="getTeam(2)" [matchday]="8" [mode]="'points'"></app-match>
        </div>
      </div>

      <h4>9. Spieltag</h4>
      <div class="table">
        <div class="table-body">
          <app-match [home]="getTeam(2)" [away]="getTeam(9)" [matchday]="9" [mode]="'points'"></app-match>
          <app-match [home]="getTeam(11)" [away]="getTeam(3)" [matchday]="9" [mode]="'points'"></app-match>
          <app-match [home]="getTeam(0)" [away]="getTeam(1)" [matchday]="9" [mode]="'points'"></app-match>
        </div>
      </div>

      <h4>10. Spieltag</h4>
      <div class="table">
        <div class="table-body">
          <app-match [home]="getTeam(0)" [away]="getTeam(11)" [matchday]="10" [mode]="'points'"></app-match>
          <app-match [home]="getTeam(9)" [away]="getTeam(3)" [matchday]="10" [mode]="'points'"></app-match>
          <app-match [home]="getTeam(1)" [away]="getTeam(2)" [matchday]="10" [mode]="'points'"></app-match>
        </div>
      </div>

      <h4>12. Spieltag</h4>
      <div class="table">
        <div class="table-body">
          <app-match [home]="getTeam(9)" [away]="getTeam(11)" [matchday]="12" [mode]="'points'"></app-match>
          <app-match [home]="getTeam(2)" [away]="getTeam(0)" [matchday]="12" [mode]="'points'"></app-match>
          <app-match [home]="getTeam(3)" [away]="getTeam(1)" [matchday]="12" [mode]="'points'"></app-match>
        </div>
      </div>

      <h4>13. Spieltag</h4>
      <div class="table">
        <div class="table-body">
          <app-match [home]="getTeam(1)" [away]="getTeam(9)" [matchday]="13" [mode]="'points'"></app-match>
          <app-match [home]="getTeam(0)" [away]="getTeam(3)" [matchday]="13" [mode]="'points'"></app-match>
          <app-match [home]="getTeam(11)" [away]="getTeam(2)" [matchday]="13" [mode]="'points'"></app-match>
        </div>
      </div>

      <!-- RÜCKRUNDE -->
      <h3>3. Quartal</h3>

      <h4>15. Spieltag</h4>
      <div class="table">
        <div class="table-body">
          <app-match [home]="getTeam(1)" [away]="getTeam(11)" [matchday]="15" [mode]="'points'"></app-match>
          <app-match [home]="getTeam(9)" [away]="getTeam(0)" [matchday]="15" [mode]="'points'"></app-match>
          <app-match [home]="getTeam(3)" [away]="getTeam(2)" [matchday]="15" [mode]="'points'"></app-match>
        </div>
      </div>

      <h4>16. Spieltag</h4>
      <div class="table">
        <div class="table-body">
          <app-match [home]="getTeam(2)" [away]="getTeam(9)" [matchday]="16" [mode]="'points'"></app-match>
          <app-match [home]="getTeam(11)" [away]="getTeam(3)" [matchday]="16" [mode]="'points'"></app-match>
          <app-match [home]="getTeam(0)" [away]="getTeam(1)" [matchday]="16" [mode]="'points'"></app-match>
        </div>
      </div>

      <h4>17. Spieltag</h4>
      <div class="table">
        <div class="table-body">
          <app-match [home]="getTeam(0)" [away]="getTeam(11)" [matchday]="17" [mode]="'points'"></app-match>
          <app-match [home]="getTeam(9)" [away]="getTeam(3)" [matchday]="17" [mode]="'points'"></app-match>
          <app-match [home]="getTeam(1)" [away]="getTeam(2)" [matchday]="17" [mode]="'points'"></app-match>
        </div>
      </div>

      <h4>19. Spieltag</h4>
      <div class="table">
        <div class="table-body">
          <app-match [home]="getTeam(9)" [away]="getTeam(11)" [matchday]="19" [mode]="'points'"></app-match>
          <app-match [home]="getTeam(2)" [away]="getTeam(0)" [matchday]="19" [mode]="'points'"></app-match>
          <app-match [home]="getTeam(3)" [away]="getTeam(1)" [matchday]="19" [mode]="'points'"></app-match>
        </div>
      </div>

      <h4>20. Spieltag</h4>
      <div class="table">
        <div class="table-body">
          <app-match [home]="getTeam(1)" [away]="getTeam(9)" [matchday]="20" [mode]="'points'"></app-match>
          <app-match [home]="getTeam(0)" [away]="getTeam(3)" [matchday]="20" [mode]="'points'"></app-match>
          <app-match [home]="getTeam(11)" [away]="getTeam(2)" [matchday]="20" [mode]="'points'"></app-match>
        </div>
      </div>

      <h3>4. Quartal</h3>

      <h4>22. Spieltag</h4>
      <div class="table">
        <div class="table-body">
          <app-match [home]="getTeam(11)" [away]="getTeam(1)" [matchday]="22" [mode]="'points'"></app-match>
          <app-match [home]="getTeam(0)" [away]="getTeam(9)" [matchday]="22" [mode]="'points'"></app-match>
          <app-match [home]="getTeam(2)" [away]="getTeam(3)" [matchday]="22" [mode]="'points'"></app-match>
        </div>
      </div>

      <h4>23. Spieltag</h4>
      <div class="table">
        <div class="table-body">
          <app-match [home]="getTeam(9)" [away]="getTeam(2)" [matchday]="23" [mode]="'points'"></app-match>
          <app-match [home]="getTeam(3)" [away]="getTeam(11)" [matchday]="23" [mode]="'points'"></app-match>
          <app-match [home]="getTeam(1)" [away]="getTeam(0)" [matchday]="23" [mode]="'points'"></app-match>
        </div>
      </div>

      <h4>24. Spieltag</h4>
      <div class="table">
        <div class="table-body">
          <app-match [home]="getTeam(11)" [away]="getTeam(0)" [matchday]="24" [mode]="'points'"></app-match>
          <app-match [home]="getTeam(3)" [away]="getTeam(9)" [matchday]="24" [mode]="'points'"></app-match>
          <app-match [home]="getTeam(2)" [away]="getTeam(1)" [matchday]="24" [mode]="'points'"></app-match>
        </div>
      </div>

      <h4>25. Spieltag</h4>
      <div class="table">
        <div class="table-body">
          <app-match [home]="getTeam(11)" [away]="getTeam(9)" [matchday]="25" [mode]="'points'"></app-match>
          <app-match [home]="getTeam(0)" [away]="getTeam(2)" [matchday]="25" [mode]="'points'"></app-match>
          <app-match [home]="getTeam(1)" [away]="getTeam(3)" [matchday]="25" [mode]="'points'"></app-match>
        </div>
      </div>

      <h4>26. Spieltag</h4>
      <div class="table">
        <div class="table-body">
          <app-match [home]="getTeam(9)" [away]="getTeam(1)" [matchday]="26" [mode]="'points'"></app-match>
          <app-match [home]="getTeam(3)" [away]="getTeam(0)" [matchday]="26" [mode]="'points'"></app-match>
          <app-match [home]="getTeam(2)" [away]="getTeam(11)" [matchday]="26" [mode]="'points'"></app-match>
        </div>
      </div>
    </div>

    <div class="column">
      <h3>Gruppe <b>B</b></h3>
      <div class="table">
        <div class="table-header">
          <div class="item">Team</div>
          <div class="spacer"></div>
          <div class="item right tiny">Tore</div>
          <div class="item right tiny">Punkte</div>
        </div>
        <!-- Stand 15. BL Spieltag -->
        <div class="table-body shadow rounded">
          <app-table-row [team]="getTeam(7)" [goals]="'748:692'" [points]="37"></app-table-row>
          <app-table-row [team]="getTeam(5)" [goals]="'702:654'" [points]="36"></app-table-row>
          <app-table-row [team]="getTeam(4)" [goals]="'657:695'" [points]="34"></app-table-row>
          <app-table-row [team]="getTeam(10)" [goals]="'704:615'" [points]="27"></app-table-row>
          <app-table-row [team]="getTeam(8)" [goals]="'600:610'" [points]="25"></app-table-row>
          <app-table-row [team]="getTeam(6)" [goals]="'523:668'" [points]="19"></app-table-row>
        </div>
      </div>

      <!-- HINRUNDE -->
      <h3>1. Quartal</h3>

      <h4>1. Spieltag</h4>
      <div class="table">
        <div class="table-body">
          <app-match [home]="getTeam(8)" [away]="getTeam(7)" [matchday]="1" [mode]="'points'"></app-match>
          <app-match [home]="getTeam(6)" [away]="getTeam(4)" [matchday]="1" [mode]="'points'"></app-match>
          <app-match [home]="getTeam(5)" [away]="getTeam(10)" [matchday]="1" [mode]="'points'"></app-match>
        </div>
      </div>

      <h4>2. Spieltag</h4>
      <div class="table">
        <div class="table-body">
          <app-match [home]="getTeam(4)" [away]="getTeam(5)" [matchday]="2" [mode]="'points'"></app-match>
          <app-match [home]="getTeam(10)" [away]="getTeam(8)" [matchday]="2" [mode]="'points'"></app-match>
          <app-match [home]="getTeam(7)" [away]="getTeam(6)" [matchday]="2" [mode]="'points'"></app-match>
        </div>
      </div>

      <h4>3. Spieltag</h4>
      <div class="table">
        <div class="table-body">
          <app-match [home]="getTeam(8)" [away]="getTeam(6)" [matchday]="3" [mode]="'points'"></app-match>
          <app-match [home]="getTeam(10)" [away]="getTeam(4)" [matchday]="3" [mode]="'points'"></app-match>
          <app-match [home]="getTeam(5)" [away]="getTeam(7)" [matchday]="3" [mode]="'points'"></app-match>
        </div>
      </div>

      <h4>5. Spieltag</h4>
      <div class="table">
        <div class="table-body">
          <app-match [home]="getTeam(8)" [away]="getTeam(4)" [matchday]="5" [mode]="'points'"></app-match>
          <app-match [home]="getTeam(6)" [away]="getTeam(5)" [matchday]="5" [mode]="'points'"></app-match>
          <app-match [home]="getTeam(7)" [away]="getTeam(10)" [matchday]="5" [mode]="'points'"></app-match>
        </div>
      </div>

      <h4>6. Spieltag</h4>
      <div class="table">
        <div class="table-body">
          <app-match [home]="getTeam(4)" [away]="getTeam(7)" [matchday]="6" [mode]="'points'"></app-match>
          <app-match [home]="getTeam(10)" [away]="getTeam(6)" [matchday]="6" [mode]="'points'"></app-match>
          <app-match [home]="getTeam(5)" [away]="getTeam(8)" [matchday]="6" [mode]="'points'"></app-match>
        </div>
      </div>

      <h3>2. Quartal</h3>

      <h4>8. Spieltag</h4>
      <div class="table">
        <div class="table-body">
          <app-match [home]="getTeam(7)" [away]="getTeam(8)" [matchday]="8" [mode]="'points'"></app-match>
          <app-match [home]="getTeam(4)" [away]="getTeam(6)" [matchday]="8" [mode]="'points'"></app-match>
          <app-match [home]="getTeam(10)" [away]="getTeam(5)" [matchday]="8" [mode]="'points'"></app-match>
        </div>
      </div>

      <h4>9. Spieltag</h4>
      <div class="table">
        <div class="table-body">
          <app-match [home]="getTeam(5)" [away]="getTeam(4)" [matchday]="9" [mode]="'points'"></app-match>
          <app-match [home]="getTeam(8)" [away]="getTeam(10)" [matchday]="9" [mode]="'points'"></app-match>
          <app-match [home]="getTeam(6)" [away]="getTeam(7)" [matchday]="9" [mode]="'points'"></app-match>
        </div>
      </div>

      <h4>10. Spieltag</h4>
      <div class="table">
        <div class="table-body">
          <app-match [home]="getTeam(6)" [away]="getTeam(8)" [matchday]="10" [mode]="'points'"></app-match>
          <app-match [home]="getTeam(4)" [away]="getTeam(10)" [matchday]="10" [mode]="'points'"></app-match>
          <app-match [home]="getTeam(7)" [away]="getTeam(5)" [matchday]="10" [mode]="'points'"></app-match>
        </div>
      </div>

      <h4>12. Spieltag</h4>
      <div class="table">
        <div class="table-body">
          <app-match [home]="getTeam(4)" [away]="getTeam(8)" [matchday]="12" [mode]="'points'"></app-match>
          <app-match [home]="getTeam(5)" [away]="getTeam(6)" [matchday]="12" [mode]="'points'"></app-match>
          <app-match [home]="getTeam(10)" [away]="getTeam(7)" [matchday]="12" [mode]="'points'"></app-match>
        </div>
      </div>

      <h4>13. Spieltag</h4>
      <div class="table">
        <div class="table-body">
          <app-match [home]="getTeam(7)" [away]="getTeam(4)" [matchday]="13" [mode]="'points'"></app-match>
          <app-match [home]="getTeam(6)" [away]="getTeam(10)" [matchday]="13" [mode]="'points'"></app-match>
          <app-match [home]="getTeam(8)" [away]="getTeam(5)" [matchday]="13" [mode]="'points'"></app-match>
        </div>
      </div>

      <!-- RÜCKRUNDE -->
      <h3>3. Quartal</h3>

      <h4>15. Spieltag</h4>
      <div class="table">
        <div class="table-body">
          <app-match [home]="getTeam(7)" [away]="getTeam(8)" [matchday]="15" [mode]="'points'"></app-match>
          <app-match [home]="getTeam(4)" [away]="getTeam(6)" [matchday]="15" [mode]="'points'"></app-match>
          <app-match [home]="getTeam(10)" [away]="getTeam(5)" [matchday]="15" [mode]="'points'"></app-match>
        </div>
      </div>

      <h4>16. Spieltag</h4>
      <div class="table">
        <div class="table-body">
          <app-match [home]="getTeam(5)" [away]="getTeam(4)" [matchday]="16" [mode]="'points'"></app-match>
          <app-match [home]="getTeam(8)" [away]="getTeam(10)" [matchday]="16" [mode]="'points'"></app-match>
          <app-match [home]="getTeam(6)" [away]="getTeam(7)" [matchday]="16" [mode]="'points'"></app-match>
        </div>
      </div>

      <h4>17. Spieltag</h4>
      <div class="table">
        <div class="table-body">
          <app-match [home]="getTeam(6)" [away]="getTeam(8)" [matchday]="17" [mode]="'points'"></app-match>
          <app-match [home]="getTeam(4)" [away]="getTeam(10)" [matchday]="17" [mode]="'points'"></app-match>
          <app-match [home]="getTeam(7)" [away]="getTeam(5)" [matchday]="17" [mode]="'points'"></app-match>
        </div>
      </div>

      <h4>19. Spieltag</h4>
      <div class="table">
        <div class="table-body">
          <app-match [home]="getTeam(4)" [away]="getTeam(8)" [matchday]="19" [mode]="'points'"></app-match>
          <app-match [home]="getTeam(5)" [away]="getTeam(6)" [matchday]="19" [mode]="'points'"></app-match>
          <app-match [home]="getTeam(10)" [away]="getTeam(7)" [matchday]="19" [mode]="'points'"></app-match>
        </div>
      </div>

      <h4>20. Spieltag</h4>
      <div class="table">
        <div class="table-body">
          <app-match [home]="getTeam(7)" [away]="getTeam(4)" [matchday]="20" [mode]="'points'"></app-match>
          <app-match [home]="getTeam(6)" [away]="getTeam(10)" [matchday]="20" [mode]="'points'"></app-match>
          <app-match [home]="getTeam(8)" [away]="getTeam(5)" [matchday]="20" [mode]="'points'"></app-match>
        </div>
      </div>

      <h3>4. Quartal</h3>

      <h4>22. Spieltag</h4>
      <div class="table">
        <div class="table-body">
          <app-match [home]="getTeam(8)" [away]="getTeam(7)" [matchday]="22" [mode]="'points'"></app-match>
          <app-match [home]="getTeam(6)" [away]="getTeam(4)" [matchday]="22" [mode]="'points'"></app-match>
          <app-match [home]="getTeam(5)" [away]="getTeam(10)" [matchday]="22" [mode]="'points'"></app-match>
        </div>
      </div>

      <h4>23. Spieltag</h4>
      <div class="table">
        <div class="table-body">
          <app-match [home]="getTeam(4)" [away]="getTeam(5)" [matchday]="23" [mode]="'points'"></app-match>
          <app-match [home]="getTeam(10)" [away]="getTeam(8)" [matchday]="23" [mode]="'points'"></app-match>
          <app-match [home]="getTeam(7)" [away]="getTeam(6)" [matchday]="23" [mode]="'points'"></app-match>
        </div>
      </div>

      <h4>24. Spieltag</h4>
      <div class="table">
        <div class="table-body">
          <app-match [home]="getTeam(8)" [away]="getTeam(6)" [matchday]="24" [mode]="'points'"></app-match>
          <app-match [home]="getTeam(10)" [away]="getTeam(4)" [matchday]="24" [mode]="'points'"></app-match>
          <app-match [home]="getTeam(5)" [away]="getTeam(7)" [matchday]="24" [mode]="'points'"></app-match>
        </div>
      </div>

      <h4>25. Spieltag</h4>
      <div class="table">
        <div class="table-body">
          <app-match [home]="getTeam(8)" [away]="getTeam(4)" [matchday]="25" [mode]="'points'"></app-match>
          <app-match [home]="getTeam(6)" [away]="getTeam(5)" [matchday]="25" [mode]="'points'"></app-match>
          <app-match [home]="getTeam(7)" [away]="getTeam(10)" [matchday]="25" [mode]="'points'"></app-match>
        </div>
      </div>

      <h4>26. Spieltag</h4>
      <div class="table">
        <div class="table-body">
          <app-match [home]="getTeam(4)" [away]="getTeam(7)" [matchday]="26" [mode]="'points'"></app-match>
          <app-match [home]="getTeam(10)" [away]="getTeam(6)" [matchday]="26" [mode]="'points'"></app-match>
          <app-match [home]="getTeam(5)" [away]="getTeam(8)" [matchday]="26" [mode]="'points'"></app-match>
        </div>
      </div>
    </div>
  </div>
</div>
