<div class="button-container">
  <div class="button" [class.active]="!onlyOwnOffers" (click)="onlyOwnOffers = false">Alle Gebote</div>
  <div class="button" [class.active]="onlyOwnOffers" (click)="onlyOwnOffers = true">Nur eigene Gebote</div>
</div>

<div class="position-container">
  <div
    class="position goalkeeper rounded shadow"
    [class.selected]="isPositionSelected('GOALKEEPER')"
    [class.unselected]="!isPositionSelected('GOALKEEPER')"
    (click)="onSelectPosition('GOALKEEPER')"
  >
    Tor
  </div>
  <div
    class="position defender rounded shadow"
    [class.selected]="isPositionSelected('DEFENDER')"
    [class.unselected]="!isPositionSelected('DEFENDER')"
    (click)="onSelectPosition('DEFENDER')"
  >
    Abwehr
  </div>
  <div
    class="position midfielder rounded shadow"
    [class.selected]="isPositionSelected('MIDFIELDER')"
    [class.unselected]="!isPositionSelected('MIDFIELDER')"
    (click)="onSelectPosition('MIDFIELDER')"
  >
    Mittelfeld
  </div>
  <div
    class="position forward rounded shadow"
    [class.selected]="isPositionSelected('FORWARD')"
    [class.unselected]="!isPositionSelected('FORWARD')"
    (click)="onSelectPosition('FORWARD')"
  >
    Sturm
  </div>
</div>

<div class="player-container">
  <db-loading class="loading" *ngIf="!groupedOfferList && loading" style="height: 360px; width: 100%; float: left"></db-loading>
  <ng-container *ngIf="groupedOfferList">
    <ng-container *ngFor="let groupedOffer of groupedOfferList">
      <ng-container *ngIf="isVisible(groupedOffer)">
        <div class="player">
          <ng-container *ngIf="hasParticipated(groupedOffer)">
            <div
              class="status"
              [class.success]="isOwnTeam(groupedOffer.offer_list[0].team_id)"
              [class.lost]="!isOwnTeam(groupedOffer.offer_list[0].team_id)"
            ></div>
          </ng-container>

          <div class="info">
            <img
              class="badge"
              *ngIf="groupedOffer.player.club_list[0]"
              src="{{ 'http://img.die-bestesten.de/img/club/' + groupedOffer.player.club_list[0].club_id + '.png' }}"
            />
            <img
              class="photo"
              src="{{
                'http://img.die-bestesten.de/img/player/' +
                  groupedOffer.player.season_list[0].season_id +
                  '/' +
                  groupedOffer.player.player_id +
                  '.png'
              }}"
              *ngIf="groupedOffer.player.season_list[0].has_photo == '1'"
            />
            <img
              class="photo"
              src="./../.././../assets/img/icon/32/player.png"
              *ngIf="groupedOffer.player.season_list[0].has_photo == '0'"
            />
            <div class="displayname">{{ groupedOffer.player.displayname }}</div>
            <img
              class="badge team"
              src="{{
                'http://img.die-bestesten.de/img/team/' + groupedOffer.season_id + '/' + groupedOffer.offer_list[0].owner_team_id + '.png'
              }}"
              *ngIf="groupedOffer.offer_list[0].owner_team_id"
            />
            <div class="spacer"></div>
            <div class="offer-value">{{ groupedOffer.offer_list[0].offer_value | number }}<i class="fa-solid fa-peseta-sign"></i></div>
            <div
              class="relative"
              [class.cheap]="(100 * groupedOffer.offer_list[0].offer_value) / groupedOffer.offer_list[0].price_snapshot == 100"
              [class.expensive]="(100 * groupedOffer.offer_list[0].offer_value) / groupedOffer.offer_list[0].price_snapshot > 100"
              *ngIf="groupedOffer.offer_list[0].price_snapshot"
              matTooltip="Marktwert: {{ groupedOffer.offer_list[0].price_snapshot | number }}"
            >
              {{ (100 * groupedOffer.offer_list[0].offer_value) / groupedOffer.offer_list[0].price_snapshot | number : '1.1-1' }} %
            </div>
            <img
              class="badge team"
              src="{{
                'http://img.die-bestesten.de/img/team/' + groupedOffer.season_id + '/' + groupedOffer.offer_list[0].team_id + '.png'
              }}"
              [matTooltip]="getTimestampString(groupedOffer.offer_list[0])"
            />
          </div>

          <div class="offer-container" *ngIf="groupedOffer.offer_list.length > 1">
            Weitere Bieter:
            <div class="offer" *ngFor="let offer of groupedOffer.offer_list; let i = index">
              <img
                class="badge"
                [class.sameValue]="offer.offer_value === groupedOffer.offer_list[0].offer_value"
                src="{{ 'http://img.die-bestesten.de/img/team/' + groupedOffer.season_id + '/' + offer.team_id + '.png' }}"
                [matTooltip]="getTimestampString(offer)"
                *ngIf="i > 0"
              />
            </div>
          </div>

          <div class="own-offer-value" *ngIf="hasParticipated(groupedOffer) && !isOwnTeam(groupedOffer.offer_list[0].team_id)">
            Eigenes Gebot: {{ getOwnOfferValue(groupedOffer) | number }}<i class="fa-solid fa-peseta-sign"></i>
          </div>
        </div>
      </ng-container>
    </ng-container>

    <div class="empty" *ngIf="groupedOfferList.length === 0">Keine Gebote in diesem Transferfenster</div>
  </ng-container>
</div>
