@import 'src/style/colors.scss';

.button-container {
  display: flex;
  width: calc(100% - 32px);
  margin: 16px 16px 16px;
  font-weight: 600;
  .button {
    flex-grow: 1;
    text-align: center;
    margin: 0 5px 0;
    border-radius: 4px;
    height: 36px;
    line-height: 38px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    color: $dark;
    border-bottom: 4px solid transparent;
    &.active {
      background-color: $white;
      border-bottom: 4px solid $red;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
    }
    &:hover {
      background-color: $white;
    }
  }
  :first-child {
    margin-left: 0px;
  }
  :last-child {
    margin-right: 0px;
  }
}

.position-container {
  display: flex;
  width: calc(100% - 32px);
  margin: 0 16px 16px;
  user-select: none;
  .position {
    height: 36px;
    line-height: 40px;
    background-color: $white;
    border-bottom: 4px solid $white;
    flex-grow: 1;
    text-align: center;
    margin: 0 8px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    font-weight: 600;
    &:first-of-type {
      margin-left: 0px;
    }
    &:last-of-type {
      margin-right: 0px;
    }
    &.unselected {
      transform: scale(0.8);
      opacity: 0.5;
      &:hover {
        opacity: 1;
      }
      &.goalkeeper:hover {
        color: $green;
        border-color: $green;
      }
      &.defender:hover {
        color: $yellow;
        border-color: $yellow;
      }
      &.midfielder:hover {
        color: $blue;
        border-color: $blue;
      }
      &.forward:hover {
        color: $red;
        border-color: $red;
      }
    }
    &.selected {
      color: $white;
      &.goalkeeper {
        background-color: $green;
        border-color: $green;
        &:hover {
          background-color: darken($green, 10%);
          border-color: darken($green, 10%);
        }
      }
      &.defender {
        background-color: $yellow;
        border-color: $yellow;
        &:hover {
          background-color: darken($yellow, 10%);
          border-color: darken($yellow, 10%);
        }
      }
      &.midfielder {
        background-color: $blue;
        border-color: $blue;
        &:hover {
          background-color: darken($blue, 10%);
          border-color: darken($blue, 10%);
        }
      }
      &.forward {
        background-color: $red;
        border-color: $red;
        &:hover {
          background-color: darken($red, 10%);
          border-color: darken($red, 10%);
        }
      }
    }
  }
}

.player-container {
  overflow-y: scroll;
}

.player {
  padding: 12px 12px 12px 20px;
  border-bottom: 1px solid $hover;
  position: relative;

  .status {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 8px;
    &.success {
      background-color: $green;
    }
    &.lost {
      background-color: $red;
    }
  }

  .info {
    display: flex;
    height: 42px;
    line-height: 42px;
    justify-content: space-between;
    .badge {
      margin: 3px 0;
      height: 36px;
      width: 36px;
      object-fit: contain;
      &.team {
        margin-left: 4px;
      }
    }
    .photo {
      height: 36px;
      width: 36px;
      margin: 3px 6px 3px 3px;
      border-radius: 50%;
    }
    .displayname {
      font-size: 18px;
    }
    .offer-value {
      text-align: right;
    }
    .relative {
      position: absolute;
      right: 64px;
      font-size: 10px;
      font-weight: 600;
      top: -6px;
      &.cheap {
        color: $green;
      }
      &.expensive {
        color: $red;
      }
    }
  }

  .offer-container {
    display: flex;
    margin-top: 12px;
    color: $label;
    font-size: 12px;
    height: 24px;
    line-height: 24px;
    .offer {
      .badge {
        height: 24px;
        width: 24px;
        object-fit: contain;
        &.sameValue {
          filter: drop-shadow(0px 0px 4px $yellow);
        }
      }
    }
  }
  .own-offer-value {
    display: flex;
    margin-top: 12px;
    color: $label;
    font-size: 12px;
  }
}

.empty {
  padding: 20px 32px;
}

@media only screen and (max-width: 639px) {
  .button-container {
    .button {
      margin: 0 12px;
      font-size: 10px;
    }
  }
  .info {
    height: 24px !important;
    line-height: 24px !important;
    .badge {
      height: 24px !important;
      width: 24px !important;
    }
    .photo {
      height: 24px !important;
      width: 24px !important;
      margin-right: 4px !important;
    }
    .displayname {
      font-size: 14px !important;
    }
    .offer-value {
      font-size: 14px !important;
    }
  }
}
