<form id="container">
  <mat-form-field>
    <mat-label>Nation</mat-label>
    <mat-select name="country" [(value)]="club.countryCode">
      <mat-option *ngFor="let country of apiService.countryList" [value]="country.country_code">
        {{ country.country_name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="club.name" name="name" (ngModelChange)="onValidateInput('name')" />
    <div class="error" *ngIf="error.name.missing">Name darf nicht leer sein</div>
    <div class="error" *ngIf="error.name.duplicate">Name ist bereits vergeben</div>
  </mat-form-field>

  <div id="finish">
    <button type="submit" class="button cancel" (click)="onCancel()">Abbrechen</button>
    <button type="submit" class="button save" (click)="onSave()" [class.disabled]="!dataIsValid()" [disabled]="!dataIsValid()">
      Speichern
    </button>
  </div>
</form>
