@import 'src/style/colors.scss';

.title {
  margin-bottom: 8px;
  .matchdayNumber {
    font-size: 1.4rem;
    margin-right: 8px;
    font-weight: 600;
  }
  .seasonName {
    font-size: 1.2rem;
    color: $label;
  }
}

.table {
  .table-body {
    .item {
      .fa-peseta-sign {
        transform: translateY(2px);
        margin-left: 4px;
      }
      .valid {
        margin-right: 8px;
      }
      &.mobile {
        display: none;
      }
      .valid {
        margin-left: 16px;
        .positive {
          color: $green;
        }
        .negative {
          color: $red;
        }
      }
    }
  }
}

@media only screen and (max-width: 639px) {
  .table {
    .table-body {
      .item {
        &.mobile {
          display: flex;
        }
        &.desktop {
          display: none;
        }
      }
    }
  }
}
