<div class="title">
  <span class="matchdayNumber">Teams der Saison</span>
  <span class="seasonName">{{ season.season_name }}</span>
</div>

<div class="table">
  <div class="table-header">
    <div class="item sortable" (click)="sortBy('team_name')" [class.active]="orderBy === 'team_name'">
      <i class="fa-solid fa-sort" *ngIf="orderBy !== 'team_name'"></i>
      <i class="fa-solid fa-sort-up" *ngIf="orderBy === 'team_name' && orderDirection === 'ASC'"></i>
      <i class="fa-solid fa-sort-down" *ngIf="orderBy === 'team_name' && orderDirection === 'DESC'"></i>
      Team
    </div>
    <div class="spacer"></div>
    <div class="item right">Kaderstruktur</div>
    <div class="item sortable right" (click)="sortBy('average_price')" [class.active]="orderBy === 'average_price'">
      <i class="fa-solid fa-sort" *ngIf="orderBy !== 'average_price'"></i>
      <i class="fa-solid fa-sort-up" *ngIf="orderBy === 'average_price' && orderDirection === 'ASC'"></i>
      <i class="fa-solid fa-sort-down" *ngIf="orderBy === 'average_price' && orderDirection === 'DESC'"></i>
      Durchschnitt
    </div>
    <div class="item sortable right" (click)="sortBy('total_price')" [class.active]="orderBy === 'total_price'">
      <i class="fa-solid fa-sort" *ngIf="orderBy !== 'total_price'"></i>
      <i class="fa-solid fa-sort-up" *ngIf="orderBy === 'total_price' && orderDirection === 'ASC'"></i>
      <i class="fa-solid fa-sort-down" *ngIf="orderBy === 'total_price' && orderDirection === 'DESC'"></i>
      Marktwert
    </div>
  </div>
  <div class="table-body shadow rounded">
    <div
      class="table-row animated"
      *ngFor="let team of teamList"
      [routerLink]="['/team', formatSeason(season.season_name), formatTeam(team.team_name), 'kader']"
    >
      <div class="item left">
        <img class="badge" src="{{ 'http://img.die-bestesten.de/img/team/' + season.season_id + '/' + team.team_id + '.png' }}" />
        {{ team.team_name }}
      </div>
      <div class="spacer"></div>
      <div class="item right">
        <div class="valid">
          <i class="fas fa-check-circle positive" *ngIf="team.is_valid" matTooltip="Gültiger Kader"></i>
          <i class="fas fa-times-circle negative" *ngIf="!team.is_valid" matTooltip="Ungültiger Kader"></i>
        </div>
        {{ formateSquadCount(team.squad_count) }}
      </div>

      <!-- AVERAGE -->
      <div class="item right desktop">
        {{ team.total_price / getTotalTeamSize(team.squad_count) | number : '1.0-0' }} <i class="fa-solid fa-peseta-sign"></i>
      </div>
      <div class="item right mobile">
        {{ team.total_price / getTotalTeamSize(team.squad_count) / 1000000 | number : '1.3-3' }} M<i class="fa-solid fa-peseta-sign"></i>
      </div>

      <!-- TOTAL -->
      <div class="item right desktop">{{ team.total_price | number }} <i class="fa-solid fa-peseta-sign"></i></div>
      <div class="item right mobile">{{ team.total_price / 1000000 | number : '1.3-3' }} M<i class="fa-solid fa-peseta-sign"></i></div>
    </div>
  </div>
</div>
