@import 'src/style/colors.scss';

h4 {
  display: flex;
  justify-content: center;
  align-items: baseline;
  .hint {
    opacity: 0.6;
    font-weight: 400;
    font-size: 0.75rem;
    margin-left: 8px;
  }
}
.group-list {
  gap: 64px;
  overflow: auto;
  .sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
}

.matchday-list {
  font-weight: 600;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
  .matchday {
    height: 32px;
    width: 32px;
    text-align: center;
    line-height: 32px;
    background-color: $white;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    &:hover {
      background-color: $gray;
    }
    &.selected {
      background-color: $red;
      color: $white;
    }
  }
}
